@model Lighting.Models.model_input

@{
    ViewData["Title"] = "IR_channel_clue";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;

    ViewData["Finance_Statement"] = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    ViewData["SH_IR_prospectus"] = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;

    var Finance_Statement = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    var SH_IR_prospectus = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />
<!---------- IR 02 CORPORATE GOVERNANCE :: CHANNEL CLUE ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Model.count_fod_page_corporate_governance_content > 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                <h5>@Model.fod_page_corporate_governance_content.title_ENG</h5>
                                <h1>@Model.fod_page_corporate_governance_content.titleDetails_ENG</h1>
                            }
                            else
                            {
                                <h5>@Model.fod_page_corporate_governance_content.title_TH</h5>
                                <h1>@Model.fod_page_corporate_governance_content.titleDetails_TH</h1>
                            }
                        }
                        else
                        {
                            <h5>นโยบายการกำกับดูแลกิจการ</h5>
                            <h1>ช่องทางแจ้งเบาะแส</h1>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/Inc/IR_inc_corporate_governance_content.cshtml")
        </div>
    </div>
</div>