
@{
    ViewData["Title"] = "IR_contact";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var Count_IR_Contact = (List<Lighting.Areas.Identity.Data.IR_Contact>)ViewBag.Get_IR_Contact;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 09 CORPORATE INFO :: IR CONTACT ---------->
<div class="content-padding pb-0">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if(Count_IR_Contact.Count() != 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                foreach (var item in ViewBag.Get_IR_Contact)
                                {
                                    <h5>@item.Title_EN</h5>
                                    <h1>@item.SubTitle_EN</h1>
                                }
                            }
                            else
                            {
                                foreach (var item in ViewBag.Get_IR_Contact)
                                {
                                    <h5>@item.Title_TH</h5>
                                    <h1>@item.SubTitle_TH</h1>
                                }
                            }
                        }
                        else
                        {
                            <h5>สอบถามข้อมูลนักลงทุน</h5>
                            <h1>ติดต่อนักลงทุนสัมพันธ์</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="ir-contact-page">
    <div class="IR-index-info contact-page">
        <div class="row justify-content-center">
            @if (Count_IR_Contact.Count() != 0)
            {
                if (Context.Request.Cookies["lang"] == "EN")
                {
                    foreach (var item in ViewBag.Get_IR_Contact)
                    {
                        <div class="col-lg-6 col-md-10">
                            <div class="img-width"><img src="~/upload_image/IR_Contact/@item.Image"></div>
                        </div>
                        <div class="col-lg-6 col-md-9">
                            <div class="BGrayBox">
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info WH-txt">
                                            <li>
                                                <h6>@item.Name_EN</h6>
                                                <p>@item.Position_EN</p>
                                            </li>
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>@item.Address_EN</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>@item.Tel</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                <p>@item.Tel2</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="@item.Email">@item.Email</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    foreach (var item in ViewBag.Get_IR_Contact)
                    {
                        <div class="col-lg-6 col-md-10">
                            <div class="img-width"><img src="~/upload_image/IR_Contact/@item.Image"></div>
                        </div>
                        <div class="col-lg-6 col-md-9">
                            <div class="BGrayBox">
                                <div class="row">
                                    <div class="col">
                                        <ul class="contact-info WH-txt">
                                            <li>
                                                <h6>@item.Name_TH</h6>
                                                <p>@item.Position_TH</p>
                                            </li>
                                            <li class="address">
                                                <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                <p>@item.Address_TH</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                <p>@item.Tel</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                <p>@item.Tel2</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                <p><a href="@item.Email">@item.Email</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div class="col-lg-6 col-md-10">
                    <div class="img-width"><img src="~/Frontend_assets/images/ir/office.jpg"></div>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="BGrayBox">
                        <div class="row">
                            <div class="col">
                                <ul class="contact-info WH-txt">
                                    <li>
                                        <h6>คุณจิตรลดา จริยวิทยานนท์</h6>
                                        <p>เลขานุการบริษัท ผู้จัดการสำนักผู้ลงทุนสัมพันธ์และสื่อสารองค์กร</p>
                                    </li>
                                    <li class="address">
                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                        <p>
                                            <strong>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) <br /></strong>
                                            539/2 ชั้น 16-17 อาคารมหานครยิปซั่ม ถนนศรีอยุธยา แขวงถนนพญาไท เขตราชเทวี กรุงเทพมหานคร 10400
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                        <p>(+66)0-2248-8133, (+66)0-26425092 ต่อ 1001</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                        <p>(+66)0-2248-8144, (+66)0-26425091</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                        <p><a href="mailto:chitladaj@lighting.co.th">chitladaj@lighting.co.th</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }         
        </div>
    </div>
</div>