@model Lighting.Models.model_input

@{
    ViewData["Title"] = "IR_chairman";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />
<!---------- IR 01 CORPORATE INFO :: CHAIRMAN ---------->

<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        <h5>ข้อมูลบริษัท</h5>
                        <h1>สารจากประธานกรรมการ</h1>
                    </div>
                </div>
            </div>
            @{
                if (Model.count_list_chairman > 0)
                {
                    <div class="row justify-content-center">
                    @foreach(var items in Model.list_chairman){
                            <div class="col-xl-4 col-lg-5 col-md-5 col-11">
                                <div class="name-position">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width imgBD"><img src="~/upload_image/Chairman/@items.image_name"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="name-info">
                                            @{
                                                    if (Context.Request.Cookies["lang"] == "EN"){
                                                        <li>@items.name_en</li>
                                                        <li>@items.rank_en</li>
                                                    }else{
                                                        <li>@items.name_th</li>
                                                        <li>@items.rank_th</li>
                                                    }
                                            }
                                               
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }
                        
                    </div>
                }else{
                    <div class="row justify-content-center">
                        <div class="col-xl-4 col-lg-5 col-md-5 col-11">
                            <div class="name-position">
                                <div class="row">
                                    <div class="col">
                                        <div class="img-width imgBD"><img src="~/Frontend_assets/images/ir/chairman01.jpg"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="name-info">
                                            <li>นายยงค์ ทรัพย์ทวยชน</li>
                                            <li>ประธานกรรมการ</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-5 col-11">
                            <div class="name-position">
                                <div class="row">
                                    <div class="col">
                                        <div class="img-width imgBD"><img src="~/Frontend_assets/images/ir/chairman02.jpg"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="name-info">
                                            <li>นายปกรณ์ บริมาสพร</li>
                                            <li>ประธานกรรมการบริหาร</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                if(Model.count_row_chairman > 0){
                    if (Context.Request.Cookies["lang"] == "EN"){
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-11 col-11">
                                <div class="quoteBox">
                                    <p>"@Model.fod_message_chairman.vision_en"</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content indent mb-0">
                                    @Html.Raw(Model.fod_message_chairman.detail_en)
                                </div>
                            </div>
                        </div>
                    }else{
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-11 col-11">
                                <div class="quoteBox">
                                    <p>"@Model.fod_message_chairman.vision_th"</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content indent mb-0">
                                    @Html.Raw(Model.fod_message_chairman.detail_th)
                                </div>
                            </div>
                        </div>
                    }
                   
                }else{
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-11 col-11">
                            <div class="quoteBox">
                                <p>"ยึดมั่นความเป็นธรรม ใส่ใจคุณภาพ ร่วมกันทำงานเป็นทีม"</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="txt-content indent mb-0">
                                <p>ในปี 2563 เศรษฐกิจของไทยได้รับผลกระทบอย่างรุนแรงจากการแพร่ระบาดของโควิด-19 ส่งผลให้ธุรกิจต่างๆ ชะลอการลงทุน และสั่งซื้อสินค้าจากบริษัทลดลง รวมทั้งราคาต่อหน่วยของสินค้าบางรายการต้องปรับตัวลดลงเพราะการแข่งขันที่เข้มข้น ทำให้ การขายสินค้าในจำนวนที่เท่ากันมีมูลค่าลดลง นอกจากนี้ยังมีงานโครงการจำนวนหนึ่งมูลค่าประมาณ 256 ล้านบาท ที่ลูกค้าขอ ให้บริษัทเลื่อนการส่งมอบสินค้าจากปี 2563 ไปเป็นปี 2564 เป็นผลให้รายได้จากการขายและให้บริการของบริษัทในปี 2563 ลดลงจากปีก่อนหน้าร้อยละ 11 ผลจากการแพร่ระบาดของโควิด-19 ยังส่งผลให้เกิดการแข่งขันเข้มข้นขึ้น และทำให้อัตรากำไรขั้น ต้นของบริษัทต้องปรับตัวลดลงจากปีก่อนหน้าด้วย แม้ว่าค่าใช้จ่ายในการขายและบริหารของบริษัทได้ปรับตัวลดลงอย่างมากจาก ปีก่อนหน้าก็ตาม แต่ก็ยังส่งผลให้กำไรสุทธิของบริษัทในปี 2563 ลดลงเมื่อเทียบกับปีก่อนหน้า</p>
                                <p>ในปี 2564 บริษัทเชื่อว่าผลประกอบการจะปรับตัวดีขึ้น ส่วนหนึ่งเป็นเพราะงานโครงการที่เลื่อนการส่งมอบจากปีก่อนหน้าจะมารับ รู้รายได้ในปีนี้ รวมทั้งบริษัทคาดว่าในปีนี้จะมีรายได้เพิ่มขึ้นจากการขายและให้บริการด้านผลิตภัณฑ์ IoT ซึ่งบริษัทได้เตรียมความ พร้อมมาอย่างดี และเป็นผลิตภัณฑ์ที่กำลังได้รับความนิยมเพิ่มสูงขึ้นอย่างรวดเร็ว และที่สำคัญในปีนี้บริษัทคาดว่าจะมีรายได้เพิ่มขึ้น อย่างมีนัยสำคัญจากโมเดลธุรกิจใหม่ซึ่งบริษัทได้ลงนามความร่วมมือกับผู้ประกอบการรายใหญ่จากประเทศจีนในการผลิตสินค้า ไฟฟ้าแสงสว่างและผลติภัณฑ์ IoT ครั้งละจำนวนมากเพื่อส่งขายให้แก่ลูกค้าในตลาดประเทศสหรัฐอเมริกา</p>
                                <p>คณะกรรมการบริษัทใคร่ขอถือโอกาสนี้ขอบคุณผู้ถือหุ้นและผู้มีส่วนได้เสียอื่นทุกท่านที่ให้ความเชื่อมั่นกับบริษัท ตลอดจนให้การ สนับสนุนบริษัทด้วยดีเสมอมา และขอยืนยันว่าจะดำเนินธุรกิจด้วยความซื่อสัตย์ รอบคอบ มีความโปร่งใส และจะบริหารงานโดย ยึดมั่นในหลักการกำกับดูแลกิจการที่ดี บริษัทได้เห็นถึงความสำคัญของการต่อต้านทุจริตคอร์รัปชั่น จึงได้เข้าร่วมเป็นสมาชิก ของ “แนวร่วมปฏิบัติของภาคเอกชนไทยในการต่อต้านทุจริต” โดยหวังว่าจะมีส่วนช่วยลดปัญหาทุจริตคอร์รัปชั่นในประเทศไทย นอกจากนี้บริษัทยังได้ให้ความช่วยเหลือแก่ชุมชนต่างๆ อย่างสมํ่าเสมอ ตลอดจนเข้าร่วมในกิจกรรมต่างๆ ที่สร้างสรรค์และเป็น ประโยชน์ รวมทั้งได้ตระหนักถึงการช่วยกันดูแลรักษาสิ่งแวดล้อม จึงให้ความสำคัญกับการออกแบบผลิตภัณฑ์และเลือกใช้วัสดุ ในการผลิตที่เป็นมิตรต่อสิ่งแวดล้อม และตั้งแต่ปี 2560 โรงงานใหม่ของบริษัททั้ง 3 แห่งที่อำเภอลาดหลุมแก้ว จังหวัดปทุมธานี ต่างได้รับการรับรองมาตรฐานสิ่งแวดล้อม ISO-14001 ซึ่งสร้างความเชื่อมั่นได้ว่าระบบการจัดการสิ่งแวดล้อมของบริษัทมี ประสิทธิภาพและได้มาตรฐานสากล ทั้งนี้เพราะบริษัทมีความเชื่อว่า การดำเนินธุรกิจในสังคมและสิ่งแวดล้อมที่ดีและเอื้อต่อการ ดำเนินธุรกิจนั้น จะส่งเสริมให้บริษัทสามารถเจริญเติบโตได้อย่างมั่นคงและยั่งยืน</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>