@using System.Globalization

@{
    ViewData["Title"] = "IR_dividend";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 04 SHAREHOLDER INFORMATION :: DIVIDEND ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Context.Request.Cookies["lang"] == "EN")
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleENG</h5>
                                    <h1>@item.detailsTitleENG</h1>
                                }
                            }
                            else
                            {
                                <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                                <h1>นโยบายจ่ายเงินปันผล</h1>
                            }
                        }
                        else
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleTH</h5>
                                    <h1>@item.detailsTitleTH</h1>
                                }
                            }
                            else
                            {
                                <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                                <h1>นโยบายจ่ายเงินปันผล</h1>
                            }
                        }

                        @* <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                        <h1>นโยบายจ่ายเงินปันผล</h1>*@
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-11 col-12">
                    <div class="txt-content text-center mb-5">
                        @if (Context.Request.Cookies["lang"] == "EN")
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <p>@item.detailsENG </p>
                                }
                            }
                        }
                        else
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <p>@item.detailsTH </p>
                                }
                            }
                        }

                        @*                        <p>บริษัทฯ มีนโยบายจ่ายเงินปันผลไม่น้อยกว่าร้อยละ 40 ของกำไรสุทธิหลังหักภาษีเงินได้นิติบุคคล อย่างไรก็ตาม บริษัทฯ อาจกำหนดให้ การจ่ายเงินปันผลมีอัตราน้อยกว่าที่กำหนดข้างต้นได้หากบริษัทมีความจำเป็นต้องนำเงินกำไรสุทธิดังกล่าวมาใช้ เพื่อขยายธุรกิจของบริษัทฯ ต่อไป</p>
                        *@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="blueTB dividendTB">
                        <table>
                            <thead>
                                <tr>
                                    @if (Context.Request.Cookies["lang"] == "EN")
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th>@item.securityTitleENG</th>
                                                <th>@item.dateOfBoardTitleENG</th>
                                                <th>@item.dateMakingTitleENG</th>
                                                <th>@item.paymentDateTitleENG</th>
                                                <th>@item.dividenTypetitleENG</th>
                                                <th>@item.amountTitleENG</th>
                                                <th>@item.earningDayTitleENG</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>หลักทรัพย์</th>
                                            <th>วันที่คณะกรรมการมีมติ</th>
                                            <th>วันที่ขึ้นเครื่องหมาย</th>
                                            <th>วันที่จ่ายเงินปันผล</th>
                                            <th>ประเภทเงินปันผล</th>
                                            <th>จำนวนเงินปันผลต่อหุ้น</th>
                                            <th>วันผลประกอบการ</th>
                                        }
                                    }
                                    else
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th>@item.securityTitleTH</th>
                                                <th>@item.dateOfBoardTitleTH</th>
                                                <th>@item.dateMakingTitleTH</th>
                                                <th>@item.paymentDateTitleTH</th>
                                                <th>@item.dividenTypetitleTH</th>
                                                <th>@item.amountTitleTH</th>
                                                <th>@item.earningDayTitleTH</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>หลักทรัพย์</th>
                                            <th>วันที่คณะกรรมการมีมติ</th>
                                            <th>วันที่ขึ้นเครื่องหมาย</th>
                                            <th>วันที่จ่ายเงินปันผล</th>
                                            <th>ประเภทเงินปันผล</th>
                                            <th>จำนวนเงินปันผลต่อหุ้น</th>
                                            <th>วันผลประกอบการ</th>
                                        }
                                    }

                                    @* <th>หลักทรัพย์</th>
                                    <th>วันที่คณะกรรมการมีมติ</th>
                                    <th>วันที่ขึ้นเครื่องหมาย</th>
                                    <th>วันที่จ่ายเงินปันผล</th>
                                    <th>ประเภทเงินปันผล</th>
                                    <th>จำนวนเงินปันผลต่อหุ้น</th>
                                    <th>วันผลประกอบการ</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Context.Request.Cookies["lang"] == "EN")
                                {
                                    if (ViewBag.Body != null)
                                    {
                                        foreach (var item in ViewBag.Body)
                                        {
                                            var dateOfBoard = Convert.ToDateTime(item.dateOfBoard);
                                            var date_OfBoard = dateOfBoard.ToString("dd/MM/yyyy", new CultureInfo("en-US"));

                                            var dateMaking = Convert.ToDateTime(item.dateMaking);
                                            var date_Making = dateMaking.ToString("dd/MM/yyyy", new CultureInfo("en-US"));

                                            var paymentDate = Convert.ToDateTime(item.paymentDate);
                                            var payment_Date = paymentDate.ToString("dd/MM/yyyy", new CultureInfo("en-US"));

                                            <tr>
                                                <td>@item.title</td>
                                                <td>@date_OfBoard</td>
                                                <td>@date_Making</td>
                                                <td>@payment_Date</td>
                                                <td>@item.dividenTypeTitleENG</td>
                                                <td>@item.amount</td>
                                                <td>@item.earningDayTitleENG</td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    if (ViewBag.Body != null)
                                    {
                                        foreach (var item in ViewBag.Body)
                                        {
                                            var dateOfBoard = Convert.ToDateTime(item.dateOfBoard);
                                            var date_OfBoard = dateOfBoard.ToString("dd/MM/yyyy", new CultureInfo("th-TH"));

                                            var dateMaking = Convert.ToDateTime(item.dateMaking);
                                            var date_Making = dateMaking.ToString("dd/MM/yyyy", new CultureInfo("th-TH"));

                                            var paymentDate = Convert.ToDateTime(item.paymentDate);
                                            var payment_Date = paymentDate.ToString("dd/MM/yyyy", new CultureInfo("th-TH"));

                                            <tr>
                                                <td>@item.title</td>
                                                <td>@date_OfBoard</td>
                                                <td>@date_Making</td>
                                                <td>@payment_Date</td>
                                                <td>@item.dividenTypeTitleTH</td>
                                                <td>@item.amount</td>
                                                <td>@item.earningDayTitleTH</td>
                                            </tr>
                                        }
                                    }
                                }

                                @*  <tr>
                                <td>L&E</td>
                                <td>21/02/66</td>
                                <td>02/05/66</td>
                                <td>17/05/66</td>
                                <td>เงินปันผล</td>
                                <td>0.061</td>
                                <td>กำไรสะสม</td>
                                </tr>*@
                                @*<tr>
                                <td>L&E</td>
                                <td>21/02/65</td>
                                <td>29/04/65</td>
                                <td>18/05/65</td>
                                <td>เงินปันผล</td>
                                <td>0.085</td>
                                <td>01/01/64-31/12/64</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>23/02/64</td>
                                <td>30/04/64</td>
                                <td>21/05/64</td>
                                <td>เงินปันผล</td>
                                <td>0.075</td>
                                <td>01/01/63-31/12/63</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>07/04/63</td>
                                <td>20/04/63</td>
                                <td>05/05/63</td>
                                <td>เงินปันผล</td>
                                <td>0.14</td>
                                <td>01/01/62-31/12/62</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>20/02/62</td>
                                <td>02/05/62</td>
                                <td>23/05/62</td>
                                <td>เงินปันผล</td>
                                <td>0.16</td>
                                <td>01/01/61-31/12/61</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>21/02/61</td>
                                <td>03/05/61</td>
                                <td>24/05/61</td>
                                <td>เงินปันผล</td>
                                <td>0.12</td>
                                <td>01/01/60-31/12/60</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>22/02/60</td>
                                <td>03/05/60</td>
                                <td>25/05/60</td>
                                <td>เงินปันผล</td>
                                <td>0.15</td>
                                <td>01/01/59-31/12/59</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>17/02/59</td>
                                <td>28/04/59</td>
                                <td>19/05/59</td>
                                <td>เงินปันผล</td>
                                <td>0.0925</td>
                                <td>01/01/58-31/12/58</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>18/02/58</td>
                                <td>29/04/58</td>
                                <td>22/05/58</td>
                                <td>เงินปันผล</td>
                                <td>0.18</td>
                                <td>กำไรสะสม</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>19/02/57</td>
                                <td>02/05/57</td>
                                <td>22/05/57</td>
                                <td>เงินปันผล</td>
                                <td>0.05</td>
                                <td>กำไรสะสม</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>19/02/57</td>
                                <td>02/05/57</td>
                                <td>22/05/57</td>
                                <td>เงินปันผล</td>
                                <td>3.50:1</td>
                                <td>กำไรสะสม</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>20/02/56</td>
                                <td>05/03/56</td>
                                <td>23/05/56</td>
                                <td>เงินปันผล</td>
                                <td>0.70</td>
                                <td>01/01/55-31/12/55</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>22/02/55</td>
                                <td>03/05/55</td>
                                <td>25/05/55</td>
                                <td>เงินปันผล</td>
                                <td>0.57</td>
                                <td>01/01/54-31/12/54</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>23/02/54</td>
                                <td>03/05/54</td>
                                <td>26/05/54</td>
                                <td>เงินปันผล</td>
                                <td>0.45</td>
                                <td>01/01/53-31/12/53</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>17/02/53</td>
                                <td>04/05/53</td>
                                <td>27/05/53</td>
                                <td>เงินปันผล</td>
                                <td>0.25</td>
                                <td>01/01/52-31/12/52</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>07/05/52</td>
                                <td>28/05/52</td>
                                <td>27/05/52</td>
                                <td>เงินปันผล</td>
                                <td>0.42</td>
                                <td>01/01/51-31/12/51</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>20/02/51</td>
                                <td>28/03/51</td>
                                <td>22/05/51</td>
                                <td>เงินปันผล</td>
                                <td>0.54</td>
                                <td>01/01/50-31/12/50</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>21/02/50</td>
                                <td>23/03/50</td>
                                <td>18/05/50</td>
                                <td>เงินปันผล</td>
                                <td>0.37</td>
                                <td>01/01/49-31/12/49</td>
                                </tr>
                                <tr>
                                <td>L&E</td>
                                <td>21/02/50</td>
                                <td>23/03/50</td>
                                <td>18/05/50</td>
                                <td>เงินปันผล</td>
                                <td>3 : 2</td>
                                <td>01/01/49-31/12/49</td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>