@using System.Globalization;
@using Lighting.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@inject LightingContext db

@{
    ViewData["Title"] = "IR_financial_highlight";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";

    var getdate_1 = DateTime.Now;

    var getdate_2 = getdate_1.AddYears(-1);

    var getdate_3 = getdate_1.AddYears(-2);

    //LightingContext db = new LightingContext();

    if (ViewBag.Header != null)
    {
        foreach (var item in ViewBag.Header)
        {
            getdate_1 = Convert.ToDateTime(item.date1Title);

            getdate_2 = Convert.ToDateTime(item.date2Title);

            getdate_3 = Convert.ToDateTime(item.date3Title);
        }
    }
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;

    ViewData["Finance_Statement"] = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    ViewData["SH_IR_prospectus"] = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;

    var Finance_Statement = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    var SH_IR_prospectus = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 03 FINANCIAL INFORMATION :: FINANCIAL HIGHLIGHT ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Context.Request.Cookies["lang"] == "EN")
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleENG</h5>
                                    <h1>@item.detailsTitleENG</h1>
                                }
                            }
                            else
                            {
                                <h5>ข้อมูลสำคัญทางการเงิน</h5>
                                <h1>ข้อมูลสำคัญทางการเงิน</h1>
                            }
                        }
                        else
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleTH</h5>
                                    <h1>@item.detailsTitleTH</h1>
                                }
                            }
                            else
                            {
                                <h5>ข้อมูลสำคัญทางการเงิน</h5>
                                <h1>ข้อมูลสำคัญทางการเงิน</h1>
                            }
                        }

                        @*  <h5>ข้อมูลสำคัญทางการเงิน</h5>
                        <h1>ข้อมูลสำคัญทางการเงิน</h1>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="blueTB financeHLTB">
                    <table>
                        <thead>
                            <tr>
                                @if (Context.Request.Cookies["lang"] == "EN")
                                {
                                    if (ViewBag.Header != null)
                                    {
                                        foreach (var item in ViewBag.Header)
                                        {
                                            var date_1 = Convert.ToDateTime(item.date1Title);
                                            var year_1 = date_1.ToString("yyyy", new CultureInfo("en-US"));
                                            var Insert_Date_1 = date_1.ToString("dd/MM/yyyy", new CultureInfo("en-US"));

                                            var date_2 = Convert.ToDateTime(item.date2Title);
                                            var year_2 = date_2.ToString("yyyy", new CultureInfo("en-US"));
                                            var Insert_Date_2 = date_2.ToString("dd/MM/yyyy", new CultureInfo("en-US"));

                                            var date_3 = Convert.ToDateTime(item.date3Title);
                                            var year_3 = date_3.ToString("yyyy", new CultureInfo("en-US"));
                                            var Insert_Date_3 = date_3.ToString("dd/MM/yyyy", new CultureInfo("en-US"));

                                            <th>@item.profitTitleENG</th>
                                            <th>@year_1<br>@Insert_Date_1</th>
                                            <th>@year_2<br>@Insert_Date_2</th>
                                            <th>@year_3<br>@Insert_Date_3</th>
                                        }
                                    }
                                    else
                                    {
                                        <th>งบกำไรขาดทุนเบ็ดเสร็จ (ล้านบาท)</th>
                                        <th>2564<br>31/12/2564</th>
                                        <th>2563<br>31/12/2563</th>
                                        <th>2562<br>31/12/2562</th>
                                    }
                                }
                                else
                                {
                                    if (ViewBag.Header != null)
                                    {
                                        foreach (var item in ViewBag.Header)
                                        {
                                            var date_1 = Convert.ToDateTime(item.date1Title);
                                            var year_1 = date_1.ToString("yyyy", new CultureInfo("th-TH"));
                                            var Insert_Date_1 = date_1.ToString("dd/MM/yyyy", new CultureInfo("th-TH"));

                                            var date_2 = Convert.ToDateTime(item.date2Title);
                                            var year_2 = date_2.ToString("yyyy", new CultureInfo("th-TH"));
                                            var Insert_Date_2 = date_2.ToString("dd/MM/yyyy", new CultureInfo("th-TH"));

                                            var date_3 = Convert.ToDateTime(item.date3Title);
                                            var year_3 = date_3.ToString("yyyy", new CultureInfo("th-TH"));
                                            var Insert_Date_3 = date_3.ToString("dd/MM/yyyy", new CultureInfo("th-TH"));

                                            <th>@item.profitTitleTH</th>
                                            <th>@year_1<br>@Insert_Date_1</th>
                                            <th>@year_2<br>@Insert_Date_2</th>
                                            <th>@year_3<br>@Insert_Date_3</th>
                                        }
                                    }
                                    else
                                    {
                                        <th>งบกำไรขาดทุนเบ็ดเสร็จ (ล้านบาท)</th>
                                        <th>2564<br>31/12/2564</th>
                                        <th>2563<br>31/12/2563</th>
                                        <th>2562<br>31/12/2562</th>
                                    }
                                }

                                @*
                                <th>งบกำไรขาดทุนเบ็ดเสร็จ (ล้านบาท)</th>
                                <th>2564<br>31/12/2564</th>
                                <th>2563<br>31/12/2563</th>
                                <th>2562<br>31/12/2562</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Context.Request.Cookies["lang"] == "EN")
                            {
                                if (ViewBag.ContentTop != null)
                                {
                                    foreach (var itemTop in ViewBag.ContentTop)
                                    {
                                        <tr>
                                            <td>@itemTop.profitTitleENG</td>
                                            @for (int j = 1; j <= 3; j++)
                                            {
                                                if (j == 1)
                                                {
                                                    var getData = db.SH_IR_financial_highlight_DataDetails.ToList();
                                                    var DataItem = getData.Where(x => x.fH_Data_id == itemTop.id && x.year.Value.Year == getdate_1.Year).FirstOrDefault();

                                                    if (DataItem != null)
                                                    {
                                                        <td> @DataItem.amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                                else if (j == 2)
                                                {
                                                    var getData = db.SH_IR_financial_highlight_DataDetails.ToList();
                                                    var DataItem = getData.Where(x => x.fH_Data_id == itemTop.id && x.year.Value.Year == getdate_2.Year).FirstOrDefault();

                                                    if (DataItem != null)
                                                    {
                                                        <td> @DataItem.amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                                else if (j == 3)
                                                {
                                                    var getData = db.SH_IR_financial_highlight_DataDetails.ToList();
                                                    var DataItem = getData.Where(x => x.fH_Data_id == itemTop.id && x.year.Value.Year == getdate_3.Year).FirstOrDefault();

                                                    if (DataItem != null)
                                                    {
                                                        <td> @DataItem.amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                            }

                                            @* @for (int i = 1; i <= 3; i++)
                                {
                                if (i == 1)
                                {
                                @getdate_1
                                foreach (var dataItem in ViewBag.ContentTopDetails)
                                {
                                <td>@itemTop.amount1</td>
                                }
                                }
                                }*@
                                            @* <td>@itemTop.amount1</td>
                                <td>@itemTop.amount2</td>
                                <td>@itemTop.amount3</td> *@
                                        </tr>
                                    }
                                }
                                @* else
                            {
                            <tr>
                            <td>รายได้จากการขายและการให้บริการ</td>
                            <td>2,677.83</td>
                            <td>2,412.29</td>
                            <td>2,708.86</td>
                            </tr>
                            <tr>
                            <td>รายได้รวม</td>
                            <td>2,719.51</td>
                            <td>2,426.19</td>
                            <td>2,722.04</td>
                            </tr>
                            <tr>
                            <td>ต้นทุนขายและค่าใช้จ่ายในการขายและบริหาร</td>
                            <td>2,630.23</td>
                            <td>2,336.50</td>
                            <td>2,580.96</td>
                            </tr>
                            <tr>
                            <td>กำไรสำหรับปี</td>
                            <td>43.83</td>
                            <td>37.13</td>
                            <td>72.00</td>
                            </tr>
                            }*@
                            }
                            else
                            {
                                if (ViewBag.ContentTop != null)
                                {
                                    foreach (var itemTop in ViewBag.ContentTop)
                                    {
                                        <tr>
                                            <td>@itemTop.profitTitleTH</td>
                                            @for (int j = 1; j <= 3; j++)
                                            {
                                                if (j == 1)
                                                {
                                                    var getData = db.SH_IR_financial_highlight_DataDetails.ToList();
                                                    var DataItem = getData.Where(x => x.fH_Data_id == itemTop.id && x.year.Value.Year == getdate_1.Year).FirstOrDefault();

                                                    if (DataItem != null)
                                                    {
                                                        <td> @DataItem.amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                                else if (j == 2)
                                                {
                                                    var getData = db.SH_IR_financial_highlight_DataDetails.ToList();
                                                    var DataItem = getData.Where(x => x.fH_Data_id == itemTop.id && x.year.Value.Year == getdate_2.Year).FirstOrDefault();

                                                    if (DataItem != null)
                                                    {
                                                        <td> @DataItem.amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                                else if (j == 3)
                                                {
                                                    var getData = db.SH_IR_financial_highlight_DataDetails.ToList();
                                                    var DataItem = getData.Where(x => x.fH_Data_id == itemTop.id && x.year.Value.Year == getdate_3.Year).FirstOrDefault();

                                                    if (DataItem != null)
                                                    {
                                                        <td> @DataItem.amount</td>
                                                    }
                                                    else
                                                    {
                                                        <td>-</td>
                                                    }
                                                }
                                            }

                                        </tr>
                                    }
                                }
                                @* else
                            {
                            <tr>
                            <td>รายได้จากการขายและการให้บริการ</td>
                            <td>2,677.83</td>
                            <td>2,412.29</td>
                            <td>2,708.86</td>
                            </tr>
                            <tr>
                            <td>รายได้รวม</td>
                            <td>2,719.51</td>
                            <td>2,426.19</td>
                            <td>2,722.04</td>
                            </tr>
                            <tr>
                            <td>ต้นทุนขายและค่าใช้จ่ายในการขายและบริหาร</td>
                            <td>2,630.23</td>
                            <td>2,336.50</td>
                            <td>2,580.96</td>
                            </tr>
                            <tr>
                            <td>กำไรสำหรับปี</td>
                            <td>43.83</td>
                            <td>37.13</td>
                            <td>72.00</td>
                            </tr>
                            }*@
                            }

                            @*<tr>
                            <td>รายได้จากการขายและการให้บริการ</td>
                            <td>2,677.83</td>
                            <td>2,412.29</td>
                            <td>2,708.86</td>
                            </tr>
                            <tr>
                            <td>รายได้รวม</td>
                            <td>2,719.51</td>
                            <td>2,426.19</td>
                            <td>2,722.04</td>
                            </tr>
                            <tr>
                            <td>ต้นทุนขายและค่าใช้จ่ายในการขายและบริหาร</td>
                            <td>2,630.23</td>
                            <td>2,336.50</td>
                            <td>2,580.96</td>
                            </tr>
                            <tr>
                            <td>กำไรสำหรับปี</td>
                            <td>43.83</td>
                            <td>37.13</td>
                            <td>72.00</td>
                            </tr>*@

                        </tbody>

                        @if (Context.Request.Cookies["lang"] == "EN")
                        {
                            if (ViewBag.BodyItem != null)
                            {
                                foreach (var titleTop in ViewBag.BodyItem)
                                {
                                    <thead class="sub-thead">
                                        <tr>
                                            <th colspan="4">@titleTop.titleENG</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            if (ViewBag.BodyTitle != null)
                                            {
                                                var getBodyTitle = db.SH_IR_financial_highlight_DetailsData.ToList();
                                                getBodyTitle = getBodyTitle.Where(x => x.active_status == 1 && x.financial_hilight_id == titleTop.id).ToList();

                                                foreach (var itemInner in getBodyTitle)
                                                {
                                                    <tr>
                                                        <td>@itemInner.profitTitleENG</td>
                                                        @for (int j = 1; j <= 3; j++)
                                                        {
                                                            if (j == 1)
                                                            {
                                                                var getData = db.SH_IR_financial_highlight_DetailsData_Items.ToList();
                                                                var DataItem = getData.Where(x => x.fH_DetailsData_id == itemInner.id && x.fH_Details_id == titleTop.id && x.year.Value.Year == getdate_1.Year).FirstOrDefault();

                                                                if (DataItem != null)
                                                                {
                                                                    <td> @DataItem.amount</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                            }
                                                            else if (j == 2)
                                                            {
                                                                var getData = db.SH_IR_financial_highlight_DetailsData_Items.ToList();
                                                                var DataItem = getData.Where(x => x.fH_DetailsData_id == itemInner.id && x.fH_Details_id == titleTop.id && x.year.Value.Year == getdate_2.Year).FirstOrDefault();

                                                                if (DataItem != null)
                                                                {
                                                                    <td> @DataItem.amount</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                            }
                                                            else if (j == 3)
                                                            {
                                                                var getData = db.SH_IR_financial_highlight_DetailsData_Items.ToList();
                                                                var DataItem = getData.Where(x => x.fH_DetailsData_id == itemInner.id && x.fH_Details_id == titleTop.id && x.year.Value.Year == getdate_3.Year).FirstOrDefault();

                                                                if (DataItem != null)
                                                                {
                                                                    <td> @DataItem.amount</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                            }
                                                        }
                                                         
                                                    </tr>
                                                }
                                                
                                            }
                                        } 
                                       
                                    </tbody>
                                }
                            }
                        }else{

                            if (ViewBag.BodyItem != null)
                            {
                                foreach (var titleTop in ViewBag.BodyItem)
                                {
                                    <thead class="sub-thead">
                                        <tr>
                                            <th colspan="4">@titleTop.titleTH</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{
                                            if (ViewBag.BodyTitle != null)
                                            {
                                                var getBodyTitle = db.SH_IR_financial_highlight_DetailsData.ToList();
                                                getBodyTitle = getBodyTitle.Where(x => x.active_status == 1 && x.financial_hilight_id == titleTop.id).ToList();

                                                foreach (var itemInner in getBodyTitle)
                                                {
                                                    <tr>
                                                        <td>@itemInner.profitTitleTH</td>
                                                        @for (int j = 1; j <= 3; j++)
                                                        {
                                                            if (j == 1)
                                                            {
                                                                var getData = db.SH_IR_financial_highlight_DetailsData_Items.ToList();
                                                                var DataItem = getData.Where(x => x.fH_DetailsData_id == itemInner.id && x.fH_Details_id == titleTop.id && x.year.Value.Year == getdate_1.Year).FirstOrDefault();

                                                                if (DataItem != null)
                                                                {
                                                                    <td> @DataItem.amount</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                            }
                                                            else if (j == 2)
                                                            {
                                                                var getData = db.SH_IR_financial_highlight_DetailsData_Items.ToList();
                                                                var DataItem = getData.Where(x => x.fH_DetailsData_id == itemInner.id && x.fH_Details_id == titleTop.id && x.year.Value.Year == getdate_2.Year).FirstOrDefault();

                                                                if (DataItem != null)
                                                                {
                                                                    <td> @DataItem.amount</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                            }
                                                            else if (j == 3)
                                                            {
                                                                var getData = db.SH_IR_financial_highlight_DetailsData_Items.ToList();
                                                                var DataItem = getData.Where(x => x.fH_DetailsData_id == itemInner.id && x.fH_Details_id == titleTop.id && x.year.Value.Year == getdate_3.Year).FirstOrDefault();

                                                                if (DataItem != null)
                                                                {
                                                                    <td> @DataItem.amount</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>-</td>
                                                                }
                                                            }
                                                        }

                                                    </tr>
                                                }

                                            }
                                        }

                                    </tbody>
                                }
                            }
                        }



@*
                        <thead class="sub-thead">
                            <tr>
                                <th colspan="4">งบแสดงฐานะทางการเงิน (ล้านบาท)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>สินทรัพย์รวม</td>
                                <td>3,347.31</td>
                                <td>2,781.87</td>
                                <td>3,003.73</td>
                            </tr>
                            <tr>
                                <td>หนี้สินรวม</td>
                                <td>2,183.06</td>
                                <td>1,612.17</td>
                                <td>1,793.10</td>
                            </tr>
                            <tr>
                                <td>ส่วนของผู้ถือหุ้น</td>
                                <td>1,164.23</td>
                                <td>1,169.70</td>
                                <td>1,210.59</td>
                            </tr>
                        </tbody>
                        <thead class="sub-thead">
                            <tr>
                                <th colspan="4">อัตราส่วนทางการเงินที่สำคัญของงบการเงินรวม (ล้านบาท)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>จำนวนหุ้นสามัญ (หุ้น)</td>
                                <td>492,040,074</td>
                                <td>492,040,074</td>
                                <td>492,040,074</td>
                            </tr>
                            <tr>
                                <td>มูลค่าที่ตราไว้ (บาท)</td>
                                <td>1.00</td>
                                <td>1.00</td>
                                <td>1.00</td>
                            </tr>
                            <tr>
                                <td>กำไรต่อหุ้น</td>
                                <td>0.09</td>
                                <td>0.08</td>
                                <td>0.15</td>
                            </tr>
                            <tr>
                                <td>อัตราเงินปันผลจ่ายต่อหุ้น (บาท)</td>
                                <td>**0.085</td>
                                <td>0.075</td>
                                <td>**0.14</td>
                            </tr>
                            <tr>
                                <td>อัตราส่วนสภาพคล่อง (เท่า)</td>
                                <td>1.14</td>
                                <td>1.19</td>
                                <td>1,22</td>
                            </tr>
                            <tr>
                                <td>อัตราผลตอบแทนผู้ถือหุ้น (%)</td>
                                <td>3.76</td>
                                <td>3.06</td>
                                <td>5.71</td>
                            </tr>
                            <tr>
                                <td>อัตราผลตอบแทนจากสินทรัพย์ (%)</td>
                                <td>2.91</td>
                                <td>1.26</td>
                                <td>2.30</td>
                            </tr>
                            <tr>
                                <td>อัตราส่วนหนี้สินต่อส่วนของผู้ถือหุ้น (เท่า)</td>
                                <td>1.88</td>
                                <td>1.38</td>
                                <td>1.48</td>
                            </tr>
                            <tr>
                                <td>อัตรากำไรขั้นต้น (%)</td>
                                <td>27.00</td>
                                <td>32.22</td>
                                <td>34.60</td>
                            </tr>
                            <tr>
                                <td>EBIT Margin</td>
                                <td>3.29</td>
                                <td>3.14</td>
                                <td>4.72</td>
                            </tr>
                            <tr>
                                <td>อัตรากำไรสุทธิ (%)</td>
                                <td>1.61</td>
                                <td>1.50</td>
                                <td>2.56</td>
                            </tr>
                        </tbody>
                        <thead class="sub-thead">
                            <tr>
                                <th colspan="4">วงจรเงินสด</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>อัตราส่วนหมุนเวียนลูกหนี้การค้า (เท่า)</td>
                                <td>3.29</td>
                                <td>2.66</td>
                                <td>2.56</td>
                            </tr>
                            <tr>
                                <td>ระยะเวลาเก็บหนี้เฉลี่ย (วัน)</td>
                                <td>110.99</td>
                                <td>135</td>
                                <td>145.09</td>
                            </tr>
                            <tr>
                                <td>อัตราส่วนหมุนเวยนสินค้าคงเหลือ (เท่า)</td>
                                <td>1.99</td>
                                <td>1.98</td>
                                <td>2.05</td>
                            </tr>
                            <tr>
                                <td>ระยะเวลาขายสินค้าเฉลี่ย (วัน)</td>
                                <td>183.28</td>
                                <td>182.00</td>
                                <td>175.39</td>
                            </tr>
                            <tr>
                                <td>อัตราส่วนหมุนเวียนเจ้าหนี้การค้า (เท่า)</td>
                                <td>4.57</td>
                                <td>6.05</td>
                                <td>7.47</td>
                            </tr>
                            <tr>
                                <td>ระยะเวลาชำระหนี้เจ้าหนี้การค้า (วัน)</td>
                                <td>79.92</td>
                                <td>60.36</td>
                                <td>25.53</td>
                            </tr>
                            <tr>
                                <td>วงจรเงินสด (วัน)</td>
                                <td>214.35</td>
                                <td>258</td>
                                <td>272.28</td>
                            </tr>
                        </tbody>*@

                    </table>
                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                @*                <div class="note more-mb">** คณะกรรมการบริษัทได้อนุมัติให้จ่ายเงินปันผลหุ้นละ 0.085 บาท ในวันที่ 22 กุมภาพันธ์ 2565 และจะเสนอให้ผู้ถือหุ้นพิจารณาอนุมัติในวันที่ 20 เมษายน 2565</div>
                *@

                @if (Context.Request.Cookies["lang"] == "EN")
                {
                    if (ViewBag.Header != null)
                    {
                        foreach (var item in ViewBag.Header)
                        {
                            <div class="note more-mb">@item.detailsENG</div>
                        }
                    }
                }
                else
                {
                    if (ViewBag.Header != null)
                    {
                        foreach (var item in ViewBag.Header)
                        {
                            <div class="note more-mb">@item.detailsTH</div>
                        }
                    }
                }

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                @if (Context.Request.Cookies["lang"] == "EN")
                {
                    if (ViewBag.Header != null)
                    {
                        foreach (var item in ViewBag.Header)
                        {
                            <a data-fancybox data-caption="financial summary" href="~/upload_image/SH_IR_financial_hilight/@item.image_name_ENG">
                                <div class="img-width hover-img">
                                    <img src="~/upload_image/SH_IR_financial_hilight/@item.image_name_ENG" />
                                </div>
                            </a>
                        }
                    }
                }
                else
                {
                    if (ViewBag.Header != null)
                    {
                        foreach (var item in ViewBag.Header)
                        {
                            <a data-fancybox data-caption="สรุปข้อมูลทางการเงิน" href="~/upload_image/SH_IR_financial_hilight/@item.image_name">
                                <div class="img-width hover-img">
                                    <img src="~/upload_image/SH_IR_financial_hilight/@item.image_name" />
                                </div>
                            </a>
                        }
                    }
                }

                @* <a data-fancybox data-caption="สรุปข้อมูลทางการเงิน" href="~/Frontend_assets/images/ir/financial_highlight_2021.jpg">
                <div class="img-width hover-img">
                <img src="~/Frontend_assets/images/ir/financial_highlight_2021.jpg" />
                </div>
                </a>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    Fancybox.bind('[data-fancybox]', {
        //Toolbar: {
        //    display: [
        //        { id: "prev", position: "center" },
        //        { id: "counter", position: "center" },
        //        { id: "next", position: "center" },
        //        "zoom",
        //        "fullscreen",
        //        "download",
        //        "close",
        //    ],
        //},
    });
</script>
