@using System.Globalization

@{
    ViewData["Title"] = "IR_general_meeting";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";

    var i = ViewBag.Header;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 04 SHAREHOLDER INFORMATION :: GENERAL MEETING ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Context.Request.Cookies["lang"] == "EN")
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleENG</h5>
                                    <h1>@item.detailsTitleENG</h1>
                                }
                            }
                            else
                            {
                                <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                                <h1>หนังสือเชิญประชุมผู้ถือหุ้น</h1>
                            }
                        }
                        else
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleTH</h5>
                                    <h1>@item.detailsTitleTH</h1>
                                }
                            }
                            else
                            {
                                <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                                <h1>หนังสือเชิญประชุมผู้ถือหุ้น</h1>
                            }
                        }

                        @*<h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                        <h1>หนังสือเชิญประชุมผู้ถือหุ้น</h1>*@

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-11 col-12">
                    @if (Context.Request.Cookies["lang"] == "EN")
                    {
                        if (ViewBag.Header != null)
                        {
                            foreach (var item in ViewBag.Header)
                            {
                                <a class="img-width imgBD hover-img more-mb" href="@item.link" target="_blank"><img src="~/upload_image/SH_GeneralMeeting/@item.image_name_ENG"></a>

                            }
                        }
                    }
                    else
                    {
                        if (ViewBag.Header != null)
                        {
                            foreach (var item in ViewBag.Header)
                            {
                                <a class="img-width imgBD hover-img more-mb" href="@item.link" target="_blank"><img src="~/upload_image/SH_GeneralMeeting/@item.image_name"></a>

                            }
                        }
                    }

                    @*<a class="img-width imgBD hover-img more-mb" href="https://agm.irplus.in.th/manual/manual.html" target="_blank"><img src="~/Frontend_assets/images/ir/banner_AGM_th.jpg"></a>*@

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-11 col-12">
                    <div class="blueTB">
                        <table>
                            <thead>
                                <tr>
                                    @if (Context.Request.Cookies["lang"] == "EN")
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th>@item.meetingTitleENG</th>
                                                <th>@item.downloadTitleENG</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>การประชุมสามัญผู้ถือหุ้น ประจำปี 2565</th>
                                            <th>ดาวน์โหลด</th>
                                        }
                                    }
                                    else
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th>@item.meetingTitleTH</th>
                                                <th>@item.downloadTitleTH</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>การประชุมสามัญผู้ถือหุ้น ประจำปี 2565</th>
                                            <th>ดาวน์โหลด</th>
                                        }
                                    }

                                    @*<th>การประชุมสามัญผู้ถือหุ้น ประจำปี 2565</th>
                                    <th>ดาวน์โหลด</th>*@

                                </tr>
                            </thead>
                            <tbody>
                                @if (Context.Request.Cookies["lang"] == "EN")
                                {
                                    if (ViewBag.Body != null)
                                    {
                                        foreach (var item in ViewBag.Body)
                                        {
                                            var getYear = Convert.ToDateTime(item.year);
                                            var Year = getYear.ToString("yyyy", new CultureInfo("en-US"));

                                            <tr>
                                                <td>@item.titleENG @getYear</td>
                                                <td>
                                                    <a class="download-button" href="~/upload_file/SH_GeneralMeeting/@item.file_name_ENG" target="_blank"><span>ดาวน์โหลด</span></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    if (ViewBag.Body != null)
                                    {
                                        foreach (var item in ViewBag.Body)
                                        {
                                            var getYearTH = Convert.ToDateTime(item.year);
                                            var YearTH = getYearTH.ToString("yyyy", new CultureInfo("th-TH"));

                                            <tr>
                                                <td>@item.titleTH @YearTH</td>
                                                <td>
                                                    <a class="download-button" href="~/upload_file/SH_GeneralMeeting/@item.file_name" target="_blank"><span>Download</span></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }

                                @* <tr>
                                <td>สารบัญ</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>หนังสือเชิญประชุมสามัญผู้ถือหุ้นประจำปี 2565</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>รายงานประจำปี 2564</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>ข้อมูลของบุคคลที่ได้รับการเสนอชื่อให้เข้าดำรงตำแหน่งกรรมการแทนกรรมการที่ครบกำหนดออกจากตำแหน่งตามวาระ</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>นิยามกรรมการอิสระ</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>ข้อมูลประวัติของผู้สอบบัญชีที่ได้รับการเสนอชื่อ ประจำปี 2565</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>ข้อมูลของกรรมการอิสระที่บริษัทเสนอเป็นผู้รับมอบฉันทะจากผู้ถือหุ้น</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>ข้อบังคับบริษัท ในส่วนที่เกี่ยวข้องกับกำรประชุมผู้ถือหุ้นครั้งนี้</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>หนังสือมอบฉันทะ แบบ ข</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>หนังสือมอบฉันทะ แบบ ค</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>รายงานการประชุมสามัญผู้ถือหุ้นประจำปี 2564</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>เงื่อนไข หลักเกณฑ์ และวิธีปฏิบัติในการเข้าร่วมประชุมผู้ถือหุ้น</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>ขั้นตอนการใช้งานระบบประชุมผ่านสื่ออิเล็กทรอนิกส์</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                <tr>
                                <td>คำบอกกล่าวการคุ้มครองข้อมูลส่วนบุคคล</td>
                                <td>
                                <a class="download-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>