
@{
    ViewData["Title"] = "IR_gift_and_entertainment_policy";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 02 CORPORATE GOVERNANCE :: GIFT & ENTERTAINMENT POLICY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Model.count_fod_page_corporate_governance_content > 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                <h5>@Model.fod_page_corporate_governance_content.title_ENG</h5>
                                <h1>@Model.fod_page_corporate_governance_content.detailsTitleENG</h1>
                            }
                            else
                            {
                                <h5>@Model.fod_page_corporate_governance_content.title_TH</h5>
                                <h1>@Model.fod_page_corporate_governance_content.detailsTitleTH</h1>
                            }
                        }
                        else
                        {
                            <h5>นโยบายการกำกับดูแลกิจการ</h5>
                            <h1>นโยบายการให้หรือรับของขวัญ และการเลี้ยงรับรอง</h1>
                        }
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/Inc/IR_inc_corporate_governance_content.cshtml")
        </div>
    </div>
</div>