
@{
    ViewData["Title"] = "IR_index";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />
<div class="container-fluid">
    <!---------- IR INDEX :: BANNER ---------->
    <div class="row">
        <div class="col px-0">
            <div class="slide-navButton">
                <div class="main-banner owl-carousel owl-theme">
                    <div class="items"><img src="~/Frontend_assets/images/ir/ir-banner01.jpg"></div>
                    <div class="items"><img src="~/Frontend_assets/images/ir/ir-banner02.jpg"></div>
                    <div class="items"><img src="~/Frontend_assets/images/ir/ir-banner03.jpg"></div>
                </div>
            </div>
        </div>
    </div>

    <!---------- IR INDEX :: DOWNLOAD ---------->
    <div class="wrap-pad">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-11 col-md-11 col-10">
                <ul class="mainbanner-download">
                    <li>
                        <a href="@Url.Action("IR_financial_highlight","Frontend_IR")">
                            <div class="img-width"><img src="~/Frontend_assets/images/ir/icon-important-financial.svg"></div>
                            <div class="download-topic">
                                <p>ข้อมูลสำคัญทางการเงิน</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("IR_presentation_doc","Frontend_IR")">
                            <div class="img-width"><img src="~/Frontend_assets/images/ir/icon-presentation-doc.svg"></div>
                            <div class="download-topic">
                                <p>เอกสารนำเสนอ</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("IR_annual_report","Frontend_IR")">
                            <div class="img-width"><img src="~/Frontend_assets/images/ir/icon-annual-report.svg"></div>
                            <div class="download-topic">
                                <p>รายงานประจำปี</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("IR_propose_agenda","Frontend_IR")">
                            <div class="img-width"><img src="~/Frontend_assets/images/ir/icon-proposing-agenda.svg"></div>
                            <div class="download-topic">
                                <p>เสนอวาระ/กรรมการ/<br>คำถามล่วงหน้า</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!---------- IR INDEX :: IR COMPANY PROFILE ---------->
    <div class="IR-index-info">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10 col-12">
                <div class="img-width"><img src="~/Frontend_assets/images/ir/office.jpg"></div>
            </div>
            <div class="col-lg-6 col-md-9 col-12">
                <div class="BGrayBox">
                    <div class="row">
                        <div class="col">
                            <h3>LIGHTING & EQUIPMENT <br>PUBLIC COMPANY LIMITED</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="txt-content f-17 WH-txt">
                                <p>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) หรือ L&E (Lighting & Equipment Public Company Limited) ผู้ผลิต ผู้นำเข้าและผู้จัดจำหน่ายผลิตภัณฑ์ไฟฟ้าแสงสว่างต่างๆ ตลอดจนเป็นผู้ให้บริการด้านไฟฟาแสงสว่างอย่างครบวงจร</p>
                                <p class="f-15">จดทะเบียนเป็นบริษัทมหาชน : วันที่ 8 เมษายน 2547</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="buttonBD" href="">อ่านต่อ<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---------- IR INDEX :: STOCK PRICE SECTION ---------->
    <div class="wrap-pad">
        <div class="stock-section">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-12">
                    <div class="WH-Box">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="topicBD-Box">
                                            <div>STOCK PRICE</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-9 col-md-9 col-11">
                                        <div class="img-width">
                                            <iframe frameborder=0 scrolling=no width="200" height="260" src="https://weblink.settrade.com/banner/banner3.jsp"></iframe>
                                            @*<img src="~/Frontend_assets/images/ir/stock-price.jpg">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="topicBD-Box">
                                            <div>SET INDEX</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-lg-9 col-md-9 col-11">
                                        <div class="img-width">
                                            <iframe frameborder=0 scrolling=no width="200" height="200" src="https://weblink.settrade.com/IRPage/irpage.jsp?txtSymbol=L%2526E&language=th&key=27742"></iframe>
                                            @*<img src="~/Frontend_assets/images/ir/set-index.jpg">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="WH-Box">
                        <div class="row">
                            <div class="col">
                                <div class="topicBD-Box">
                                    <div>TOTAL REVENUE</div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-md-6 col-12">
                                <div class="img-width">
                                    <iframe frameborder=0 scrolling=no width="200" height="200" src="https://weblink.settrade.com/IRPage/irpage.jsp?txtSymbol=L%2526E&language=en&key=27742"></iframe>
                                    @*<img src="~/Frontend_assets/images/ir/total-revenue.jpg">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------- IR INDEX :: FINANCIAL HIGHLIGHT ---------->
<div class="financial-section" style="background-image: url(/Frontend_assets/images/ir/financial-highlightBG.jpg);">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <h1>ข้อมูลสำคัญทางการเงิน</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>ข้อมูลสำคัญทางการเงิน ประจำปี 2565</h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-11 col-lg-12 col-12">
                    <ul class="financial-info">
                        <li>
                            <div class="icon-wCaption">
                                <div class="row">
                                    <div class="col">
                                        <div class="iconGD-BoxBD">
                                            <div class="iconGD-Box"><img src="~/Frontend_assets/images/ir/icon-total-income.svg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="finance-num">31.42</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>กำไรสำหรับปี</h6>
                                        <p>(ล้านบาท)</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-wCaption">
                                <div class="row">
                                    <div class="col">
                                        <div class="iconGD-BoxBD">
                                            <div class="iconGD-Box"><img src="~/Frontend_assets/images/ir/icon-par-value.svg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="finance-num">1.00</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>มูลค่าที่ตราไว้</h6>
                                        <p>(บาท)</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-wCaption">
                                <div class="row">
                                    <div class="col">
                                        <div class="iconGD-BoxBD">
                                            <div class="iconGD-Box"><img src="~/Frontend_assets/images/ir/icon-assets.svg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="finance-num">3,383.11</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>สินทรัพย์รวม</h6>
                                        <p>(ล้านบาท)</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-wCaption">
                                <div class="row">
                                    <div class="col">
                                        <div class="iconGD-BoxBD">
                                            <div class="iconGD-Box"><img src="~/Frontend_assets/images/ir/icon-equity.svg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="finance-num">1,160.21</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>ส่วนของผู้ถือหุ้น</h6>
                                        <p>(ล้านบาท)</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="IR-index-news">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-12">
                            <div class="topicBD">ข่าวสารล่าสุด</div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-12">
                            <a class="button-txt" href="@Url.Action("IR_news","Frontend_IR")">อ่านทั้งหมด<i class="fas fa-plus-circle"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="timeline-section">
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_news_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์</p>
                                                </div>
                                                <div class="news-date">20 FEB 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_news_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์</p>
                                                </div>
                                                <div class="news-date">13 FEB 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_news_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์</p>
                                                </div>
                                                <div class="news-date">24 JAN 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_news_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์</p>
                                                </div>
                                                <div class="news-date">02 JAN 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_news_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์</p>
                                                </div>
                                                <div class="news-date">27 DEC 2022</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-12">
                            <div class="topicBD">ข่าวแจ้งตลาดหลักทรัพย์</div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-12">
                            <a class="button-txt" href="@Url.Action("IR_set_announcement","Frontend_IR")">อ่านทั้งหมด<i class="fas fa-plus-circle"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="timeline-section">
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_set_announcement_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์</p>
                                                </div>
                                                <div class="news-date">18 FEB 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_set_announcement_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์</p>
                                                </div>
                                                <div class="news-date">12 FEB 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_set_announcement_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์</p>
                                                </div>
                                                <div class="news-date">30 JAN 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_set_announcement_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์</p>
                                                </div>
                                                <div class="news-date">17 JAN 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="newsBox">
                                    <div class="row">
                                        <div class="col">
                                            <a class="news-content" href="@Url.Action("IR_set_announcement_detail","Frontend_IR")">
                                                <div class="news-topic">
                                                    <p>หัวข้อข่าวแจ้งตลาดหลักทรัพย์ หัวข้อข่าวแจ้งตลาดหลักทรัพย์</p>
                                                </div>
                                                <div class="news-date">06 JAN 2023</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-padding foot-pad ir-high-section">
    <div class="container-fluid">
        <div class="wrap-pad more-w">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <a class="img-zoom" href="@Url.Action("IR_annual_report","Frontend_IR")">
                        <div class="img-width"><img src="~/Frontend_assets/images/ir/index-annual-report.jpg"></div>
                        <div class="img-zoom-info">
                            <div class="row">
                                <div class="col">
                                    <h2>รายงานประจำปี</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content f-17 WH-txt text-center">
                                        <p>รายงานประจำปีนี้เป็นการนำเสนอความสำเร็จของแผนปฏิบัติการของ <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="content-center">
                                        <div class="buttonBD">อ่านต่อ<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <a class="img-zoom" href="@Url.Action("IR_mda","Frontend_IR")">
                        <div class="img-width"><img src="~/Frontend_assets/images/ir/index-description-analysis.jpg"></div>
                        <div class="img-zoom-info">
                            <div class="row">
                                <div class="col">
                                    <h2>คำอธิบายและการวิเคราะห์</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content f-17 WH-txt text-center">
                                        <p>แสดงข้อมูลคำอธิบายและการวิเคราะห์ ของ <br>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) มีผลการดำเนินงานดังนี้</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="content-center">
                                        <div class="buttonBD">อ่านต่อ<i class="fa fa-long-arrow-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <h1 class="bold">INVESTOR RELATIONS <span>HIGHLIGHT</span></h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 col-md-11">
                    <div class="txt-content text-center f-17">
                        <p>นักลงทุนสัมพันธ์ (IR) เป็นความรับผิดชอบในการบริหารเชิงกลยุทธ์ที่สามารถรวมการสื่อสารด้านการ เงิน, การสื่อสาร, การตลาดและการปฏิบัติตามกฎหมายหลักทรัพย์เพื่อให้เกิดการสื่อสารของสองฝ่าย มีประสิทธิภาพมากที่สุดระหว่างบริษัท, นักลงทุนและหน่วยงานอื่นๆ ซึ่งก่อให้เกิดความเป็นธรรมต่อหลักทรัพย์, นักลงทุนและหน่วยงานอื่นๆ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="IR-highlight">
                    <li>
                        <a class="highlightBox" href="@Url.Action("IR_general_meeting","Frontend_IR")">
                            <figure><span></span><img src="~/Frontend_assets/images/ir/highlight01.jpg" alt=""></figure>
                            <div class="highlight-info">
                                <h5 class="decor">SHAREHOLDER INFORMATION<i class="fas fa-arrow-circle-up"></i></h5>
                                <div class="highlight-caption">
                                    <div class="twolines">
                                        <p>หลักเกณฑ์และรูปแบบที่จะต้องแจ้งให้ผู้ถือหุ้นทราบล่วงหน้า รวมถึงวาระการประชุม การประชุมจะจัดขึ้นในที่ประชุมผู้ถือหุ้น</p>
                                    </div>
                                    <div class="buttonBD">อ่านต่อ<i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="highlightBox" href="@Url.Action("IR_corporate_governance","Frontend_IR")">
                            <figure><span></span><img src="~/Frontend_assets/images/ir/highlight02.jpg" alt=""></figure>
                            <div class="highlight-info">
                                <h5 class="decor">CORPORATE GOVERNANCE<i class="fas fa-arrow-circle-up"></i></h5>
                                <div class="highlight-caption">
                                    <div class="twolines">
                                        <p>คณะกรรมการบริษัทมีความเชื่อมั่นว่า การมีระบบกำกับดูแลกิจการที่ดี เป็นส่วนสำคัญที่จะช่วยให้บริษัทประสบความสำเร็จ ในการดำเนินธุรกิจ และจะช่วยให้บริษัทเติบโตได้อย่างมั่นคง และยั่งยืน</p>
                                    </div>
                                    <div class="buttonBD">อ่านต่อ<i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="highlightBox" href="@Url.Action("IR_csr_policy","Frontend_IR")">
                            <figure><span></span><img src="~/Frontend_assets/images/ir/highlight03.jpg" alt=""></figure>
                            <div class="highlight-info">
                                <h5 class="decor">CORPORATE SOCIAL RESPONSIBILITY<i class="fas fa-arrow-circle-up"></i></h5>
                                <div class="highlight-caption">
                                    <div class="twolines">
                                        <p>บริษัทใส่ใจในชุมชนและสังคมรอบข้าง อีกทั้งตระหนักในการร่วมดูแลรักษาสิ่งแวดล้อม เพราะเราเชื่อว่าการดำเนินธุรกิจภายใต้สังคมและสิ่งแวดล้อมที่เอื้อต่อการดำเนินงานจะส่งเสริมให้บริษัทสามารถเติบโตได้อย่างมีเสถียรภาพ และยั่งยืน</p>
                                    </div>
                                    <div class="buttonBD">อ่านต่อ<i class="fa fa-long-arrow-right"></i></div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.main-banner').owlCarousel({
                loop: true,
                margin: 0,
                autoplay: true,
                animateOut: 'fadeOut',
                autoplayTimeout: 5500,
                smartSpeed: 4000,
                autoplayHoverPause: false,
                mouseDrag: false,
                dots: true,
                nav: false,
                navText: [
                    '<i class="fas fa-chevron-left"></i>',
                    '<i class="fas fa-chevron-right"></i>'
                ],
                responsive: {
                    0: {
                        items: 1,
                        slideBy: 1,
                    },
                    640: {
                        items: 1,
                        slideBy: 1
                    },
                    1024: {
                        items: 1,
                        slideBy: 1
                    }
                }
            })

            //var userAgent = window.navigator.userAgent,
            //    platform = window.navigator.platform,
            //    macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
            //    windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
            //    iosPlatforms = ['iPhone', 'iPad', 'iPod'],
            //    os = null;

            //if (macosPlatforms.indexOf(platform) !== -1) {
            //    os = 'Mac OS';
            //} else if (iosPlatforms.indexOf(platform) !== -1) {
            //    os = 'iOS';
            //} else if (windowsPlatforms.indexOf(platform) !== -1) {
            //    os = 'Windows';
            //} else if (/Android/.test(userAgent)) {
            //    os = 'Android';
            //} else if (!os && /Linux/.test(platform)) {
            //    os = 'Linux';
            //}

            //alert(os)

            //console.log(os)

        });
    </script>
}