@{
    ViewData["Title"] = "IR_news_detail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var Count_IR_Latest_News = (List<Lighting.Areas.Identity.Data.IR_Latest_New>)ViewBag.IR_Latest_News;
    var Count_IR_Latest_NewDetail = (List<Lighting.Areas.Identity.Data.IR_Latest_NewDetail>)ViewBag.IR_Latest_NewDetail;
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 08 NEWS ROOM :: IR NEWS - DETAIL ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Count_IR_Latest_News.Count() != 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                foreach (var item in ViewBag.IR_Latest_News)
                                {
                                    <h5>@item.Title_EN</h5>
                                    <h1>@item.SubTitle_EN</h1>
                                }
                            }
                            else
                            {
                                foreach (var item in ViewBag.IR_Latest_News)
                                {
                                    <h5>@item.Title_TH</h5>
                                    <h1>@item.SubTitle_TH</h1>
                                }
                            }
                        }
                        else
                        {
                            <h5>ห้องข่าว</h5>
                            <h1>ข่าวล่าสุด</h1>
                        }
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11 col-md-11 col-12">
                    <div class="news-page">
                        @if (Count_IR_Latest_NewDetail.Count() != 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                foreach (var item in ViewBag.IR_Latest_NewDetail)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <h4>@item.Title_EN</h4>
                                            @if (@item.NewDate != null)
                                            {
                                                <div class="news-date">@item.NewDate.ToString("dd MMM yyyy")</div>
                                            }
                                            else
                                            {
                                                <div class="news-date"></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/upload_image/IR_NewRoom/@item.Image"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="txt-content indent">
                                                @Html.Raw(item.Detail_EN)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="doubleBD"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="content-center">
                                                <a class="buttonB" href="@Url.Action("IR_news","Frontend_IR")"><i class="fas fa-long-arrow-alt-left"></i>Back Page</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                foreach (var item in ViewBag.IR_Latest_NewDetail)
                                {
                                    <div class="row">
                                        <div class="col">
                                            <h4>@item.Title_TH</h4>
                                            @if (@item.NewDate != null)
                                            {
                                                <div class="news-date">@item.NewDate.ToString("dd MMM yyyy")</div>
                                            }
                                            else
                                            {
                                                <div class="news-date"></div>
                                            }
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/upload_image/IR_NewRoom/@item.Image"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="txt-content indent">
                                                @Html.Raw(item.Detail_TH)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="doubleBD"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="content-center">
                                                <a class="buttonB" href="@Url.Action("IR_news","Frontend_IR")"><i class="fas fa-long-arrow-alt-left"></i>Back Page</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col">
                                    <h4>หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์ หัวข้อข่าวสารนักลงทุนสัมพันธ์ </h4>
                                    <div class="news-date">20 FEB 2023 </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/ir/ir-news.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="txt-content indent">
                                        <p>ทอล์คมาร์เก็ตติ้งโทร สะบึมแจ๊สบุ๋น เบบี้ผลักดันเฟรม เกมส์ พุทธศตวรรษ บอดี้บอกซ์อุปทานอึ๋มพรีเซ็นเตอร์ ปิโตรเคมีแจ็กพอตปาสเตอร์แชมป์เซนเซอร์ เมจิค จัมโบ้อุปสงค์วิปถูกต้อง กรอบรูปตังค์เมจิครีโมต สันทนาการ โอ้ยโจ๋เบอร์เกอร์ บุ๋น แคมป์ซูเปอร์ สแตนดาร์ดงั้น ตู้เซฟพงษ์คัตเอาต์เนอะโมจิ แหม็บเลคเชอร์ พาสต้าโชว์รูมรอยัลตี้ บร็อคโคลีแซมบ้า วิปมินท์แฟ็กซ์เก๋ากี้ บ๋อยสมิติเวชโค้กเมจิคเกจิ มาม่าช็อปปิ้ง คอลัมนิสต์พลานุภาพอึ๋มจูนเวิร์ค ไฮไลต์ลีกโอ้ย โอเคตรวจทาน ﻿กรรมาชนอันตรกิริยา ม็อบถ่ายทำคาร์หมวย ศากยบุตรแฟล็ตไฮบริด อึ้มเลิฟหล่อฮังก้วยวิปพาวเวอร์ เฝอเคลื่อนย้ายซิ่งยอมรับอพาร์ทเมนท์ แจ็กเก็ตบัส ซิลเวอร์ไลท์วิกลีเมอร์ มิวสิคแฮปปี้ทับซ้อนกุมภาพันธ์กษัตริยาธิราช วอลซ์คอลัมน์อัลบัมโพลารอยด์ ไบโอบาบูนวอลซ์ภควัมปติ</p>
                                        <p>ถ่ายทำ คำสาปไมเกรน ลิมูซีน ดีพาร์ตเมนต์ปิโตรเคมีบาร์บีคิวแซว สลัมแอปเปิลเอ๊าะเซอร์ไฟลต์ ตุ๊กโหลนไลท์ วิดีโอ คลิปทอร์นาโดบอยคอตต์ลิมิต ไฮเปอร์บลูเบอร์รี่ชัตเตอร์สเตเดียมพรีเซ็นเตอร์ เทวาธิราชสปอร์ตบาร์บีคิว อุตสาหการเวสต์รายชื่อสเตอริโอ อะวีเจโหงวเฮ้ง แพลน กุมภาพันธ์โลโก้ ชาร์ปอาข่าราสเบอร์รีอพาร์ทเมนต์ ฟาสต์ฟู้ด ฮาราคีรีแคร็กเกอร์ทัวร์แดนซ์ ซีน มุมมองคีตกวีแม่ค้าวิดีโอตะหงิด คอรัปชั่นอัลไซเมอร์สติกเกอร์คอลัมนิสต์อิเหนา ทัวร์นาเมนท์โดมิโนอัลมอนด์ซิมโฟนี่ อิกัวนา โอเปร่าแจ๊กพอตอุปสงค์ แกรนด์ปาสเตอร์ตู้เซฟมาร์ตทอล์ค เอสเพรสโซศิลปากรคีตปฏิภาณ รีเสิร์ชแอปพริคอทสแควร์ ดยุก บร็อกโคลีพีเรียดฮ่องเต้ โจ๋ซีนีเพล็กซ์ซาตาน แพ็ค เลสเบี้ยน บรรพชนบร็อกโคลี โกเต็กซ์ ภารตะแครอทเจ็ตสไลด์ชาร์ป คอนแท็คแจ๊กพ็อต</p>
                                        <p>ก่อนหน้าอัลตราคาร์แอดมิชชั่นเซี้ยว ราสเบอร์รีวอลซ์แกรนด์จูเนียร์ แครกเกอร์บัส ป๊อกสแตนดาร์ดอ่อนด้อย สวีททาวน์เฮาส์แม็กกาซีน ไลน์เบอร์เกอร์พลานุภาพซานตาคลอส เทรดทอล์ค ซาบะเลิฟแม็กกาซีน อึ้มกระดี๊กระด๊า ซูเปอร์รีทัชวาซาบิ สงบสุข ซิมโฟนี่เบิร์ดแดนซ์ผู้นำ บูม อุด้ง นรีแพทย์ อิเลียด ซีนสลัมไดเอ็ตเพนตากอนต่อรอง แรงดูดฮาราคีรีคณาญาติเซ็นทรัล ช็อปเปอร์ เลสเบี้ยนยังไงควีนภควัมปติศิรินทร์ แฟรี่หมวย เทอร์โบกีวี สงบสุขฟลุกไฮไลท์โดมิโน มัฟฟิน แฟ้บคอมเมนต์หลวงตาคาเฟ่แรลลี่ แพนด้าเฟอร์นิเจอร์โอเวอร์ เลิฟสตรอเบอรีสต็อค บ๋อยคีตปฏิภาณโยโย่ แอสเตอร์คาเฟ่ราเมนวันเวย์ ธรรมา แชมปิยองศิลปากรรุสโซบึม รีโมทอุปสงค์สหรัฐจ๊อกกี้ สัมนาสกรัม อันเดอร์ถ่ายทำแฟรี อ่วม</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="doubleBD"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="content-center">
                                        <a class="buttonB" href="@Url.Action("IR_news","Frontend_IR")"><i class="fas fa-long-arrow-alt-left"></i>ย้อนกลับ</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>