@{
    ViewData["Title"] = "IR_news_clipping";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var Count_IR_Print_Media = (List<Lighting.Areas.Identity.Data.IR_Print_Media>)ViewBag.IR_Print_Media;
    var Count_IR_Print_MediaDetail = (List<Lighting.Areas.Identity.Data.IR_Print_MediaDetail>)ViewBag.IR_Print_MediaDetail;

    var language = "";
    if (Context.Request.Cookies["lang"] == "EN")
    {
        language = "EN";
    }
    else
    {
        language = "TH";
    }
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 08 NEWS ROOM :: NEWS CLIPPING ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Count_IR_Print_Media.Count() != 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                foreach (var item in ViewBag.IR_Print_Media)
                                {
                                    <h5>@item.Title_EN</h5>
                                    <h1>@item.SubTitle_EN</h1>
                                }
                            }
                            else
                            {
                                foreach (var item in ViewBag.IR_Print_Media)
                                {
                                    <h5>@item.Title_TH</h5>
                                    <h1>@item.SubTitle_TH</h1>
                                }
                            }
                        }
                        else
                        {
                            <h5>ห้องข่าว</h5>
                            <h1>ข่าวจากสื่อสิ่งพิมพ์</h1>
                        }
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-11 col-12">
                    <div class="blueBox input-form clipping-news more-mb">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-4">ตั้งแต่วันที่</div>
                            <div class="col-lg-4 col-md-4 col-8">
                                <input type="date" class="form-control" id="StartDate">
                            </div>
                            <div class="col-lg-2 col-md-2 col-4">ถึงวันที่</div>
                            <div class="col-lg-4 col-md-4 col-8">
                                <input type="date" class="form-control" id="EndDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="content-center">
                                    <a class="buttonB m-size" onclick="Search()"><i class="fas fa-search"></i>ค้นหา</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11 col-md-11 col-12">
                    <div class="blueTB clipping-newsTB">
                        <table>
                            <thead>
                                <tr>
                                    <th>วันที่</th>
                                    <th>หัวข้อข่าว</th>
                                    <th>แหล่งข่าว</th>
                                </tr>
                            </thead>
                            <tbody id="data-container"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <nav aria-label="Page navigation example">
                            <div id="pagination"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var getPagination;
        $(function () {
            GetData()
        });

        function GetData() {
            console.log($("#StartDate").val())


            let container = $('#pagination');
            getPagination = function (dto) {
                var local = "@language";
                var title = function ({ title_TH, title_EN }, lag) {
                    if (lag === "TH") {
                        if (title_TH == "null") {
                            return title_TH;
                        } else {
                            return title_TH;
                        }
                    } else if (lag === "EN") {
                        if (title_EN == "null") {
                            return title_EN;
                        } else {
                            return title_EN;
                        }
                    }
                }

                var details = function ({ detail_TH, detail_EN }, lag) {
                    if (lag === "TH") {
                        if (detail_TH == "null") {
                            return detail_TH;
                        } else {
                            return detail_TH;
                        }
                    } else if (lag === "EN") {
                        if (detail_EN == "null") {
                            return detail_EN;
                        } else {
                            return detail_EN;
                        }
                    }
                }
                var date = function ({ newDate }, lag) {
                    if (lag === "TH") {
                        return getDateString(newDate);
                    } else if (lag === "EN") {
                        return getDateString(newDate);
                    }
                }

                var file = function ({ fileName_TH, fileName_EN }, lag) {
                    if (lag === "TH") {
                        if (fileName_TH == "null") {
                            return fileName_TH;
                        } else {
                            return fileName_TH;
                        }
                    } else if (lag === "EN") {
                        if (fileName_EN == "null") {
                            return fileName_EN;
                        } else {
                            return fileName_EN;
                        }
                    }
                }

                var GetId = function ({ id }, lag) {
                    if (lag === "TH") {
                        return id;
                    } else if (lag === "EN") {
                        return id;
                    }
                }

                var GetFile = function ({ fileNameTH, fileNameEN }, lag) {
                    if (lag === "TH") {
                        if (fileNameTH == "null") {
                            return fileNameTH;
                        } else {
                            return fileNameTH;
                        }
                    } else if (lag === "EN") {
                        if (fileNameEN == "null") {
                            return fileNameEN;
                        } else {
                            return fileNameEN;
                        }
                    }
                }

                var Getimage = function ({ image_Newssource }, lag) {
                    return image_Newssource;
                }

                container.pagination({
                    dataSource: dto,
                    pageSize: 10,
                    position: 'center',
                    callback: function (data, pagination) {
                        var dataHtml = ``;
                        if (data.length > 0) {
                            $.each(data, function (index, item) {

                                var date = new Date(item.newDate);
                                var optionsTH = { year: 'numeric', month: 'long', day: 'numeric' };
                                var formattedDateTH = date.toLocaleDateString('th-TH', optionsTH);

                                var optionsEN = { year: 'numeric', month: 'long', day: 'numeric' };
                                var formattedDateEN = date.toLocaleDateString('en-US', optionsEN);

                                dataHtml += `<tr><td>`;
                                if (local == "TH") {
                                    dataHtml += formattedDateTH
                                } else {
                                    dataHtml += formattedDateEN
                                }

                                dataHtml += `</td>
                                                  <td>
                                                      <a href="/upload_file/IR_NewRoom/` + GetFile(item, local) + `" target="_blank">` + title(item, local) + ` </a>
                                                   </td>
                                             <td>
                                             <div class="source-logo" > <img src="/upload_image/IR_NewRoom/` + Getimage(item, local) + `"> </div>
                                             </td>
                                             </tr>`;
                            });
                        }
                        else {
                            dataHtml += `<tr>
                                                <td>19 ม.ค. 2566</td>
                                                <td>
                                                    <a href="/Frontend_assets/images/ir/clipping-news.pdf" target="_blank">L&Eตั้งเป้ารายได้ปีนี้โตลุยประมูลงาน3-4พันล.</a>
                                                </td>
                                                <td>
                                                    <div class="source-logo"><img src="/Frontend_assets/images/ir/news-thunhoon.png"></div>
                                                </td>
                                            </tr>  `;
                        }

                        $("#data-container").html(dataHtml);
                    }
                });
            }

            getPagination(function (done) {
                $.ajax({
                    url: '/Frontend_IR/Get_IR_news_clipping',
                    type: 'GET',
                    data: {
                        Start: $("#StartDate").val(),
                        End: $("#EndDate").val(),
                    },
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        let pp = [];
                        if (response && response.obj && Array.isArray(response.obj)) {
                            response.obj.forEach(data => pp.push(data));
                        } else {
                            console.log('Invalid response or missing "obj" property');
                        }
                        done(pp);
                    },
                    error: function (error) {
                        console.log('AJAX request failed:', error);
                    }
                });
            });
        }


        function Search() {
            GetData()
        }
    </script>
}