@using System.Globalization

@{
    ViewData["Title"] = "IR_presentation_doc";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";

    var language = "";
    if (Context.Request.Cookies["lang"] == "EN")
    {
        language = "EN";
    }
    else
    {
        language = "TH";
    }
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 05 PRESENTATION :: PRESENTATION DOC ---------->
<div class="content-padding foot-pad minH">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Context.Request.Cookies["lang"] == "EN")
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleENG</h5>
                                    <h1>@item.detailsTitleENG</h1>
                                }
                            }
                            else
                            {
                                <h5>การนำเสนอข้อมูล</h5>
                                <h1>เอกสารนำเสนอ</h1>
                            }
                        }
                        else
                        {
                            if (ViewBag.Header != null)
                            {
                                foreach (var item in ViewBag.Header)
                                {
                                    <h5>@item.titleTH</h5>
                                    <h1>@item.detailsTitleTH</h1>
                                }
                            }
                            else
                            {
                                <h5>การนำเสนอข้อมูล</h5>
                                <h1>เอกสารนำเสนอ</h1>
                            }
                        }

                        @*  <h5>การนำเสนอข้อมูล</h5>
                        <h1>เอกสารนำเสนอ</h1>*@

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-9 col-lg-10 col-md-11 col-12">
                    <div class="blueTB">
                        <table>
                            <thead>
                                <tr>
                                    @if (Context.Request.Cookies["lang"] == "EN")
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th>@item.present_documentTitleENG</th>
                                                <th>@item.downloadTitleENG</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>เอกสารนำเสนอ</th>
                                            <th>ดาวน์โหลด</th>
                                        }
                                    }
                                    else
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th>@item.present_documentTitleTH</th>
                                                <th>@item.downloadTitleTH</th>
                                            }
                                        }
                                        else
                                        {
                                            <th>เอกสารนำเสนอ</th>
                                            <th>ดาวน์โหลด</th>
                                        }
                                    }

                                    @*   <th>เอกสารนำเสนอ</th>
                                    <th>ดาวน์โหลด</th>*@

                                </tr>
                            </thead>
                            @*
                            <tbody id="data-container">
                            </tbody>*@

                            <tbody id="data-container">

                                @* @if (Context.Request.Cookies["lang"] == "EN")
                                {
                                if (ViewBag.Body != null)
                                {
                                foreach (var item in ViewBag.Body)
                                {
                                var confrimDate = Convert.ToDateTime(item.document_date);
                                var Insert_Date = confrimDate.ToString("MM/yyyy", new CultureInfo("en-US"));

                                <tr>
                                <td>@item.titleENG &nbsp; @Insert_Date</td>
                                <td>
                                <a class="download-button" href="~/upload_file/SH_IR_Presentation/@item.file_name_ENG" target="_blank"><span>Download</span></a>
                                </td>
                                </tr>
                                }
                                }
                                }
                                else
                                {
                                if (ViewBag.Body != null)
                                {
                                foreach (var item in ViewBag.Body)
                                {
                                var confrimDate = Convert.ToDateTime(item.document_date);
                                var Insert_Date = confrimDate.ToString("MM/yyyy", new CultureInfo("th-TH"));

                                <tr>
                                <td>@item.titleTH &nbsp; @Insert_Date</td>
                                <td>
                                <a class="download-button" href="~/upload_file/SH_IR_Presentation/@item.file_name" target="_blank"><span>ดาวน์โหลด</span></a>
                                </td>
                                </tr>
                                }
                                }
                                }*@


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <nav aria-label="Page navigation example">

                            <div id="pagination">
                            </div>
                            @*<ul class="pagination">
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <i class="fas fa-arrow-left"></i>
                            </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <i class="fas fa-arrow-right"></i>
                            </a>
                            </li>
                            </ul>*@
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        var getPagination;

        $(function () {
            let container = $('#pagination');
            getPagination = function (dto) {
                var local = "@language";

                var title = function ({ titleTH, titleENG }, lag) {
                    if (lag === "TH") {
                        if (titleTH.toLowerCase() == "null") {
                            return titleTH;
                        } else {
                            return titleTH;
                        }
                        //return FileDownload_TH;
                    } else if (lag === "EN") {
                        if (titleENG.toLowerCase() == "null") {
                            return titleENG;
                        } else {
                            return titleENG;
                        }
                        //return FileDownload_ENG;
                    }
                }

                var date = function ({ document_date }, lag) {
                    if (lag === "TH") {
                        return getDateString(document_date);
                    } else if (lag === "EN") {
                        return getDateString(document_date);
                    }
                }

                var file = function ({ file_name, file_name_ENG }, lag) {
                    if (lag === "TH") {
                        if (file_name == "null") {
                            return file_name;
                        } else {
                            return file_name;
                        }
                        //return FileDownload_TH;
                    } else if (lag === "EN") {
                        if (file_name_ENG == "null") {
                            return file_name_ENG;
                        } else {
                            return file_name_ENG;
                        }
                        //return FileDownload_ENG;
                    }
                }

                var GetId = function ({ id }, lag) {
                    if (lag === "TH") {
                        return id;
                    } else if (lag === "EN") {
                        return id;
                    }
                }

                container.pagination({
                    dataSource: dto,
                    pageSize: 10,
                    position: 'center',
                    callback: function (data, pagination) {
                        var dataHtml = ``;

                        $.each(data, function (index, item) {

                            var date = new Date(item.document_date);
                            var optionsTH = { year: 'numeric', month: 'numeric' };
                            var formattedDateTH = date.toLocaleDateString('th-TH', optionsTH);

                            var optionsEN = { year: 'numeric', month: 'numeric' };
                            var formattedDateEN = date.toLocaleDateString('en-US', optionsEN);

                            if (item.activity_date == null) {
                                formattedDateTH = "";
                                formattedDateEN = "";
                            }

                            dataHtml += `<tr>
                                                                        <td>`+ title(item, local) + ` &nbsp;`;
                            if (local == "TH") {
                                dataHtml += formattedDateTH
                            } else {
                                dataHtml += formattedDateEN
                            }
                            dataHtml += `</td>
                                                                <td>
                                                                `;
                             
                            if (file(item, local) != null ) {
                                dataHtml += ` <a class="download-button" href="../upload_file/SH_IR_Presentation/` + file(item, local) + `" target="_blank">`;
                                if (local == "TH") {
                                    dataHtml += `<span>ดาวน์โหลด</span>`;
                                } else {
                                    dataHtml += `<span>Download </span>`;
                                }
                            }

                            dataHtml += `</a>
                                                                </td>
                                                            </tr>`;

                        });

                        dataHtml += ``;

                        $("#data-container").html(dataHtml);
                    }
                });

            }

            getPagination(function (done) {
                $.ajax({
                    url: '/Frontend_IR/Get_IR_presentation_doc',
                    type: 'GET',
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        let pp = [];

                        if (response && response.obj && Array.isArray(response.obj)) {
                            response.obj.forEach(data => pp.push(data));
                        } else {
                            console.log('Invalid response or missing "obj" property');
                        }

                        done(pp);
                    },
                    error: function (error) {
                        console.log('AJAX request failed:', error);
                    }
                });
            });

        });

    </script>

}