@{
    ViewData["Title"] = "IR_public_relation";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var Count_IR_MassMedia = (List<Lighting.Areas.Identity.Data.IR_MassMedia>)ViewBag.IR_MassMedia;
    var Count_IR_MassMediaDetail = (List<Lighting.Areas.Identity.Data.IR_MassMediaDetail>)ViewBag.IR_MassMediaDetail;
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;
    var language = "";
    if (Context.Request.Cookies["lang"] == "EN")
    {
        language = "EN";
    }
    else
    {
        language = "TH";
    }

    ViewData["Finance_Statement"] = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    ViewData["SH_IR_prospectus"] = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;

    var Finance_Statement = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    var SH_IR_prospectus = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 08 NEWS ROOM :: PUBLIC RELATION ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <div class="header-twoline">
                        @if (Count_IR_MassMedia.Count() != 0)
                        {
                            if (Context.Request.Cookies["lang"] == "EN")
                            {
                                foreach (var item in ViewBag.IR_MassMedia)
                                {
                                    <h5>@item.Title_EN</h5>
                                    <h1>@item.SubTitle_EN</h1>
                                }
                            }
                            else
                            {
                                foreach (var item in ViewBag.IR_MassMedia)
                                {
                                    <h5>@item.Title_TH</h5>
                                    <h1>@item.SubTitle_TH</h1>
                                }
                            }
                        }
                        else
                        {
                            <h5 id="Title">ห้องข่าว</h5>
                            <h1 id="SubTitle">ข่าวแจ้งสื่อมวลชน</h1>
                        }
                    </div>
                </div>
            </div>
            <div class="three-colPad">
                <div class="row" id="data-container"></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <nav aria-label="Page navigation example">
                            <div id="pagination"></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var getPagination;
        $(function () {
            let container = $('#pagination');
            getPagination = function (dto) {
                var local = "@language";
                var title = function ({ title_TH, title_EN }, lag) {
                    if (lag === "TH") {
                        if (title_TH == "null") {
                            return title_TH;
                        } else {
                            return title_TH;
                        }
                    } else if (lag === "EN") {
                        if (title_EN == "null") {
                            return title_EN;
                        } else {
                            return title_EN;
                        }
                    }
                }

                var details = function ({ detail_TH, detail_EN }, lag) {
                    if (lag === "TH") {
                        if (detail_TH == "null") {
                            return detail_TH;
                        } else {
                            return detail_TH;
                        }
                    } else if (lag === "EN") {
                        if (detail_EN == "null") {
                            return detail_EN;
                        } else {
                            return detail_EN;
                        }
                    }
                }
                var date = function ({ newDate }, lag) {
                    if (lag === "TH") {
                        return getDateString(newDate);
                    } else if (lag === "EN") {
                        return getDateString(newDate);
                    }
                }

                var file = function ({ fileName_TH, fileName_EN }, lag) {
                    if (lag === "TH") {
                        if (fileName_TH == "null") {
                            return fileName_TH;
                        } else {
                            return fileName_TH;
                        }
                    } else if (lag === "EN") {
                        if (fileName_EN == "null") {
                            return fileName_EN;
                        } else {
                            return fileName_EN;
                        }
                    }
                }

                var GetId = function ({ id }, lag) {
                    if (lag === "TH") {
                        return id;
                    } else if (lag === "EN") {
                        return id;
                    }
                }

                var Getimage = function ({ image }, lag) {
                    return image;
                }

                container.pagination({
                    dataSource: dto,
                    pageSize: 10,
                    position: 'center',
                    callback: function (data, pagination) {
                        var dataHtml = ``;
                        if (data.length > 0) {
                            $.each(data, function (index, item) {

                                var date = new Date(item.newDate);
                                var optionsTH = { year: 'numeric', month: 'long', day: 'numeric' };
                                var formattedDateTH = date.toLocaleDateString('th-TH', optionsTH);

                                var optionsEN = { year: 'numeric', month: 'long', day: 'numeric' };
                                var formattedDateEN = date.toLocaleDateString('en-US', optionsEN);

                                dataHtml += `<div class="col-lg-4 col-md-4 col-6">
                                                                            <a class="news-publicBox" href="../Frontend_IR/IR_public_relation_detail/?Id=`+ GetId(item, local) + `">
                                                                        <div class="row">
                                                                            <div class="col">`;
                                if (Getimage != null) {
                                    dataHtml += `<div class="img-width" > <img src="/upload_image/IR_NewRoom/` + Getimage(item, local) + `" > </div>`;
                                }

                                dataHtml += `</div>
                                                                        </div>
                                                                        <div class="news-public-info">
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                        <div class="news-topic">`+ details(item, local);

                                dataHtml += `</div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                        <div class="col">`;
                                if (local == "TH") {
                                    dataHtml += formattedDateTH
                                } else {
                                    dataHtml += formattedDateEN
                                }
                                dataHtml += `</div>
                                                                            </div>
                                                                        </div>
                                                                    </a>
                                                                        </div>`;
                            });
                        }
                        else {
                            dataHtml += `<div class="col-lg-4 col-md-4 col-6">
                                                    <a class="news-publicBox" href="#">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="img-width"><img src="/Frontend_assets/images/ir/ir-public01.jpg"></div>
                                                    </div>
                                                </div>
                                                <div class="news-public-info">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="news-topic">
                                                                <p>หัวข้อข่าวแจ้งสื่อมวลชน หัวข้อข่าวแจ้งสื่อมวลชน หัวข้อข่าวแจ้งสื่อมวลชน หัวข้อข่าวแจ้งสื่อมวลชน หัวข้อข่าวแจ้งสื่อมวลชน</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="news-date">17 FEB 2023</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>`;
                        }
                        $("#data-container").html(dataHtml);
                    }
                });
            }

            getPagination(function (done) {
                $.ajax({
                    url: '/Frontend_IR/Get_IR_public_relation',
                    type: 'GET',
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        let pp = [];
                        if (response && response.obj && Array.isArray(response.obj)) {
                            response.obj.forEach(data => pp.push(data));
                        } else {
                            console.log('Invalid response or missing "obj" property');
                        }
                        done(pp);
                    },
                    error: function (error) {
                        console.log('AJAX request failed:', error);
                    }
                });
            });

        });
    </script>
}