@{
    ViewData["Title"] = "IR_shareholding";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    ViewData["IR_Stock_LinkDetail"] = (List<Lighting.Areas.Identity.Data.IR_Stock_LinkDetail>)ViewBag.IR_Stock_LinkDetail;

    ViewData["Finance_Statement"] = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    ViewData["SH_IR_prospectus"] = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;

    var Finance_Statement = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    var SH_IR_prospectus = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;
}

@Html.Partial("~/Views/Shared/Inc/IR_inc_topmenu.cshtml")
<input id="page_name" value="ir" hidden />

<!---------- IR 04 SHAREHOLDER INFORMATION :: SHAREHOLDING ---------->
<div class="content-padding foot-pad minH">
    <div class="container-fluid">
        <div class="wrap-pad">
            @if (Context.Request.Cookies["lang"] == "EN")
            {
                if (ViewBag.Header != null)
                {
                    foreach (var item in ViewBag.Header)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="header-twoline">
                                    <h5>@item.TitleENG</h5>
                                    <h1>@item.detailsTitleENG</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content text-center f-17">
                                    <p>@item.detailsENG</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <div class="header-twoline">
                                <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                                <h1>ผู้ถือหุ้นรายใหญ่</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="txt-content text-center f-17">
                                <p>โครงสร้างผู้ถือหุ้น ณ วันที่ 2022-05-03</p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                if (ViewBag.Header != null)
                {
                    foreach (var item in ViewBag.Header)
                    {
                        <div class="row">
                            <div class="col">
                                <div class="header-twoline">
                                    <h5>@item.TitleTH</h5>
                                    <h1>@item.detailsTitleTH</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content text-center f-17">
                                    <p>@item.detailsTH</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <div class="header-twoline">
                                <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
                                <h1>ผู้ถือหุ้นรายใหญ่</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="txt-content text-center f-17">
                                <p>โครงสร้างผู้ถือหุ้น ณ วันที่ 2022-05-03</p>
                            </div>
                        </div>
                    </div>
                }
            }

            @* <div class="row">
            <div class="col">
            <div class="header-twoline">
            <h5>ข้อมูลสำหรับผู้ถือหุ้น</h5>
            <h1>ผู้ถือหุ้นรายใหญ่</h1>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col">
            <div class="txt-content text-center f-17">
            <p>โครงสร้างผู้ถือหุ้น ณ วันที่ 2022-05-03</p>
            </div>
            </div>
            </div>*@

            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-11 col-12">
                    <div class="blueTB shareholding">
                        <table>
                            <thead>
                                <tr>
                                    @if (Context.Request.Cookies["lang"] == "EN")
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th colspan="2">@item.nameTitleENG</th>
                                                <th>@item.amountTitleENG</th>
                                                <th>@item.percentTitleENG</th>
                                            }
                                        }
                                        else
                                        {
                                            <th colspan="2">รายชื่อ</th>
                                            <th>จำนวนหุ้น</th>
                                            <th>สัดส่วนร้อยละของหุ้นที่ถือ</th>
                                        }
                                    }
                                    else
                                    {
                                        if (ViewBag.Header != null)
                                        {
                                            foreach (var item in ViewBag.Header)
                                            {
                                                <th colspan="2">@item.nameTitleTH</th>
                                                <th>@item.amountTitleTH</th>
                                                <th>@item.percentTitleTH</th>
                                            }
                                        }
                                        else
                                        {
                                            <th colspan="2">รายชื่อ</th>
                                            <th>จำนวนหุ้น</th>
                                            <th>สัดส่วนร้อยละของหุ้นที่ถือ</th>
                                        }
                                    }
                                    @* <th colspan="2">รายชื่อ</th>
                                    <th>จำนวนหุ้น</th>
                                    <th>สัดส่วนร้อยละของหุ้นที่ถือ</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Context.Request.Cookies["lang"] == "EN")
                                {
                                    if (ViewBag.Body != null)
                                    {
                                        var i = 1;
                                        foreach (var item in ViewBag.Body)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.nameENG</td>
                                                <td>@item.amount</td>
                                                <td>@item.percentPerAmount</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }
                                else
                                {
                                    if (ViewBag.Body != null)
                                    {
                                        var i = 1;
                                        foreach (var item in ViewBag.Body)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.nameTH</td>
                                                <td>@item.amount</td>
                                                <td>@item.percentPerAmount</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                }

                                @* <td>1</td>
                                <td>นายปกรณ์ บริมาสพร</td>
                                <td>68,979,723.00</td>
                                <td>14.02</td>*@


                                @* <tr>
                                <td>2</td>
                                <td>น.ส.ธัญจิรา วิมลอนุพงษ์</td>
                                <td>40,000,000.00</td>
                                <td>8.13</td>
                                </tr>
                                <tr>
                                <td>3</td>
                                <td>น.ส.ธัญญา ภัทรพนาสกุล</td>
                                <td>38,350,005.00</td>
                                <td>7.79</td>
                                </tr>
                                <tr>
                                <td>4</td>
                                <td>บริษัท นิกรกิจและบุตร จำกัด</td>
                                <td>26,181,154.00</td>
                                <td>5.32</td>
                                </tr>
                                <tr>
                                <td>5</td>
                                <td>นางนภาพร วิมลอนุพงษ์</td>
                                <td>24,304,616.00</td>
                                <td>4.94</td>
                                </tr>
                                <tr>
                                <td>6</td>
                                <td>บริษัท นิกรกิจและบุตร จำกัด</td>
                                <td>23,512,505.00</td>
                                <td>4.78</td>
                                </tr>
                                <tr>
                                <td>7</td>
                                <td>นางสุมาลย์ ทรัพย์ทวยชน</td>
                                <td>16,350,832.00</td>
                                <td>3.32</td>
                                </tr>
                                <tr>
                                <td>8</td>
                                <td>UBS AG LONDON BRANCH</td>
                                <td>14,953,232.00</td>
                                <td>3.04</td>
                                </tr>
                                <tr>
                                <td>9</td>
                                <td>นางวลัยลักษณ์ วงศ์ธนวัฒน</td>
                                <td>13,561,091.00</td>
                                <td>2.76</td>
                                </tr>
                                <tr>
                                <td>10</td>
                                <td>นายภาสพล ประเทืองสิทธิ์</td>
                                <td>12,166,470.00</td>
                                <td>2.47</td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{


}

