@{
    ViewData["Title"] = "Product_Subcategory";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";

}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>

<!---------- PRODUCT :: SUB CATEGORY ---------->
<div class="content-padding foot-pad product-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                @Html.Partial("~/Views/Shared/Inc/Inc_productmenu.cshtml")
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col">
                            <ul class="bread-crumb">
                                <li><a href="@Url.Action("Product","Product")">PRODUCTS</a></li>
                                <li><a href="@Url.Action("Product_Category","Product")">OUTDOOR</a></li>
                                <li><a>FLOODLIGHT</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>FLOODLIGHT</h2>
                        </div>
                    </div>
                    <div class="three-colPad">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product01.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL201-S</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")p">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product02.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL221-S</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product03.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL201-B</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product04.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL465</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product05.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL800</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product06.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL461</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product07.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL230-S-HD</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product08.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL220-A-HD</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product09.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL201-A</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product10.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL211-C</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product11.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL220-C</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width">
                                                <img src="~/Frontend_assets/images/product/product12.jpg">
                                                <ul class="hover-detail">
                                                    <li>Dimension : 92x140x120 mm.</li>
                                                    <li>Power : 5W</li>
                                                    <li>IP Rating : 66</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="productBox-topic">
                                                <p>FLL220-B-GS</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="content-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination mt-4">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="fas fa-arrow-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <i class="fas fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>