@{
    ViewData["Title"] = "Product_Detail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@model Lighting.Models.InputFilterModels.Product.Output_ProductVM
@using Lighting.Models.InputFilterModels.Product

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>
<!---------- PRODUCT :: DETAIL ---------->
<div class="content-padding foot-pad product-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">

                <div class="row">
                    <div class="col">
                        <h4 class="decor">PRODUCT</h4>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-md-none d-lg-block">
                    <div class="row">
                        <div class="col">
                            <ul class="product-side-menu">
                                @foreach (var sub_cat in (IEnumerable<Output_ProductModelVM>)ViewData["Sub_Category"])
                                {
                                    if (sub_cat.Name_EN.ToLower().StartsWith(ViewBag.SubCategory.ToLower()) || sub_cat.Name_TH.StartsWith(ViewBag.SubCategory))
                                    {
                                        if (lang == "EN")
                                        {
                                            <li class="active"><a href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category,sub_category = sub_cat.Name_EN})">@sub_cat.Name_EN</a></li>
                                        }
                                        else
                                        {
                                            <li class="active"><a href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category,sub_category =sub_cat.Name_TH})">@sub_cat.Name_TH</a></li>
                                        }
                                    }
                                    else
                                    {
                                        if (lang == "EN")
                                        {
                                            <li><a href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category,sub_category = sub_cat.Name_EN})">@sub_cat.Name_EN</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category,sub_category = sub_cat.Name_TH})">@sub_cat.Name_TH</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col">
                            <ul class="bread-crumb">
                                <li><a href="@Url.Action("Product","Product")">PRODUCTS11</a></li>
                                @foreach (var cate_name in (IEnumerable<Output_ProductCategoryVM>)ViewData["All_Category"])
                                {
                                    if (cate_name.Name_EN.ToLower().StartsWith(ViewBag.Category.ToLower()) || cate_name.Name_TH.StartsWith(ViewBag.Category))
                                    {
                                        if (lang == "EN")
                                        {
                                            <li><a href="@Url.Action("Product_Category","Product",new {category=ViewBag.Category})">@cate_name.Name_EN</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Product_Category","Product",new {category=ViewBag.Category})">@cate_name.Name_TH</a></li>
                                        }
                                    }
                                }
                                @foreach (var sub_cat in (IEnumerable<Output_ProductModelVM>)ViewData["Sub_Category"])
                                {
                                    if (sub_cat.Name_EN.ToLower().StartsWith(ViewBag.SubCategory.ToLower()) || sub_cat.Name_TH.StartsWith(ViewBag.SubCategory))
                                    {
                                        if (lang == "EN")
                                        {
                                            <li><a href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category,sub_category = ViewBag.SubCategory})">@sub_cat.Name_EN</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category,sub_category = ViewBag.SubCategory})">@sub_cat.Name_TH</a></li>
                                        }
                                    }
                                }
                                <li><a>@Model.Model</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="product-detail-section">
                                <div class="row">
                                    <div class="col">
                                        <div class="product-header">
                                            <h2>@Model.Model</h2>
                                            @if (lang == "EN")
                                            {
                                                <p>@Model.Type_EN</p>
                                            }
                                            else
                                            {
                                                <p>@Model.Type_TH</p>
                                            }
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-xl-7 col-lg-8 col-md-8 col-12">
                                        <a class="img-width" data-fancybox href="~/@Model.Preview_Imamge"><img src="~/@Model.Preview_Imamge"></a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @if (Model.SUB_IMG != null)
                                        {
                                            <div class="icon-spec"><img src="~/@Model.SUB_IMG"></div>
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="product-download">
                                            @if (Model.CUTSHEET != null)
                                            {
                                                <li>
                                                    <a href="~/@Model.CUTSHEET" target="_blank"><span>CUTSHEET</span></a>
                                                </li>
                                            }
                                            @if (Model.IESFILE != null)
                                            {
                                                <li>
                                                    <a href="~/@Model.IESFILE" target="_blank"><span>IES FILE</span></a>
                                                </li>
                                            }
                                            @if (Model.CATALOGUE != null)
                                            {
                                                <li>
                                                    <a href="~/@Model.CATALOGUE" target="_blank"><span>CATALOGUE</span></a>
                                                </li>
                                            }
                                            @if (Model.RFA != null)
                                            {
                                                <li>
                                                    <a href="~/@Model.RFA" target="_blank"><span>RFA FILE</span></a>
                                                </li>
                                            }
                                            @if (Model.MORE_INFORMATION != null)
                                            {
                                                <li>
                                                    <a href="@Model.MORE_INFORMATION" target="_blank"><span>MORE INFORMATION</span></a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="sectionBD"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h6>APPLICATION</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="txt-content mb-0">
                                            <p>@Model.Application</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="sectionBD"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="row">
                                            <div class="col">
                                                <h6>SPECIFICATION</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="specification-info">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>IP Rating</th>
                                                                <td>@Model.IP_Rating</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Dimension</th>
                                                                <td>@Model.Dimension</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Power</th>
                                                                <td>@Model.Power</td>
                                                            </tr>
                                                            @if (Model.Product_Spects != null)
                                                            {
                                                                foreach (var spect in Model.Product_Spects)
                                                                {
                                                                    <tr>
                                                                        <th>@spect.Name</th>
                                                                        <td>@spect.Value</td>
                                                                    </tr>
                                                                }
                                                            }

                                                            @*
                                                            <tr>
                                                                <th>Housing</th>
                                                                <td>@Model.Housing</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Finishing</th>
                                                                <td>@Model.Finishing</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Lens</th>
                                                                <td>@Model.Lens</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Gasket</th>
                                                                <td>@Model.Gasket</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Mounting</th>
                                                                <td>@Model.Mounting</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Source</th>
                                                                <td>@Model.Source</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Lamp Colour</th>
                                                                <td>@Model.Lamp_Colour</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Luminaire Output</th>
                                                                <td>@Model.Luminaire_Output</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Beam Angle</th>
                                                                <td>@Model.Beam_Angle</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Control Gear</th>
                                                                <td>@Model.Control_Gear</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Power Supply</th>
                                                                <td>@Model.Power_Supply</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Luminaire Lifetime</th>
                                                                <td>@Model.Luminaire_Lifetime</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Equivalent</th>
                                                                <td>@Model.Equivalent</td>
                                                            </tr>
                                                            *@
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="row">
                                            <div class="col">
                                                <h6>Dimension</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="product-gal">
                                                    @if (Model.Technical_Drawing_Img != null)
                                                    {
                                                        foreach (var img in Model.Technical_Drawing_Img)
                                                        {
                                                            <li><a data-fancybox="technical-gallery" href="~/@img"><img src="~/@img"></a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h6>Photomatric Data</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="product-gal mb-0">
                                                    @if (Model.LIGHT_DISTRIBUTION != null)
                                                    {
                                                        foreach (var img in Model.LIGHT_DISTRIBUTION)
                                                        {
                                                            <li><a data-fancybox="distribution-gallery" href="~/@img"><img src="~/@img"></a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content-center">
                                <a class="buttonB" href="@Url.Action("Product_Subcategory","Product",new { category= ViewBag.Category,  sub_category= ViewBag.SubCategory})"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>