@{
    ViewData["Title"] = "Product_Category";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>
<!---------- PRODUCT :: CATEGORY ---------->
<div class="content-padding foot-pad product-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                @Html.Partial("~/Views/Shared/Inc/Inc_productmenu.cshtml")
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col">
                            <ul class="bread-crumb">
                                <li><a href="@Url.Action("Product","Product")">PRODUCTS</a></li>
                                <li><a>OUTDOOR</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2>OUTDOOR</h2>
                        </div>
                    </div>
                    <div class="three-colPad">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category01.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>FLOODLIGHT</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category02.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>STREETLIGHT</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category03.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>AREALIGHT</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category04.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>CANOPY</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category05.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>WALL MOUNT</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category06.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>BOLLARD/BORDER</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category07.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>GROUND SPIKE</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category08.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>INGROUND</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category09.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>UNDERWATER</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category10.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>POST TOP</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a class="contentBox" href="@Url.Action("Product_Subcategory","Product")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/product/sub-category11.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>OUTDOOR LINEAR LIGHTING</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>