@{
    ViewData["Title"] = "Product_Category";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@using Lighting.Models.InputFilterModels.Product
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>
<!---------- PRODUCT :: CATEGORY ---------->
<div class="content-padding foot-pad product-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                @Html.Partial("~/Views/Shared/Inc/Inc_productmenu.cshtml")
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col">
                            <ul class="bread-crumb">
                                <li><a href="@Url.Action("Product","Product")">PRODUCTS</a></li>
                                <li>
                                    @foreach (var cate_name in (IEnumerable<Output_ProductCategoryVM>)ViewData["All_Category"])
                                    {
                                        if (cate_name.Name_EN.StartsWith(ViewBag.Category)  || cate_name.Name_TH.StartsWith(ViewBag.Category)) @*cate_name.Id == ViewBag.CategoryId*@
                                        {
                                            if (lang == "EN")
                                            {
                                                <a>
                                                    @cate_name.Name_EN
                                                </a>
                                            }
                                            else
                                            {
                                                <a>
                                                    @cate_name.Name_TH
                                                </a>
                                            }
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @foreach (var cate_name in (IEnumerable<Output_ProductCategoryVM>)ViewData["All_Category"])
                            {
                                if (cate_name.Name_EN.ToLower().StartsWith(ViewBag.Category)  || cate_name.Name_TH.StartsWith(ViewBag.Category)) @*cate_name.Id == ViewBag.CategoryId*@
                                {
                                    if (lang == "EN")
                                    {
                                        <h2>
                                            @cate_name.Name_EN
                                        </h2>
                                    }
                                    else
                                    {
                                        <h2>
                                            @cate_name.Name_TH
                                        </h2>
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div class="three-colPad">
                        <div class="row">
                            @foreach (var sub_cat in (IEnumerable<Output_ProductModelVM>)ViewData["Sub_Category"])
                            {
                                <div class="col-lg-4 col-md-4 col-6">
                                    <a class="contentBox" href="@Url.Action("Product_Subcategory","Product",new { category = ViewBag.Category, sub_category=sub_cat.Name_EN})">
                                        @*new { categoryId = ViewBag.CategoryId, sub_categoryId=sub_cat.Id}*@
                                        <div class="row">
                                            <div class="col">
                                                <div class="img-width"><img src="~/@sub_cat.Image"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="contentBox-topic">
                                                    @if (lang == "EN")
                                                    {
                                                        <p>@sub_cat.Name_EN</p>
                                                    }
                                                    else
                                                    {
                                                        <p>@sub_cat.Name_TH</p>
                                                    }
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>