@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>
<!---------- PRODUCT :: ALL CATEGORY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="three-colPad">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category01.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>INDOOR</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category02.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>OUTDOOR</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category03.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>DECORATIVE</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category04.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>ENTERTAINMENT</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category05.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>SPECIAL</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category06.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>SWITCH / RECEPACLE / SIGNAGE</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category07.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>LAMP</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="cc">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category08.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>COMPONENT / CONTROL EQUIIPMENT</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category09.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>HORTICULTURE / BIOLOGICAL LIGHTING</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Product_Category","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/product/category10.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>POLE</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>