@{
    ViewData["Title"] = "Product_Subcategory";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
    int maximum = 12;
}
@model IEnumerable<Lighting.Models.InputFilterModels.Product.Output_ProductVM>
@using Lighting.Models.InputFilterModels.Product

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PRODUCTS</div>
        </div>
    </div>
</div>

<!---------- PRODUCT :: SUB CATEGORY ---------->
<div class="content-padding foot-pad product-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                @Html.Partial("~/Views/Shared/Inc/Inc_productmenu.cshtml")
                <div class="col-lg-9 col-12">
                    <div class="row">
                        <div class="col">
                            <ul class="bread-crumb">
                                <li><a href="@Url.Action("Product","Product")">PRODUCTS</a></li>
                                @foreach (var cate_name in (IEnumerable<Output_ProductCategoryVM>)ViewData["All_Category"])
                                {
                                    if (cate_name.Name_EN.ToLower().StartsWith(ViewBag.Category.ToLower()) || cate_name.Name_TH.StartsWith(ViewBag.Category.ToLower()))
                                    {
                                        if (lang == "TH")
                                        {
                                            <li><a href="@Url.Action("Product_Category","Product",new {category = ViewBag.Category})">@cate_name.Name_TH</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Product_Category","Product",new {category = ((string)ViewBag.Category).ToLower()})">@cate_name.Name_EN</a></li>
                                        }
                                    }
                                }

                                @foreach (var sub_cat in (IEnumerable<Output_ProductModelVM>)ViewData["Sub_Category"])
                                {
                                    if (sub_cat.Name_EN.ToLower().StartsWith(ViewBag.SubCategory.ToLower()) || sub_cat.Name_TH.StartsWith(ViewBag.SubCategory))
                                    {
                                        if (lang == "TH")
                                        {
                                            <li><a href="@Url.Action("Product_Subcategory","Product",new {sub_category=ViewBag.SubCategory,category = ViewBag.Category})">@sub_cat.Name_TH</a></li>

                                        }
                                        else
                                        {
                                            <li><a href="@Url.Action("Product_Subcategory","Product",new {sub_category=ViewBag.SubCategory.ToLower(),category = ViewBag.Category.ToLower()})">@sub_cat.Name_EN</a></li>
                                        }
                                    }
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            @foreach (var sub_cat in (IEnumerable<Output_ProductModelVM>)ViewData["Sub_Category"])
                            {
                                if (sub_cat.Name_EN.ToLower().StartsWith(ViewBag.SubCategory.ToLower()))
                                {
                                    if (lang == "TH")
                                    {
                                       
                                        <h2>@sub_cat.Name_TH</h2>
                                    }
                                    else
                                    {
                                        <h2>@sub_cat.Name_EN</h2>
                                    }
                                }
                            }

                        </div>
                    </div>
                    <div class="three-colPad">
                        <div class="row">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-4 col-md-4 col-6">
                                    <a class="productBox" href="@Url.Action("Product_Detail","Product",new { category = ViewBag.Category.ToLower(), sub_category=ViewBag.SubCategory.ToLower(),model=product.Model.ToLower()})">
                                        <div class="row">
                                            <div class="col">
                                                <div class="img-width">
                                                    <img src="~/@product.Preview_Imamge">
                                                    <ul class="hover-detail">
                                                        <li>Dimension : @product.Dimension</li>
                                                        <li>Power : @product.Power</li>
                                                        <li>IP Rating : @product.IP_Rating</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="productBox-topic">
                                                    <p>@product.Model</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="content-center">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination mt-4">
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category, sub_category=ViewBag.SubCategory,start=(ViewBag.CurrentPage > 0 ? ViewBag.CurrentPage - maximum:0)})" aria-label="Previous">
                                                <i class="fas fa-arrow-left"></i>
                                            </a>
                                        </li>
                                        @if (ViewBag.Pagination != null)
                                        {
                                            int page_count = 1;
                                            foreach (var pagination_num in ViewBag.Pagination)
                                            {
                                                if (ViewBag.CurrentPage == pagination_num)
                                                {
                                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category, sub_category=ViewBag.SubCategory,start=pagination_num})">@page_count</a></li>
                                                }
                                                else
                                                {
                                                    <li class="page-item "><a class="page-link" href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category, sub_category=ViewBag.SubCategory,start=pagination_num})">@page_count</a></li>
                                                }
                                                page_count++;
                                            }
                                        }
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Product_Subcategory","Product",new {category = ViewBag.Category, sub_category=ViewBag.SubCategory,start=((ViewBag.CurrentPage + maximum) > ViewBag.MaximumPage ? ViewBag.MaximumPage :(ViewBag.CurrentPage + maximum)  )})" aria-label="Next">
                                                <i class="fas fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>