@{
    ViewData["Title"] = "Download";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
    var max_page = 10;
}
@model IEnumerable<Lighting.Models.InputFilterModels.Download.Output_DownloadVM>

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">DOWNLOAD</div>
        </div>
    </div>
</div>
<!---------- DOWNLOAD ---------->
<div class="content-padding foot-pad download-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="d-none d-md-none d-lg-block">
                <div class="row">
                    <div class="col">
                        <ul class="display-tab center s-txt">
                            <li >
                                <a href="@Url.Action("L_AND_BIM_OBJECT_Page","Download")">
                                    <div class="cate-txtBox">
                                        <div>L&E BIM OBJECTS</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CATALOGUE_Page","Download")">
                                    <div class="cate-txtBox">
                                        <div>CATALOGUE</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("COMPANY_PROFILE_Page","Download")">
                                    <div class="cate-txtBox">
                                        <div>COMPANY PROFILE</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("IES_FILE_Page","Download")">
                                    <div class="cate-txtBox">
                                        <div>IES FILE</div>
                                    </div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("LEAFLET_Page","Download")">
                                    <div class="cate-txtBox">
                                        <div>LEAFLET</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-block d-md-block d-lg-none">
                <div class="row">
                    <div class="col">
                        <h3>CATALOGUE</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                @foreach (var download in Model)
                {
                    <div class="col-lg-6 col-md-6 col-11">
                        <a class="contentBox" href="@download.File" target="_blank">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/@download.Image"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        @if (lang == "EN")
                                        {
                                            <p>@download.Name_EN</p>
                                        }
                                        else
                                        {
                                            <p>@download.Name_TH</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mt-4">
                                <li class="page-item">
                                    <a class="page-link" href="/Download/CATALOGUE_Page?start=@(ViewBag.CurrentPage > 0 ? ViewBag.CurrentPage - max_page:0)" aria-label="Previous">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                </li>
                                @if (ViewBag.Pagination != null)
                                {
                                    int page_count = 1;
                                    foreach (var pagination_num in ViewBag.Pagination)
                                    {
                                        if (ViewBag.CurrentPage == pagination_num)
                                        {
                                            <li class="page-item active"><a class="page-link" href="/Download/CATALOGUE_Page?start=@pagination_num">@page_count</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item "><a class="page-link" href="/Download/CATALOGUE_Page?start=@pagination_num">@page_count</a></li>
                                        }
                                        page_count++;
                                    }
                                }
                                <li class="page-item">
                                    <a class="page-link" href="/Download/CATALOGUE_Page?start=@((ViewBag.CurrentPage + max_page) > ViewBag.MaximumPage ? ViewBag.MaximumPage :(ViewBag.CurrentPage + max_page)  )" aria-label="Next">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>