@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
    int max_page = 12;
}
@model IEnumerable<Lighting.Areas.Identity.Data.Category_Project>

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PROJECT REF</div>
        </div>
    </div>
</div>
<!---------- PROJECT - REF :: ALL CATEGORY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="three-colPad">
                <div class="row">
                    @foreach(var category in  Model){
                    <div class="col-lg-4 col-md-4 col-6">
                            <a class="contentBox" href="@Url.Action("Project_Category","Project",new { categoryId = category.Id,start=0})">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/@category.Image_Path"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                            @if(lang == "EN")
                                            {
                                                <p>@category.Name_EN</p>
                                            }
                                            else
                                            {
                                                <p>@category.Name_TH</p>
                                            }
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    }
                </div>
                <!--pagianation-->
                <div class="row">
                    <div class="col">
                        <div class="content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mt-4">

                                    <li class="page-item">
                                        <a class="page-link" href="/Project/Project_Category?categoryId=@ViewBag.categoryId&start=@(ViewBag.CurrentPage > 0 ? ViewBag.CurrentPage - max_page:0)" aria-label="Previous">
                                            <i class="fas fa-arrow-left"></i>
                                        </a>
                                    </li>
                                    @if (ViewBag.Pagination != null)
                                    {
                                        int page_count = 1;
                                        foreach (var pagination_num in ViewBag.Pagination)
                                        {
                                            if (ViewBag.CurrentPage == pagination_num)
                                            {
                                                <li class="page-item active"><a class="page-link" href="/Project/Project_Category?categoryId=@ViewBag.categoryId&start=@pagination_num">@page_count</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item "><a class="page-link" href="/Project/Project_Category?categoryId=@ViewBag.categoryId&start=@pagination_num">@page_count</a></li>
                                            }
                                            page_count++;
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="/Project/Project_Category?categoryId=@ViewBag.categoryId&start=@((ViewBag.CurrentPage + max_page) > ViewBag.MaximumPage ? ViewBag.MaximumPage :(ViewBag.CurrentPage + max_page)  )" aria-label="Next">
                                            <i class="fas fa-arrow-right"></i>
                                        </a>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>