@{
    ViewData["Title"] = "Project";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">PROJECT REF</div>
        </div>
    </div>
</div>
<!---------- PROJECT - REF :: ALL CATEGORY ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="three-colPad">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate01.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>RESIDENTIAL</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate02.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>HOTEL / RESORT</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate03.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>SHOP / SHOWROOM</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate04.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>BANK / OFFICE / COMMERCIAL BUILDING</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate05.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>FACADE / HISTORICAL STRUCTURE</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate06.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>SPORT</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate07.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>EVENT / EXHIBITION</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate08.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>AIRPORT</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate09.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>FACTORY</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate10.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>SHOPPING MALL</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate11.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>SPA</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate12.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>STREETLIGHT / TUNNEL</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-6">
                        <a class="contentBox" href="@Url.Action("Project_Category","Project")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width"><img src="~/Frontend_assets/images/project/project-cate13.jpg"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="contentBox-topic">
                                        <p>OUTDOOR / LANDSCAPE</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>