@{
    ViewData["Title"] = "Project_Detail";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<!---------- PROJECT - REF :: DETAIL ---------->
<div class="content-padding m-pad">
    <div class="container-fluid">
        <div class="wrap-pad project-page">
            <div class="row">
                <div class="col">
                    <h2>FACADE / HISTORICAL STRUCTURE</h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-12 col-12">
                    <div class="row">
                        <div class="col">
                            <h4>ARUN RATCHAWARARAM TEMPLE</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="projectGal-slide detail_slide">
                                <div id="big" class="owl-carousel owl-theme big-img slider">
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail01.jpg"><img src="~/Frontend_assets/images/project/project-detail01.jpg"></a>
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail02.jpg"><img src="~/Frontend_assets/images/project/project-detail02.jpg"></a>
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail03.jpg"><img src="~/Frontend_assets/images/project/project-detail03.jpg"></a>
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail04.jpg"><img src="~/Frontend_assets/images/project/project-detail04.jpg"></a>
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail05.jpg"><img src="~/Frontend_assets/images/project/project-detail05.jpg"></a>
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail06.jpg"><img src="~/Frontend_assets/images/project/project-detail06.jpg"></a>
                                    <a class="item" data-fancybox="gallery" href="~/Frontend_assets/images/project/project-detail02.jpg"><img src="~/Frontend_assets/images/project/project-detail02.jpg"></a>
                                </div>
                                <div id="thumbs" class="owl-carousel owl-theme thumbs-img navigation-thumbs">
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail01.jpg"></div>
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail02.jpg"></div>
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail03.jpg"></div>
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail04.jpg"></div>
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail05.jpg"></div>
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail06.jpg"></div>
                                    <div class="item"><img src="~/Frontend_assets/images/project/project-detail02.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-info">
                        <div class="row">
                            <div class="col">
                                <div class="project-detail"><strong>Location :</strong>Bangkok, Thailand.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="project-detail"><strong>Client :</strong>Associated Public Authority: Thailand’s Provincial Electricity Authority, Department of Tourism - Thailand.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="project-detail"><strong>Lighting Design & Solution :</strong>Lighting & Equipment Public Company Limited (L&E).</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="project-detail"><strong>Photo Credit :</strong>Lighting & Equipment Public Company Limited (L&E)</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="txt-content indent f-17">
                                    <p>This historical temple was built before 1656 CE. Recently, it was renovated and finished in 2017 and lighting system was also included in the renovation. High-pressure sodium lights were replaced by LED lights. Besides a reason of energy conservation, the selected LED light comes with theatrical DMX512 lighting control system which provides rapid response timer and brightness adjustment as in the theatre. LED light with 2200K color factor from a new technology that provides pearly iridescence gold light is applied to this project as the old LED technology cannot provide this kind of light. Moreover, this new lighting system also improves color correction index (CRI) from 20 to 70-80. It allows us to see colors of those tiny ceramic tiles and fragments of multi colored porcelain decorated on the spires more accurately.</p>
                                    <p>Lighting design concept of this project was inspired by the temple name. The full lighting simulates stunning view of the spires during sunrise. In addition to the sunrise effect, there are three more effects, including sunset effect, three-layer effect and main&satellite-spires effect. The three effects are designed to be a tourism highlight attractive show in future.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <a class="downloadBD-button" href="~/Frontend_assets/images/testPDF.pdf" target="_blank">
                            <div><i class="fas fa-arrow-alt-circle-down"></i>Full story on Wat Arun project by L&E intern student</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5>Lighting Solution</h5>
                </div>
            </div>
            <div class="three-colPad">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width">
                                        <img src="~/Frontend_assets/images/project/project-product01.jpg">
                                        <ul class="hover-detail">
                                            <li>Dimension : 92x140x120 mm.</li>
                                            <li>Power : 5W</li>
                                            <li>IP Rating : 66</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="productBox-topic">
                                        <p>FL400-380W 2200K LED</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width">
                                        <img src="~/Frontend_assets/images/project/project-product02.jpg">
                                        <ul class="hover-detail">
                                            <li>Dimension : 92x140x120 mm.</li>
                                            <li>Power : 5W</li>
                                            <li>IP Rating : 66</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="productBox-topic">
                                        <p>SLS3144-100W 3000K LED</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width">
                                        <img src="~/Frontend_assets/images/project/project-product03.jpg">
                                        <ul class="hover-detail">
                                            <li>Dimension : 92x140x120 mm.</li>
                                            <li>Power : 5W</li>
                                            <li>IP Rating : 66</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="productBox-topic">
                                        <p>Ardilla66-4W 2700K LED</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a class="productBox" href="@Url.Action("Product_Detail","Product")">
                            <div class="row">
                                <div class="col">
                                    <div class="img-width">
                                        <img src="~/Frontend_assets/images/project/project-product04.jpg">
                                        <ul class="hover-detail">
                                            <li>Dimension : 92x140x120 mm.</li>
                                            <li>Power : 5W</li>
                                            <li>IP Rating : 66</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="productBox-topic">
                                        <p>Nudus Mono-18W 3000K LED</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!---------- PROJECT - REF :: OTHER PROJECT ---------->
<div class="container-fluid other-project">
    <div class="blueBG">
        <div class="wrap-pad">
            <div class="row">
                <div class="col">
                    <h4>PROJECT IN THE SAME CATEGORY</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="slide-navButton">
                        <div class="project-slide owl-carousel owl-theme">
                            <div class="items">
                                <a class="contentBox" href="@Url.Action("Project_Detail","Project")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/project/project03.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>RAMA VIII BRIDGE</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="@Url.Action("Project_Detail","Project")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/project/project04.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>SAINT JOSEPH CATHOLIC CHURCH</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="@Url.Action("Project_Detail","Project")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/project/project05.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>SUN WHEEL VIETNAM</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="items">
                                <a class="contentBox" href="@Url.Action("Project_Detail","Project")">
                                    <div class="row">
                                        <div class="col">
                                            <div class="img-width"><img src="~/Frontend_assets/images/project/project06.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="contentBox-topic">
                                                <p>NONTHABURI PIER</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <a class="buttonB" href="@Url.Action("Project_Category","Project")"><i class="fas fa-long-arrow-alt-left"></i>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
 
    <script>
        $('.detail_slide').each(function () {
            (function (_e) {
                var sync1 = $(_e).find(".slider");
                var sync2 = $(_e).find(".navigation-thumbs");

                var thumbnailItemClass = '.owl-item';

                var slides = sync1.owlCarousel({
                    video: true,
                    startPosition: 0,
                    items: 1,
                    animateOut: 'fadeOut',
                    loop: false,
                    rewind: true,
                    margin: 5,
                    autoplay: false,
                    autoplayHoverPause: true,
                    autoplayTimeout: 7000,
                    smartSpeed: 500,
                    autoplayHoverPause: true,
                    navText: [
                        '<span><i class="fas fa-chevron-left"></i></span>',
                        '<span><i class="fas fa-chevron-right"></i></span>'
                    ],
                    nav: true,
                    dots: false
                }).on('changed.owl.carousel', syncPosition);

                function syncPosition(el) {
                    $owl_slider = $(this).data('owl.carousel');
                    var loop = $owl_slider.options.loop;

                    if (loop) {
                        var count = el.item.count - 1;
                        var current = Math.round(el.item.index - (el.item.count / 2) - .5);
                        if (current < 0) {
                            current = count;
                        }
                        if (current > count) {
                            current = 0;
                        }
                    } else {
                        var current = el.item.index;

                    }
                    console.log(current);

                    var owl_thumbnail = sync2.data('owl.carousel');
                    var itemClass = "." + owl_thumbnail.options.itemClass;


                    var thumbnailCurrentItem = sync2
                        .find(itemClass)
                        .removeClass("synced")
                        .eq(current);

                    thumbnailCurrentItem.addClass('synced');

                    //if (!thumbnailCurrentItem.hasClass('active')) {
                    var duration = 300;
                    sync2.trigger('to.owl.carousel', [current - 2, duration, true]);
                    //}
                }
                var thumbs = sync2.owlCarousel({
                    startPosition: 0,
                    items: 6,
                    loop: false,
                    margin: 10,
                    autoplay: false,
                    autoplayHoverPause: true,
                    nav: true,
                    navText: false,
                    dots: false,
                    responsive: {
                        0: {
                            items: 4,
                            margin: 6
                        },
                        500: {
                            items: 4,
                            margin: 6
                        },
                        768: {
                            items: 5,
                            margin: 10
                        },
                        991: {
                            margin: 10
                        },
                        1201: {
                            margin: 10
                        }
                    },
                    onInitialized: function (e) {
                        var thumbnailCurrentItem = $(e.target).find(thumbnailItemClass).eq(this._current);
                        thumbnailCurrentItem.addClass('synced');
                    },
                })

                    .on('click', thumbnailItemClass, function (e) {
                        e.preventDefault();
                        var duration = 300;
                        var itemIndex = $(e.target).parents(thumbnailItemClass).index();
                        sync1.trigger('to.owl.carousel', [itemIndex, duration, true]);
                    }).on("changed.owl.carousel", function (el) {
                        //var number = el.item.index;
                        //$owl_slider = sync1.data('owl.carousel');
                        //$owl_slider.to(number, 100, true);
                    });
            })(this);
        });


        $(document).ready(function () {
            $('.project-slide').owlCarousel({
                loop: false,
                margin: 0,
                autoplay: false,
                autoplayTimeout: 1500,
                smartSpeed: 1000,
                autoplayHoverPause: true,
                mouseDrag: false,
                dots: false,
                nav: true,
                navText: [
                    '<i class="fas fa-chevron-left"></i>',
                    '<i class="fas fa-chevron-right"></i>'
                ],
                responsive: {
                    0: {
                        items: 2,
                        slideBy: 1,
                        dots: false,
                        nav: true
                    },
                    640: {
                        items: 3,
                        slideBy: 1
                    },
                    1024: {
                        items: 4,
                        slideBy: 1
                    }
                }
            })
        });
    </script>
}