@{
    ViewData["Title"] = "Download";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
}
<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">DOWNLOAD</div>
        </div>
    </div>
</div>
<!---------- DOWNLOAD ---------->
<div class="content-padding foot-pad download-page">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="d-none d-md-none d-lg-block">
                <div class="row">
                    <div class="col">
                        <ul class="display-tab center s-txt">
                            <li >
                                <a href="@Url.Action("L_AND_BIM_OBJECT_Page","ManageDownload")">
                                    <div class="cate-txtBox">
                                        <div>L&E BIM OBJECTS</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("CATALOGUE_Page","ManageDownload")">
                                    <div class="cate-txtBox">
                                        <div>CATALOGUE</div>
                                    </div>
                                </a>
                            </li>
                            <li class="active">
                                <a href="@Url.Action("COMPANY_PROFILE_Page","ManageDownload")">
                                    <div class="cate-txtBox">
                                        <div>COMPANY PROFILE</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("IES_FILE_Page","ManageDownload")">
                                    <div class="cate-txtBox">
                                        <div>IES FILE</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LEAFLET_Page","ManageDownload")">
                                    <div class="cate-txtBox">
                                        <div>LEAFLET</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-block d-md-block d-lg-none">
                <div class="row">
                    <div class="col">
                        <h3>CATALOGUE</h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-11">
                    <a class="contentBox" href="~/Frontend_assets/images/testPDF.pdf" target="_blank">
                        <div class="row">
                            <div class="col">
                                <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue01.jpg"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="contentBox-topic">
                                    <p>LED LE Catalogue 2023</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-md-6 col-11">
                    <a class="contentBox" href="~/Frontend_assets/images/testPDF.pdf" target="_blank">
                        <div class="row">
                            <div class="col">
                                <div class="img-width"><img src="~/Frontend_assets/images/catalogue/catalogue02.jpg"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="contentBox-topic">
                                    <p>LMS Product Catalogue 2023-2025</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="buttonB"><i class="fas fa-arrow-alt-circle-down"></i>Download</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mt-4">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>