@model Lighting.Models.model_input

@{
    ViewData["Title"] = "Download_Type_edit";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <div class="row mb-3" style="padding-top: 1.5rem!important;">
                        <div class="col-6">
                            <h2>
                                แก้ไขรายการ
                            </h2>
                        </div>
                        <div class="col-6" style="text-align:right;">
                            <a type="button" class="btn btn-secondary" href="@Url.Action("Manage_Download_Page","ManageDownload")">ย้อนกลับ</a>
                        </div>
                    </div>
                    <form id="form_create" enctype="multipart/form-data">
                        <input class="form-control" name="id" hidden value="@Model.DownloadTypes.id" />

                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อ TH
                                </span>
                            </div>
                            <div class="col-10">
                                <textarea type="text" class="form-control" name="DownloadType_name_TH" required autocomplete="off">@Model.DownloadTypes.DownloadType_name_TH</textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-2">
                                <span>
                                    หัวข้อ ENG
                                </span>
                            </div>
                            <div class="col-10">
                                <textarea type="text" class="form-control" name="DownloadType_name_ENG" required autocomplete="off">@Model.DownloadTypes.DownloadType_name_ENG</textarea>
                            </div>
                        </div> 

                    </form>

                    <div class="row mb-3" style="justify-content: right;">
                        <div class="col-1">
                            <a class="btn btn-success" onclick="submit_form()">บันทึก</a>
                        </div>
                    </div>
                </div> 
            </div> 
        </div> 
    </div> 
</div>

@section Scripts{

    <script>

        function submit_form() {
            var raw_form = document.getElementById('form_create');
            var formData = new FormData(raw_form);

            $.ajax({
                type: 'POST',
                url: '/ManageDownload/DownloadType_Submit',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            window.location.href = "@Url.Action("Manage_Download_Page","ManageDownload")";
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                }
            });
        }

    </script>

}
