@model Lighting.Models.model_input;

@{
    ViewData["Title"] = "Manage_Download_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="form_create" enctype="multipart/form-data">
                <div class="form-group p-2">
                    <label class="h4">ประเภท</label>
                    <div class="col-sm-5">
                        <select class="col-lg-8 form-controlform-select form-select-lg mb-3" aria-label=".form-select-lg example" id="Select2_DownloadType" name="DownloadType_id"></select>
                    </div>
                </div>
                <div class="form-group mt-3 p-2" style="border:1px solid black" id="place">
                    <label class="h4 mt-3">ชื่อการดาวน์โหลด (ภาษาไทย)</label>
                    <input type="text" class="form-control" id="download_name_th" name="Name_TH" placeholder="ชื่อการดาวน์โหลด" value="@Model.Output_DownloadVM.Name_TH">
                    <label class="h4 mt-3">Download Name (English)</label>
                    <input type="text" class="form-control" id="download_name_en" name="Name_EN" placeholder="Download Name" value="@Model.Output_DownloadVM.Name_EN">
                </div>
                <div class="custom-file mt-3 p-1" style="border:1px solid black">
                    <img style="width:500px;height:250px;" id="preview_show_img" src="~/upload_image/Download/@Model.Output_DownloadVM.upload_image" />
                    <br />
                    <label for="formFile" class="form-label mt-3">
                        เปลี่ยน รูป TH
                        <br />
                        <span style="color:red;">
                            ขนาดรูปภาพ : 800 * 430 px
                        </span>
                    </label>
                    <input type="file" class="form-control" id="file_img" name="Image" accept="image/png, image/gif, image/jpeg">
                </div>
                <div class="custom-file mt-3 p-1" style="border:1px solid black">
                    <img style="width:500px;height:250px;" id="preview_show_img_EN" src="~/upload_image/Download/@Model.Output_DownloadVM.upload_image_ENG" />
                    <br />
                    <label for="formFile" class="form-label mt-3">
                        เปลี่ยน รูป EN
                        <br />
                        <span style="color:red;">
                            ขนาดรูปภาพ : 800 * 430 px
                        </span>
                    </label>
                    <input type="file" class="form-control" id="file_img_EN" name="Image_EN" accept="image/png, image/gif, image/jpeg">
                </div>
                <div class="custom-file mt-3 p-1">
                    <label for="formFile" class="form-label mt-3">เปลี่ยนไฟล์/chnage file</label>
                    <input type="file" class="form-control" id="file_download" name="File">
                </div>
                @if (Model.Output_DownloadVM.file_name != null)
                {
                    <a href="~/upload_file/Download/@Model.Output_DownloadVM.file_name" target="_blank" class="btn btn-primary h4 mt-3">ไฟล์เอกสาร TH</a>
                    <br />
                }
                <div class="custom-file mt-3 p-1">
                    <label for="formFile" class="form-label mt-3">เปลี่ยนไฟล์/chnage file</label>
                    <input type="file" class="form-control" id="file_download_EN" name="File_EN">
                </div>
                @if (Model.Output_DownloadVM.file_name_ENG != null)
                {
                    <a href="~/upload_file/Download/@Model.Output_DownloadVM.file_name_ENG" target="_blank" class="btn btn-primary h4 mt-3">ไฟล์เอกสาร EN</a>
                }
                <br />
                <div class="custom-file mt-3 p-1">
                    <label for="formFile" class="form-label"> ลิงค์ </label>
                    <input type="text" class="form-control" id="link_l_and_bim" name="L_AND_BIM_Link" value="@Model.Output_DownloadVM.L_AND_BIM_Link">
                </div>
                <br />
                <div class="row mb-3">
                    <div class="col-2">
                        <span>
                            สถานะการใช้งาน
                        </span>
                    </div>
                    <div class="col-4">
                        <div class="form-check form-switch">
                            @if (Model.Output_DownloadVM.use_status == 1)
                            {
                                <input class="form-check-input" checked type="checkbox" name="use_status" value="1" id="use_status" onclick="checkSwitch()">
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" name="use_status" value="1" id="use_status" onclick="checkSwitch()">
                            }
                            <label class="form-check-label" for="active_status">ใช้งาน</label>
                        </div>
                    </div>
                </div>
                <center style="display:flex;justify-content:space-between;margin:3rem;">
                    <a class="btn btn-success" onclick="submit()">บันทึก/save</a>
                    <a href="@Url.Action("manage_Download_page","ManageDownload")" class="btn btn-primary">กลับ/back</a>
                </center>
                <input type="hidden" name="id" value="@Model.Output_DownloadVM.id" />
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function Select2_DownloadType() {
            $.ajax({
                type: 'POST',
                url: '/ManageDownload/Get_DownloadType',
                success: function (data) {
                    if (data.Length != 0) {
                        var s = '<option  value = "0" disabled> --กรุณาเลือก ประเภท-- </option > ';
                        $.each(data.db, function (index, item) {
                            if (item.id == @Model.Output_DownloadVM.DownloadType_id) {
                                s += '<option selected value="' + item.id + '">' + item.downloadType_name_ENG + '</option>';
                            } else {
                                s += '<option value="' + item.id + '">' + item.downloadType_name_ENG + '</option>';
                            }
                        });
                        $("#Select2_DownloadType").html(s);
                    }
                },
                error: function (error) {
                    console.log("AJAX Error:", error);
                }
            });
        }

        var check = 1;
        function checkSwitch() {
            if (document.getElementById("use_status").checked == true) {
                check = 1;
            }
            else {
                check = 0;
            }
            $("#use_status").val(check);
        }

        var image_file;
        var image_file_EN;
        var file_dowload;
        var file_dowload_EN;

        $(document).ready(function () {
            Select2_DownloadType();

            $('#file_img').change(async function (e) {
                if (e.target.files.length === 1) {
                    image_file = e.target.files[0];
                    $('#preview_show_img').attr('src', await blobToBase64DataURL(image_file)).css("display", "block");
                }
            });
            $('#file_img_EN').change(async function (e) {
                if (e.target.files.length === 1) {
                    image_file_EN = e.target.files[0];
                    $('#preview_show_img_EN').attr('src', await blobToBase64DataURL(image_file_EN)).css("display", "block");
                }
            });
        });


        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );

        function submit(id) 
        {
            let download_type = $("#Select2_DownloadType").val();
            if (download_type != null) {
                var forms = $('#form_create')[0];
                var data = new FormData(forms);
                $.ajax({
                    type: 'put',
                    url: '/ManageDownload/Edit',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    beforeSend: function () {
                        Swal.fire('Please wait')
                        Swal.showLoading()
                    },
                    success: function (data) {
                        if (data.status == "success") {
                            Swal.fire({
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 2000
                            }).then(() => {
                                window.location.href = "/ManageDownload/Manage_Download_Page";
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'warning',
                                text: data.message,
                            });
                        }
                    }, error: function (e) {
                        Swal.fire({
                            icon: 'error',
                            text: e.message,
                        });
                    }
                });
            }
            else {
                Swal.fire({
                    icon: 'error',
                    text: "กรุณาเลือก ประเภท",
                });
                return;
            }
        }
    </script>
}