@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
    var mainContact = (Lighting.Areas.Identity.Data.MainContact)ViewData["mainContact"];
}
@model IEnumerable<Lighting.Models.InputFilterModels.Contact.Output_ContactVM>

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">CONTACT US</div>
        </div>
    </div>
</div>
<!---------- CONTACT US ---------->
<div class="content-padding contact-page" id="contact">
    <div class="container">
        <div class="head-office">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="blueBox">
                        <div class="row">
                            <div class="col">
                                @if (lang == "EN")
                                {
                                    <h3>@mainContact?.Title_EN</h3>
                                }
                                else
                                {
                                    <h3>@mainContact?.Title_TH</h3>
                                }

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="contact-info mb-0">
                                    <li class="address">
                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                        @if (lang == "EN")
                                        {
                                            <p>
                                                <strong> @mainContact?.TitleName_EN</strong>
                                                @mainContact?.Location_EN
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                <strong> @mainContact?.TitleName_TH</strong>
                                                @mainContact?.Location_TH
                                            </p>
                                        }

                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                        <p>@mainContact?.PhoneNumber</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                        <p>@mainContact?.OfficePhone</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                        <ul>
                                            <li>
                                                <p>
                                                    <strong>@mainContact?.TitleEMail1 :</strong>
                                                    <a href="mailto:@mainContact?.EMail1">@mainContact?.EMail1</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>@mainContact?.TitleEMail2 :</strong>
                                                    <a href="mailto:@mainContact?.EMail2">@mainContact?.EMail2</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="contactBT">
                                        <a class="buttonB" href="@mainContact?.GoogleMapLink" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                    </li>
                                    <li class="contactBT">
                                        <a class="buttonBD" href="@mainContact?.MoreInfo" target="_blank">More Information</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    @if (lang == "EN")
                    {
                        <a class="img-width hover-img" data-fancybox="" href="~/@mainContact?.Img_FileEN">
                            <img src="~/@mainContact?.Img_FileEN">
                        </a>
                    }
                    else
                    {
                        <a class="img-width hover-img" data-fancybox="" href="~/@mainContact?.Img_File">
                            <img src="~/@mainContact?.Img_File">
                        </a>
                    }
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="display-tab center s-txt">
                    <li class="active" rel="1">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>SHOWROOM</div>
                            </div>
                        </a>
                    </li>
                    <li rel="2">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>FACTORY &amp; WAREHOUSE</div>
                            </div>
                        </a>
                    </li>
                    <li rel="3">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>OVERSEA OFFICES</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="display-group">
                    <!---------- 01 SHOWROOM ---------->
                    <div class="display-info" rel="1">
                        @if (lang == "EN")
                        {
                            @foreach (var item in Model.Where(contact => contact.ContactType == "SHOWROOM"))
                            {
                                <div class="contactBox">
                                    <div class="row">
                                        <!-- MAP :: FOR PC -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePathEN">
                                                <img src="~/@item?.ImagePathEN">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="contactBox-info">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>@item?.PlaceName_EN</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="contact-info">
                                                            @if (item?.Sub_Factory_Name_EN != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    @Html.Raw(item?.Sub_Factory_Name_EN)
                                                                </li>
                                                            }
                                                            @if (item?.Location_EN != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    <p style="word-wrap:break-word;">@item?.Location_EN </p>
                                                                </li>
                                                            }
                                                            @if (item?.CellPhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                                    <p>@item?.CellPhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.TelePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                                    <p>@item?.TelePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.OfficePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                                    <p>@item?.OfficePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.Email != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                                    <a style="word-wrap:break-word;" href="@item?.Email">@Html.Raw(item?.Email)</a>
                                                                </li>
                                                            }
                                                            @if (item?.GoogleMaps_Url != null)
                                                            {
                                                                <li class="map">
                                                                    <a class="buttonB" href="@item?.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                                    @if (lang == "EN")
                                                                    {
                                                                        @if (item?.YouTube_Url_EN != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_EN" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (item?.YouTube_Url_TH != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_TH" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- MAP :: FOR IPAD & MOBILE -->
                                        <div class="col-12 d-block d-lg-none">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePathEN">
                                                <img src="~/@item?.ImagePathEN">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            @foreach (var item in Model.Where(contact => contact.ContactType == "SHOWROOM"))
                            {
                                <div class="contactBox">
                                    <div class="row">
                                        <!-- MAP :: FOR PC -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePath">
                                                <img src="~/@item?.ImagePath">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="contactBox-info">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>@item?.PlaceName_TH</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="contact-info">
                                                            @if (item?.Sub_Factory_Name_TH != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    @Html.Raw(item?.Sub_Factory_Name_TH)
                                                                </li>
                                                            }
                                                            @if (item?.Location_TH != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    <p style="word-wrap:break-word;">@item?.Location_TH </p>
                                                                </li>
                                                            }
                                                            @if (item?.CellPhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                                    <p>@item?.CellPhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.TelePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                                    <p>@item?.TelePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.OfficePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                                    <p>@item?.OfficePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.Email != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                                    <a style="word-wrap:break-word;" href="@item?.Email">@Html.Raw(item?.Email)</a>
                                                                </li>
                                                            }
                                                            @if (item?.GoogleMaps_Url != null)
                                                            {
                                                                <li class="map">
                                                                    <a class="buttonB" href="@item?.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                                    @if (lang == "EN")
                                                                    {
                                                                        @if (item?.YouTube_Url_EN != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_EN" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (item?.YouTube_Url_TH != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_TH" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR IPAD & MOBILE -->
                                        <div class="col-12 d-block d-lg-none">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePath">
                                                <img src="~/@item?.ImagePath">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <!---------- 02 FACTORY & WAREHOUSE ----------> 
                    <div class="display-info" rel="2">
                        @if (lang == "EN")
                        {
                            @foreach (var item in Model.Where(contact => contact.ContactType == "FACTORY_AND_WAREHOUSE"))
                            {
                                <div class="contactBox">
                                    <div class="row">
                                        <!-- MAP :: FOR PC -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePathEN">
                                                <img src="~/@item?.ImagePathEN">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="contactBox-info">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>@item?.PlaceName_EN</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="contact-info">
                                                            @if (item?.Sub_Factory_Name_EN != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    @Html.Raw(item?.Sub_Factory_Name_EN)
                                                                </li>
                                                            }
                                                            @if (item?.Location_EN != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    <p style="word-wrap:break-word;">@item?.Location_EN </p>
                                                                </li>
                                                            }
                                                            @if (item?.CellPhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                                    <p>@item?.CellPhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.TelePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                                    <p>@item?.TelePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.OfficePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                                    <p>@item?.OfficePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.Email != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                                    <a style="word-wrap:break-word;" href="@item?.Email">@Html.Raw(item?.Email)</a>
                                                                </li>
                                                            }
                                                            @if (item?.GoogleMaps_Url != null)
                                                            {
                                                                <li class="map">
                                                                    <a class="buttonB" href="@item?.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                                    @if (lang == "EN")
                                                                    {
                                                                        @if (item?.YouTube_Url_EN != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_EN" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (item?.YouTube_Url_TH != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_TH" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- MAP :: FOR IPAD & MOBILE -->
                                        <div class="col-12 d-block d-lg-none">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePathEN">
                                                <img src="~/@item?.ImagePathEN">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            @foreach (var item in Model.Where(contact => contact.ContactType == "FACTORY_AND_WAREHOUSE"))
                            {
                                <div class="contactBox">
                                    <div class="row">
                                        <!-- MAP :: FOR PC -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePath">
                                                <img src="~/@item?.ImagePath">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="contactBox-info">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>@item?.PlaceName_TH</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="contact-info">
                                                            @if (item?.Sub_Factory_Name_TH != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    @Html.Raw(item?.Sub_Factory_Name_TH)
                                                                </li>
                                                            }
                                                            @if (item?.Location_TH != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    <p style="word-wrap:break-word;">@item?.Location_TH </p>
                                                                </li>
                                                            }
                                                            @if (item?.CellPhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                                    <p>@item?.CellPhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.TelePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                                    <p>@item?.TelePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.OfficePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                                    <p>@item?.OfficePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.Email != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                                    <a style="word-wrap:break-word;" href="@item?.Email">@Html.Raw(item?.Email)</a>
                                                                </li>
                                                            }
                                                            @if (item?.GoogleMaps_Url != null)
                                                            {
                                                                <li class="map">
                                                                    <a class="buttonB" href="@item?.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                                    @if (lang == "EN")
                                                                    {
                                                                        @if (item?.YouTube_Url_EN != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_EN" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (item?.YouTube_Url_TH != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_TH" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR IPAD & MOBILE -->
                                        <div class="col-12 d-block d-lg-none">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePath">
                                                <img src="~/@item?.ImagePath">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <!---------- 03 OVERSEA OFFICES ---------->
                    <div class="display-info" rel="3" id="oversea_btn">
                        @if (lang == "EN")
                        {
                            @foreach (var item in Model.Where(contact => contact.ContactType == "OVERSEA_OFFICES"))
                            {
                                <div class="contactBox">
                                    <div class="row">
                                        <!-- MAP :: FOR PC -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePathEN">
                                                <img src="~/@item?.ImagePathEN">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="contactBox-info">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>@item?.PlaceName_EN</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="contact-info">
                                                            @if (item?.Sub_Factory_Name_EN != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    @Html.Raw(item?.Sub_Factory_Name_EN)
                                                                </li>
                                                            }
                                                            @if (item?.Location_EN != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    <p style="word-wrap:break-word;">@item?.Location_EN </p>
                                                                </li>
                                                            }
                                                            @if (item?.CellPhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                                    <p>@item?.CellPhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.TelePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                                    <p>@item?.TelePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.OfficePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                                    <p>@item?.OfficePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.Email != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                                    <a style="word-wrap:break-word;" href="@item?.Email">@Html.Raw(item?.Email)</a>
                                                                </li>
                                                            }
                                                            @if (item?.GoogleMaps_Url != null)
                                                            {
                                                                <li class="map">
                                                                    <a class="buttonB" href="@item?.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                                    @if (lang == "EN")
                                                                    {
                                                                        @if (item?.YouTube_Url_EN != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_EN" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (item?.YouTube_Url_TH != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_TH" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- MAP :: FOR IPAD & MOBILE -->
                                        <div class="col-12 d-block d-lg-none">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePathEN">
                                                <img src="~/@item?.ImagePathEN">
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        else
                        {
                            @foreach (var item in Model.Where(contact => contact.ContactType == "OVERSEA_OFFICES"))
                            {
                                <div class="contactBox">
                                    <div class="row">
                                        <!-- MAP :: FOR PC -->
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePath">
                                                <img src="~/@item?.ImagePath">
                                            </a>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="contactBox-info">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5>@item?.PlaceName_TH</h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="contact-info">
                                                            @if (item?.Sub_Factory_Name_TH != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    @Html.Raw(item?.Sub_Factory_Name_TH)
                                                                </li>
                                                            }
                                                            @if (item?.Location_TH != null)
                                                            {
                                                                <li class="address">
                                                                    <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                                    <p style="word-wrap:break-word;">@item?.Location_TH </p>
                                                                </li>
                                                            }
                                                            @if (item?.CellPhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                                    <p>@item?.CellPhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.TelePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                                    <p>@item?.TelePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.OfficePhone != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                                    <p>@item?.OfficePhone</p>
                                                                </li>
                                                            }
                                                            @if (item?.Email != null)
                                                            {
                                                                <li>
                                                                    <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                                    <a style="word-wrap:break-word;" href="@item?.Email">@Html.Raw(item?.Email)</a>
                                                                </li>
                                                            }
                                                            @if (item?.GoogleMaps_Url != null)
                                                            {
                                                                <li class="map">
                                                                    <a class="buttonB" href="@item?.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                                    @if (lang == "EN")
                                                                    {
                                                                        @if (item?.YouTube_Url_EN != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_EN" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        @if (item?.YouTube_Url_TH != null)
                                                                        {
                                                                            <a class="buttonBD" href="@item?.YouTube_Url_TH" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                                        }
                                                                    }
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR IPAD & MOBILE -->
                                        <div class="col-12 d-block d-lg-none">
                                            <a class="img-width imgBD hover-img" data-fancybox href="~/@item?.ImagePath">
                                                <img src="~/@item?.ImagePath">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".display-tab > li").click(function () {
                var rel = $(this).attr("rel");
                $('.display-info').hide();
                $('.display-info[rel=' + rel + ']').fadeIn();
                $(".display-tab > li").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
}