@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@model IEnumerable<Lighting.Models.InputFilterModels.Contact.Output_ContactVM>

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">CONTACT US</div>
        </div>
    </div>
</div>
<!---------- CONTACT US ---------->


<div class="content-padding contact-page" id="contact">
    <div class="container">
        <div class="head-office">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="blueBox">
                        <div class="row">
                            <div class="col">
                                <h3>Head Office</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <ul class="contact-info mb-0">
                                    <li class="address">
                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                        <p>
                                            <strong>Lighting and Equipment Public Company Limited</strong>
                                            539/2 ,16-17 Floor, Gypsum Metropolitan Tower.Sri-Ayudhya Rd., Rajthevee, Bangkok 10400, Thailand.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                        <p>(+66)2248-8133, (+66)2642-5092</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                        <p>(+66)2248-8144, (+66)2642-5091</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                        <ul>
                                            <li>
                                                <p>
                                                    <strong>Corporate Communication :</strong>
                                                    <a href="mailto:cco01@lighting.co.th">cco01@lighting.co.th</a>
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    <strong>Oversea Business :</strong>
                                                    <a href="mailto:eklukb@lighting.co.th">eklukb@lighting.co.th</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="contactBT">
                                        <a class="buttonB" href="https://goo.gl/maps/YC8Gav9d6HQ7jGvWA" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                    </li>
                                    <li class="contactBT">
                                        <a class="buttonBD" href="" target="_blank">More Information</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-12">
                    <a class="img-width hover-img" data-fancybox="" href="/Frontend_assets/images/contact/map-headoffice.jpg">
                        <img src="/Frontend_assets/images/contact/map-headoffice.jpg">
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="display-tab center s-txt">
                    <li class="active" rel="1">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>SHOWROOM</div>
                            </div>
                        </a>
                    </li>
                    <li rel="2">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>FACTORY &amp; WAREHOUSE</div>
                            </div>
                        </a>
                    </li>
                    <li rel="3">
                        <a href="javascript:void(0)">
                            <div class="cate-txtBox">
                                <div>OVERSEA OFFICES</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="display-group">
                    <!---------- 01 SHOWROOM ---------->
                    <div class="display-info" rel="1" id="showroom_btn">
                        <div class="row">
                            @if (lang == "EN")
                            {
                                @foreach (var contact in Model.Where(contact => contact.ContactType == "SHOWROOM"))
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-3">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@contact.PlaceName_EN</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="contact-info">
                                                    <li class="address">
                                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                        <p>@contact.Location_EN</p>
                                                    </li>

                                                    @if (contact.CellPhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>@contact.CellPhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.TelePhone != null)
                                                    {

                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                            <p>@contact.TelePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.OfficePhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                            <p>@contact.OfficePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.Email != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:@contact.Email">@contact.Email</a></p>
                                                        </li>
                                                    }
                                                    @if (contact.GoogleMaps_Url != null)
                                                    {
                                                        <li class="map">
                                                            <a class="buttonB" href="@contact.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                            @if (contact.YouTube_Url != null)
                                                            {
                                                                <a class="buttonBD" href="@contact.YouTube_Url" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                            }
                                                        </li>
                                                    }

                                                </ul>
                                                @if (contact.ImagePath != null)
                                                {
                                                    <div class="row d-none d-md-block mt-3">
                                                        <div class="col">
                                                            <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                                <img src="~/@contact.ImagePath">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR MOBILE -->
                                        @if (contact.ImagePath != null)
                                        {
                                            <div class="row d-block d-md-none">
                                                <div class="col">
                                                    <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                        <img src="~/@contact.ImagePath">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                @foreach (var contact in Model.Where(contact => contact.ContactType == "SHOWROOM"))
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-3">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@contact.PlaceName_TH</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="contact-info">
                                                    <li class="address">
                                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                        <p>@contact.Location_TH</p>
                                                    </li>

                                                    @if (contact.CellPhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>@contact.CellPhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.TelePhone != null)
                                                    {

                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                            <p>@contact.TelePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.OfficePhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                            <p>@contact.OfficePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.Email != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:@contact.Email">@contact.Email</a></p>
                                                        </li>
                                                    }
                                                    @if (contact.GoogleMaps_Url != null)
                                                    {
                                                        <li class="map">
                                                            <a class="buttonB" href="@contact.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                            @if (contact.YouTube_Url != null)
                                                            {
                                                                <a class="buttonBD" href="@contact.YouTube_Url" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                            }
                                                        </li>
                                                    }

                                                </ul>
                                                @if (contact.ImagePath != null)
                                                {
                                                    <div class="row d-none d-md-block mt-3">
                                                        <div class="col">
                                                            <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                                <img src="~/@contact.ImagePath">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR MOBILE -->
                                        @if (contact.ImagePath != null)
                                        {
                                            <div class="row d-block d-md-none">
                                                <div class="col">
                                                    <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                        <img src="~/@contact.ImagePath">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!---------- 02 FACTORY & WAREHOUSE ---------->
                    <div class="display-info" rel="2" id="factory_warehouse_btn">
                        <div class="row">
                            @if (lang == "EN")
                            {
                                @foreach (var contact in Model.Where(contact => contact.ContactType == "FACTORY_AND_WAREHOUSE"))
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-3">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@contact.PlaceName_EN</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="contact-info">
                                                    <li class="address">
                                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                        <p>@contact.Location_EN</p>
                                                    </li>

                                                    @if (contact.CellPhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>@contact.CellPhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.TelePhone != null)
                                                    {

                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                            <p>@contact.TelePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.OfficePhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                            <p>@contact.OfficePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.Email != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:@contact.Email">@contact.Email</a></p>
                                                        </li>
                                                    }
                                                    @if (contact.GoogleMaps_Url != null)
                                                    {
                                                        <li class="map">
                                                            <a class="buttonB" href="@contact.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                            @if (contact.YouTube_Url != null)
                                                            {
                                                                <a class="buttonBD" href="@contact.YouTube_Url" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                            }
                                                        </li>
                                                    }

                                                </ul>
                                                @if (contact.ImagePath != null)
                                                {
                                                    <div class="row d-none d-md-block mt-3">
                                                        <div class="col">
                                                            <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                                <img src="~/@contact.ImagePath">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR MOBILE -->
                                        @if (contact.ImagePath != null)
                                        {
                                            <div class="row d-block d-md-none">
                                                <div class="col">
                                                    <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                        <img src="~/@contact.ImagePath">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                @foreach (var contact in Model.Where(contact => contact.ContactType == "FACTORY_AND_WAREHOUSE"))
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-3">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@contact.PlaceName_TH</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="contact-info">
                                                    <li class="address">
                                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                        <p>@contact.Location_TH</p>
                                                    </li>

                                                    @if (contact.CellPhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>@contact.CellPhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.TelePhone != null)
                                                    {

                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                            <p>@contact.TelePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.OfficePhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                            <p>@contact.OfficePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.Email != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:@contact.Email">@contact.Email</a></p>
                                                        </li>
                                                    }
                                                    @if (contact.GoogleMaps_Url != null)
                                                    {
                                                        <li class="map">
                                                            <a class="buttonB" href="@contact.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                            @if (contact.YouTube_Url != null)
                                                            {
                                                                <a class="buttonBD" href="@contact.YouTube_Url" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                            }
                                                        </li>
                                                    }

                                                </ul>
                                                @if (contact.ImagePath != null)
                                                {
                                                    <div class="row d-none d-md-block mt-3">
                                                        <div class="col">
                                                            <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                                <img src="~/@contact.ImagePath">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR MOBILE -->
                                        @if (contact.ImagePath != null)
                                        {
                                            <div class="row d-block d-md-none">
                                                <div class="col">
                                                    <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                        <img src="~/@contact.ImagePath">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <!---------- 03 OVERSEA OFFICES ---------->
                    <div class="display-info" rel="3" id="oversea_btn">
                        <div class="row">
                            @if (lang == "EN")
                            {
                                @foreach (var contact in Model.Where(contact => contact.ContactType == "OVERSEA_OFFICES"))
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-3">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@contact.PlaceName_EN</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="contact-info">
                                                    <li class="address">
                                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                        <p>@contact.Location_EN</p>
                                                    </li>

                                                    @if (contact.CellPhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>@contact.CellPhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.TelePhone != null)
                                                    {

                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                            <p>@contact.TelePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.OfficePhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                            <p>@contact.OfficePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.Email != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:@contact.Email">@contact.Email</a></p>
                                                        </li>
                                                    }
                                                    @if (contact.GoogleMaps_Url != null)
                                                    {
                                                        <li class="map">
                                                            <a class="buttonB" href="@contact.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                            @if (contact.YouTube_Url != null)
                                                            {
                                                                <a class="buttonBD" href="@contact.YouTube_Url" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                            }
                                                        </li>
                                                    }

                                                </ul>
                                                @if (contact.ImagePath != null)
                                                {
                                                    <div class="row d-none d-md-block mt-3">
                                                        <div class="col">
                                                            <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                                <img src="~/@contact.ImagePath">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR MOBILE -->
                                        @if (contact.ImagePath != null)
                                        {
                                            <div class="row d-block d-md-none">
                                                <div class="col">
                                                    <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                        <img src="~/@contact.ImagePath">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                @foreach (var contact in Model.Where(contact => contact.ContactType == "OVERSEA_OFFICES"))
                                {
                                    <div class="col-lg-6 col-md-6 col-12 mt-3">
                                        <div class="row">
                                            <div class="col">
                                                <h5>@contact.PlaceName_TH</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="contact-info">
                                                    <li class="address">
                                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                        <p>@contact.Location_TH</p>
                                                    </li>

                                                    @if (contact.CellPhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>@contact.CellPhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.TelePhone != null)
                                                    {

                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-mobile-alt"></i></div>
                                                            <p>@contact.TelePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.OfficePhone != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-fax"></i></div>
                                                            <p>@contact.OfficePhone</p>
                                                        </li>
                                                    }
                                                    @if (contact.Email != null)
                                                    {
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:@contact.Email">@contact.Email</a></p>
                                                        </li>
                                                    }
                                                    @if (contact.GoogleMaps_Url != null)
                                                    {
                                                        <li class="map">
                                                            <a class="buttonB" href="@contact.GoogleMaps_Url" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                            @if (contact.YouTube_Url != null)
                                                            {
                                                                <a class="buttonBD" href="@contact.YouTube_Url" target="_blank"><i class="fab fa-youtube"></i>&nbsp;YouTube</a>
                                                            }
                                                        </li>
                                                    }

                                                </ul>
                                                @if (contact.ImagePath != null)
                                                {
                                                    <div class="row d-none d-md-block mt-3">
                                                        <div class="col">
                                                            <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                                <img src="~/@contact.ImagePath">
                                                            </a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!-- MAP :: FOR MOBILE -->
                                        @if (contact.ImagePath != null)
                                        {
                                            <div class="row d-block d-md-none">
                                                <div class="col">
                                                    <a class="img-width" data-fancybox="" href="~/@contact.ImagePath">
                                                        <img src="~/@contact.ImagePath">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".display-tab > li").click(function () {
                var rel = $(this).attr("rel");
                $('.display-info').hide();
                $('.display-info[rel=' + rel + ']').fadeIn();
                $(".display-tab > li").removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
}