@{
    ViewData["Title"] = "Manage News";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@model IEnumerable<Lighting.Models.InputFilterModels.ApplyJob.Output_ApplyJobVM>

<div class="container" style="width:100%;">
    <div class="row d-flex justify-content-between mb-3">
        <div class="col  d-flex justify-content-center">
            @if (lang == "EN")
            {
                <a href="@Url.Action("index","ManageJob")" class="btn btn-primary rounded-2">
                    View All Job
                </a>
            }
            else
            {
                <a href="@Url.Action("index","ManageJob")" class="btn btn-primary rounded-2">
                    ดูงานทั้งหมด
                </a>
            }
        </div>
        <div class="col  d-flex justify-content-center">

            @if (lang == "EN")
            {
                <a href="@Url.Action("Add_Job_Page","ManageJob")" class="btn btn-primary rounded-2">
                    Add Job
                </a>
            }
            else
            {
                <a href="@Url.Action("Add_Job_Page","ManageJob")" class="btn btn-primary rounded-2">
                    เพิ่มงาน
                </a>
            }

        </div>
    </div>


    <div class="row">
        @if (lang == "EN")
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Position Name</th>
                        <th scope="col">Work Place</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-center">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in Model)
                    {
                        <tr id="@job.Id">
                            <th scope="row">@job.Id</th>
                            <td>@job.PositionName_EN</td>
                            <td>@job.WorkPlace_EN</td>
                            <td>@job.Date_EN</td>
                            <td class="text-center" style=""><button type="button" class="btn btn-warning" onclick="editById(@job.Id)"><i class="bi bi-pencil-square"></i>แก้ไข</button><button type="button" class="btn btn-danger" style="margin-left: 15px;" onclick="deleteRowById(@job.Id)"><i class="bi bi-trash-fill"></i>ลบ</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ชื่อตำแหน่ง</th>
                        <th scope="col">สถานที่ทำงาน</th>
                        <th scope="col">วันประกาศ</th>
                        <th scope="col" class="text-center">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var job in Model)
                    {
                        <tr id="@job.Id">
                            <th scope="row">@job.Id</th>
                            <td>@job.PositionName_TH</td>
                            <td>@job.WorkPlace_TH</td>
                            <td>@job.Date_TH</td>
                            <td class="text-center" style=""><button type="button" class="btn btn-warning" onclick="editById(@job.Id)"><i class="bi bi-pencil-square"></i>แก้ไข</button><button type="button" class="btn btn-danger" style="margin-left: 15px;" onclick="deleteRowById(@job.Id)"><i class="bi bi-trash-fill"></i>ลบ</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
 
</div>


@section Scripts{
    <script>



        function editById(id) {
            window.location.href = "/ManageJob/Edit_Job_Page?id=" + id;
        }

        function deleteRowById(id) {

            Swal.fire({
                icon: 'warning',
                title: "คุณแน่ใจว่าต้องการลบ?",
                text: "",
                showConfirmButton: true,
            }).then((confirm) => {
                if (confirm.isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/ManageJob/DeleteById?id=' + id,
                        processData: false,
                        contentType: false,
                        cache: false,
                        beforeSend: function () {
                            Swal.fire('Please wait')
                            Swal.showLoading()
                        },
                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {

                                    $("#" + id).remove();
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: data.message,
                                });
                            }
                        }, error: function (e) {
                            Swal.fire({
                                icon: 'error',
                                text: e.message,
                            });
                            console.log(e.message);
                            console.log(e.inner);
                        }
                    });
                } else {

                }
            });
        }

    </script>
}