@{
    ViewData["Title"] = "Manage_Job_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@model IEnumerable<Lighting.Models.InputFilterModels.ApplyJob.Output_ApplyJobVM>

<div class="container" style="width:100%;">
    <div style="display:flex;justify-content:space-between">
        <div >
            @*
            <a href="@Url.Action("index","ManageJob")" class="btn btn-primary">
            ดูงานทั้งหมด/View All Job
            </a>
            *@
        </div>
        <div >
            <a href="@Url.Action("Add_Job_Page","ManageJob")" class="btn btn-primary rounded-2">
                เพิ่มงาน/Add Job
            </a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <table class="table">
            <thead>
                <tr style="border-top:1px solid black;border-bottom:1px solid black">
                    <th scope="col">#</th>
                    <th scope="col">ชื่อตำแหน่ง/Position Name</th>
                    <th scope="col">สถานที่ทำงาน/Work Place</th>
                    <th scope="col">วันประกาศ/Date</th>
                    <th scope="col" class="text-center">จัดการ/Manage</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var job in Model)
                {
                    <tr id="@job.Id">
                        <th scope="row">@i</th>
                        <td>@job.PositionName_TH/@job.PositionName_EN</td>
                        <td>@job.WorkPlace_TH/@job.WorkPlace_EN</td>
                        <td>@job.Date_TH &nbsp;/&nbsp;&nbsp; @job.Date_EN</td>
                        <td class="text-center" style="">
                            <button type="button" class="btn btn-warning" onclick="editById(@job.Id)">
                                <i class="bi bi-pencil-square"></i>แก้ไข/edit
                            </button>
                            <button type="button" class="btn btn-danger"  onclick="deleteRowById(@job.Id)">
                                <i class="bi bi-trash-fill"></i>ลบ/delete
                            </button>
                        </td>
                        @{
                            i++;
                        }
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>

</div>


@section Scripts{
    <script>



        function editById(id) {
            window.location.href = "/ManageJob/Edit_Job_Page?id=" + id;
        }

        function deleteRowById(id) {

            Swal.fire({
                icon: 'warning',
                title: "คุณแน่ใจว่าต้องการลบ?",
                text: "",
                showConfirmButton: true,
            }).then((confirm) => {
                if (confirm.isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/ManageJob/DeleteById?id=' + id,
                        processData: false,
                        contentType: false,
                        cache: false,
                        beforeSend: function () {
                            Swal.fire('Please wait')
                            Swal.showLoading()
                        },
                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {

                                    $("#" + id).remove();
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: data.message,
                                });
                            }
                        }, error: function (e) {
                            Swal.fire({
                                icon: 'error',
                                text: e.message,
                            });
                            console.log(e.message);
                            console.log(e.inner);
                        }
                    });
                } else {

                }
            });
        }

    </script>
}