<div class="col-lg-3 d-none d-md-none d-lg-block">
    <div class="row">
        <div class="col">
            <h4 class="decor">PRODUCT</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="product-side-menu">
                <li><a href="@Url.Action("Product_Category","Product")">INDOOR</a></li>
                <li class="active"><a href="@Url.Action("Product_Category","Product")">OUTDOOR</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">DECORATIVE</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">ENTERTAINMENT</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">SPECIAL</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">SWITCH / RECEPTACLE / SIGNAGE</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">LAMP</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">COMPONENT / CONTROL EQUIPMENT</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">HORTICULTURE / BIOLOGICAL LIGHTING</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">POLE</a></li>
            </ul>
        </div>
    </div>
</div>