@using Lighting.Models.InputFilterModels.Product
@{
    var lang = Context.Request.Cookies["lang"];
}
<div class="col-lg-3 d-none d-md-none d-lg-block">
    <div class="row">
        <div class="col">
            <h4 class="decor">PRODUCT</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="product-side-menu">
                @*
                <li><a href="@Url.Action("Product_Category","Product")">INDOOR</a></li>
                <li class="active"><a href="@Url.Action("Product_Category","Product")">OUTDOOR</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">DECORATIVE</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">ENTERTAINMENT</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">SPECIAL</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">SWITCH / RECEPTACLE / SIGNAGE</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">LAMP</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">COMPONENT / CONTROL EQUIPMENT</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">HORTICULTURE / BIOLOGICAL LIGHTING</a></li>
                <li><a href="@Url.Action("Product_Category","Product")">POLE</a></li>
                *@
                @foreach (var cat in (IEnumerable<Output_ProductCategoryVM>)ViewData["All_Category"])
                {
                    if(lang == "TH")
                    {
                        if (cat.Name_EN.ToLower().StartsWith(ViewBag.Category) || cat.Name_TH.StartsWith(ViewBag.Category))
                        {
                            <li class="active"><a href="@Url.Action("Product_Category","Product",new {category= cat.Name_TH})">@cat.Name_TH</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Product_Category","Product",new {category= cat.Name_TH})">@cat.Name_TH</a></li>
                        }
                    }
                    else
                    {

                        if (cat.Name_EN.ToLower().StartsWith(ViewBag.Category) || cat.Name_TH.StartsWith(ViewBag.Category))
                        {
                            <li class="active"><a href="@Url.Action("Product_Category","Product",new {category= cat.Name_EN.ToLower()})">@cat.Name_EN</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Product_Category","Product",new {category= cat.Name_EN.ToLower()})">@cat.Name_EN</a></li>
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>