
@{
}
<!----- TOP BUTTON ----->
<div class="scrolltop">
    <div class="scroll icon"><i class="fas fa-chevron-up"></i></div>
</div>

<footer>
    <div class="container-fluid">
        <div class="wrap-pad more-w">
            <!-- IR FOOTER :: PC & IPAD PRO -->
            <div class="d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col">
                               @* <h6>สำนักงานใหญ่</h6>*@
                                <h6>HEAD OFFICE</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col" id="contact_json_pc">

                                <ul class="contact-info WH-txt">
                                    <li class="address">
                                        <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                       @* <p>
                                            <strong>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) </strong>
                                            539/2 ชั้น 16-17 อาคารมหานครยิปซั่ม ถนนศรีอยุธยา แขวงถนนพญาไท เขตราชเทวี กรุงเทพมหานคร 10400
                                        </p>*@
                                        <p>
                                            <strong>Lighting and Equipment Public Company Limited </strong>
                                            539/2 ,16-17 Floor, Gypsum Metropolitan Tower.Sri-Ayudhya Rd., Rajthevee,Bangkok 10400, Thailand.
                                        </p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                        <p>(+66)0-2248-8133, (+66)0-26425092 ต่อ 1001</p>
                                    </li>
                                    <li>
                                        <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                        <p><a href="mailto:chitladaj@lighting.co.th">chitladaj@lighting.co.th</a></p>
                                    </li>
                                    <li class="map">
                                        <a class="buttonBD" href="https://goo.gl/maps/YC8Gav9d6HQ7jGvWA" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                                @*<h6>เกี่ยวกับเรา</h6>*@
                                                <h6>ABOUT US</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="footer-menu">
                                                 @*   <li><a href="@Url.Action("Profile_History","Resource_Facility")">ข้อมูลองค์กร</a></li>
                                                    <li><a href="@Url.Action("SmartSolution","SmartSolution")">สมาร์ท โซลูชั่น</a></li>
                                                    <li><a href="@Url.Action("New","New")">ข่าวสาร</a></li>
                                                    <li><a href="@Url.Action("IR_index","Frontend_IR")">นักลงทุนสัมพันธ์</a></li>
                                                    <li><a href="@Url.Action("ApplyJob","ApplyJob")">สมัครงาน</a></li>
                                                    <li><a href="@Url.Action("Contact","Contact")">ติดต่อเรา</a></li>
                                                    <li><a href="@Url.Action("PrivacyPolicy","PrivacyPolicy")">นโยบายความเป็นส่วนตัว</a></li>
                                                    <li><a href="@Url.Action("CookiesPolicy","CookiesPolicy")">นโยบายคุกกี้</a></li>*@

                                                  <li><a href="@Url.Action("Profile_History","Resource_Facility")">Resource & Facility</a></li>
                                                    <li><a href="@Url.Action("SmartSolution","SmartSolution")">Smart Solution</a></li>
                                                    <li><a href="@Url.Action("New","New")">News</a></li>
                                                    <li><a href="@Url.Action("IR_index","Frontend_IR")">Investor</a></li>
                                                    <li><a href="@Url.Action("ApplyJob","ApplyJob")">Apply Job</a></li>
                                                    <li><a href="@Url.Action("Contact","Contact")">Contact us</a></li>
                                                    <li><a href="@Url.Action("PrivacyPolicy","PrivacyPolicy")">Privacy Policy</a></li>
                                                    <li><a href="@Url.Action("CookiesPolicy","CookiesPolicy")">Cookies Policy</a></li>
                                                    @*
                                                    <li><a href="">Resource & Facility</a></li>
                                                    <li><a href="">Smart Solution</a></li>
                                                    <li><a href="">News</a></li>
                                                    <li><a href="">Investor</a></li>
                                                    <li><a href="">Apply Job</a></li>
                                                    <li><a href="">Contact us</a></li>
                                                    <li><a href="@Url.Action("PrivacyPolicy","PrivacyPolicy")">Privacy Policy</a></li>
                                                    <li><a href="@Url.Action("CookiesPolicy","CookiesPolicy")">Cookies Policy</a></li>
                                                    *@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                                <h6>OUR SERVICES</h6>
                                              @*  <h6>บริการของเรา</h6>*@
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <ul class="footer-menu">
                                                @*    <li><a href="@Url.Action("Product","Product")">สินค้า</a></li>
                                                    <li><a href="@Url.Action("Project","Project")">ผลงาน</a></li>
                                                    <li><a href="@Url.Action("Download","Download")">ดาวน์โหลด</a></li>*@

                                                   <li><a href="@Url.Action("Product","Product")">Products</a></li>
                                                    <li><a href="@Url.Action("Project","Project")">Project Ref</a></li>
                                                    <li><a href="@Url.Action("Company_profile_page","Download")">Download</a></li>
                                                    @*
                                                    <li><a href="">Products</a></li>
                                                    <li><a href="">Project Ref</a></li>
                                                    <li><a href="">Download</a></li>
                                                    *@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col">
                                        @*<h6>ติดตามเรา</h6>*@
                                        <h6>FOLLOW US</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="social">
                                            <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                            <li><a href="" target="_blank"><img src="~/Frontend_assets/images/icon/icon-tiktokBK.svg"></a></li>
                                            <li><a href="" target="_blank"><img src="~/Frontend_assets/images/icon/icon-lineBK.svg"></a></li>
                                            <li><a href="" target="_blank"><i class="fas fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        @*<h6>ลงทะเบียนรับจดหมายข่าว</h6>*@
                                        <h6>SUBSCRIBE TO NEWSLETTER</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group newsletter-container">
                                            <input type="email" class="form-control" placeholder="อีเมล" aria-describedby="button-addon2">
                                            <button class="buttonB" type="button" id="button-addon2"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <a class="CAC-logo" href="https://www.thai-cac.com/" target="_blank"><img src="~/Frontend_assets/images/ir/CAC-logo.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- END//FOOTER FOR :: PC & IPAD PRO -->
            <!-- IR FOOTER :: IPAD & MOBILE -->
            <div class="d-block d-md-block d-lg-none">
                <div class="row">
                    <div class="col">
                        <div class="footer-acc">
                            <div class="panel-group" id="foot-accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <!-- CONTACT -->
                                    <div class="panel-heading" role="tab">
                                        <div class="row">
                                            <div class="col">
                                                <a data-toggle="collapse" data-parent="#foot-accordion" href="#footer01" aria-expanded="true">ติดต่อเรา</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="footer01" class="panel-collapse collapse" role="tabpanel" data-parent="#foot-accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col" id="contact_json_mobile">
                                                    @*
                                                    <ul class="contact-info WH-txt">
                                                        <li class="address">
                                                            <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                                            <p>
                                                                <strong>บริษัท ไลท์ติ้ง แอนด์ อีควิปเมนท์ จำกัด (มหาชน) </strong>
                                                                539/2 ชั้น 16-17 อาคารมหานครยิปซั่ม ถนนศรีอยุธยา แขวงถนนพญาไท เขตราชเทวี กรุงเทพมหานคร 10400
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                            <p>(+66)0-2248-8133, (+66)0-26425092 ต่อ 1001</p>
                                                        </li>
                                                        <li>
                                                            <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                            <p><a href="mailto:chitladaj@lighting.co.th">chitladaj@lighting.co.th</a></p>
                                                        </li>
                                                        <li class="map">
                                                            <a class="buttonBD" href="https://goo.gl/maps/YC8Gav9d6HQ7jGvWA" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                                        </li>
                                                    </ul>
                                                    *@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- ABOUT -->
                                    <div class="panel-heading" role="tab">
                                        <div class="row">
                                            <div class="col">
                                                @*<a data-toggle="collapse" data-parent="#foot-accordion" href="#footer02" aria-expanded="true">เกี่ยวกับเรา</a>*@
                                                <a data-toggle="collapse" data-parent="#foot-accordion" href="#footer02" aria-expanded="true">ABOUT US</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="footer02" class="panel-collapse collapse" role="tabpanel" data-parent="#foot-accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="footer-menu">
                                                     @*   <li><a href="">ข้อมูลองค์กร</a></li>
                                                        <li><a href="">สมาร์ท โซลูชั่น</a></li>
                                                        <li><a href="">ข่าวสาร</a></li>
                                                        <li><a href="">นักลงทุนสัมพันธ์</a></li>
                                                        <li><a href="">สมัครงาน</a></li>
                                                        <li><a href="">ติดต่อเรา</a></li>
                                                        <li><a href="">นโยบายความเป็นส่วนตัว</a></li>
                                                        <li><a href="">นโยบายคุกกี้</a></li>*@

                                                      <li><a href="@Url.Action("Profile_History","Resource_Facility")">Resource & Facility</a></li>
                                                        <li><a href="@Url.Action("SmartSolution","SmartSolution")">Smart Solution</a></li>
                                                        <li><a href="@Url.Action("New","New")">News</a></li>
                                                        <li><a href="@Url.Action("IR_index","Frontend_IR")">Investor</a></li>
                                                        <li><a href="@Url.Action("ApplyJob","ApplyJob")">Apply Job</a></li>
                                                        <li><a href="@Url.Action("Contact","Contact")">Contact us</a></li>
                                                        <li><a href="@Url.Action("PrivacyPolicy","PrivacyPolicy")">Privacy Policy</a></li>
                                                        <li><a href="@Url.Action("CookiesPolicy","CookiesPolicy")">Cookies Policy</a></li>
                                                        @*
                                                        <li><a href="">Resource & Facility</a></li>
                                                        <li><a href="">Smart Solution</a></li>
                                                        <li><a href="">News</a></li>
                                                        <li><a href="">Investor</a></li>
                                                        <li><a href="@Url.Action("Applyjob","Applyjob")">Apply Job</a></li>
                                                        <li><a href="@Url.Action("Contact","Contact")">Contact us</a></li>
                                                        <li><a href="">Privacy Policy</a></li>
                                                        <li><a href="">Cookies Policy</a></li>
                                                        *@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- SERVICE -->
                                    <div class="panel-heading" role="tab">
                                        <div class="row">
                                            <div class="col">
                                                <a data-toggle="collapse" data-parent="#foot-accordion" href="#footer03" aria-expanded="true">OUR SERVICES</a>
                                                @*<a data-toggle="collapse" data-parent="#foot-accordion" href="#footer03" aria-expanded="true">บริการของเรา</a>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div id="footer03" class="panel-collapse collapse" role="tabpanel" data-parent="#foot-accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="footer-menu">
                                                      @*  <li><a href="">สินค้า</a></li>
                                                        <li><a href="">ผลงาน</a></li>
                                                        <li><a href="">ดาวน์โหลด</a></li>*@
                                                        <li><a href="@Url.Action("Product","Product")">Products</a></li>
                                                        <li><a href="@Url.Action("Project","Project")">Project Ref</a></li>
                                                        <li><a href="@Url.Action("Company_profile_page","Download")">Download</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- SOCIAL MEDIA -->
                                    <div class="panel-heading" role="tab">
                                        <div class="row">
                                            <div class="col">
                                                <a data-toggle="collapse" data-parent="#foot-accordion" href="#footer04" aria-expanded="true">ติดตามเรา และลงทะเบียนรับจดหมายข่าว</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="footer04" class="panel-collapse collapse" role="tabpanel" data-parent="#foot-accordion">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="social">
                                                        <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                                        <li><a href="" target="_blank"><img src="~/Frontend_assets/images/icon/icon-tiktokBK.svg"></a></li>
                                                        <li><a href="" target="_blank"><img src="~/Frontend_assets/images/icon/icon-lineBK.svg"></a></li>
                                                        <li><a href="" target="_blank"><i class="fas fa-shopping-cart"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <h6>ลงทะเบียนรับจดหมายข่าว</h6>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="input-group newsletter-container">
                                                        <input type="email" class="form-control" placeholder="อีเมล" aria-describedby="button-addon2">
                                                        <button class="buttonB" type="button" id="button-addon2"><i class="fas fa-paper-plane"></i></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="content-center">
                            <a class="CAC-logo" href="https://www.thai-cac.com/" target="_blank"><img src="~/Frontend_assets/images/ir/CAC-logo.png"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="copyright">© 2023 Lighting and Equipment Public Company Limited. All Right Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    window.onload= function(){
        //video you tube
        //let content = document.querySelectorAll("figure");
        //let indexHtml = 0;
        //document.querySelectorAll("oembed").forEach(x => {
        //    //console.log(x.getAttribute("url"));
        //    let url = x.getAttribute("url");
        //    let w = window.innerWidth, h = 500;
        //    if (w >= 1080) {
        //        h = 750;
        //    }
        //    if (w < 1080) {
        //        h = Math.floor(window.innerHeight * 0.55)
        //    }
        //    if (w < 500) {
        //        h = Math.floor(window.innerHeight * 0.4)
        //    }
        //    content[indexHtml].innerHTML = `<iframe width="100%" height="${h}px" src="${url}"></iframe>`;
        //    indexHtml++;
        //});
         //end video you tube

        $.ajax({
            type: 'POST',
            url: '/Contact/MainContactJson',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                //console.log(data);
                if(data){
                    let html_mobile = `
                    <ul class="contact-info WH-txt" >
                        <li class="address" >
                            <div class="icon-contact" > <i class="fas fa-map-marker-alt" > </i></div >
                                    <p><strong>${data?.companyName}</strong>${data?.location}</p>
                        </li>
                        <li >
                        <div class="icon-contact" > <i class="fas fa-phone-alt" > </i></div >
                            <p>${data?.officePhone} </p>
                        </li>
                        <li >
                          <div class="icon-contact" > <i class="fas fa-envelope" > </i></div >
                                   <p><a href="${data?.eMail1}" > ${data?.eMail1}</a></p >
                         </li>
                         <li class="map" >
                                <a class="buttonBD" href = "${data?.googleMapLink}" target = "_blank" > <i class="fas fa-map-marked-alt" > </i>Google map</a >
                         </li>
                    </ul>`;

                    let html_pc = `
                                   <ul class="contact-info WH-txt">
                                      <li class="address">
                                          <div class="icon-contact"><i class="fas fa-map-marker-alt"></i></div>
                                            <p>
                                                   <strong>${data?.companyName} </strong>
                                                    ${data?.location}
                                            </p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-phone-alt"></i></div>
                                                    <p>${data?.officePhone}</p>
                                            </li>
                                            <li>
                                                <div class="icon-contact"><i class="fas fa-envelope"></i></div>
                                                     <p><a href="${data?.eMail1}" > ${data?.eMail1}</a></p >
                                            </li>
                                            <li class="map">
                                                    <a class="buttonBD" href="${data?.googleMapLink}" target="_blank"><i class="fas fa-map-marked-alt"></i>Google map</a>
                                            </li>
                                      </ul>`;

                    $("#contact_json_mobile").html(html_mobile);
                    $("#contact_json_pc").html(html_pc);
                }
            }, error: function (e) {
                console.log(e.message);
                console.log(e.inner);
            }
        });
    };

    $(window).scroll(function () {
        if ($(this).scrollTop() > 500) {
            $('.scrolltop:hidden').stop(true, true).fadeIn();
        } else {
            $('.scrolltop').stop(true, true).fadeOut();
        }
    });
    $(function () { $(".scroll").click(function () { $("html,body").animate({ scrollTop: $(".thetop").offset().top }, "1000"); return false }) })

    // collapse //
    $(document).ready(function () {
        $('.collapse.in').prev('.panel-heading').addClass('active');
        $('#foot-accordion')
            .on('show.bs.collapse', function (a) {
                $(a.target).prev('.panel-heading').addClass('active');
            })
            .on('hide.bs.collapse', function (a) {
                $(a.target).prev('.panel-heading').removeClass('active');
            });
    });
</script>