@{
    var language = "";
    if (Context.Request.Cookies["lang"] == "EN")
    {
        language = "EN";
    }
    else
    {
        language = "TH";
    }

    ViewData["Finance_Statement"] = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;
    var Finance_Statement = (List<Lighting.Areas.Identity.Data.SH_IR_Finance_Statement>)ViewBag.Finance_Statement;

    ViewData["SH_IR_prospectus"] = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;
    var SH_IR_prospectus = (List<Lighting.Areas.Identity.Data.SH_IR_prospectus>)ViewBag.SH_IR_prospectus;
}
<!--------------- IR - HEADER --------------->
<link rel="stylesheet" type="text/css" href="~/Frontend_assets/css/csDropdown.css">
<script src="~/Frontend_assets/js/csDropdown.js"></script>


<div class="IR-menuBG">
    <div class="container-fluid">
        <div class="wrap-pad more-w">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-12">
                    <!-- IR MENU :: PC & IPAD PRO -->
                    <div class="d-none d-lg-block">
                        <div class="cd-dropdown-wrapper">

                            <a class="cd-dropdown-trigger navbar-toggler collapsed" href="#0">
                                <span></span>
                                เมนูนักลงทุนสัมพันธ์
                            </a>

                            <nav class="cd-dropdown">
                                <ul class="cd-dropdown-content">
                                    <li><a href="@Url.Action("IR_index","Frontend_IR")">หน้าหลักนักลงทุนสัมพันธ์</a></li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">ข้อมูลบริษัท</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_chairman","Frontend_IR")">สารจากประธานกรรมการ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_philosophy","Frontend_IR")">ปรัชญาองค์กร</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_companyprofile","Frontend_IR")">ข้อมูลทั่วไปบริษัท</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_summary","Frontend_IR")">สรุปภาพรวมบริษัท</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_board_directors","Frontend_IR")">คณะกรรมการบริษัท</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_organization","Frontend_IR")">โครงสร้างองค์กร</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">นโยบายการกำกับดูแลกิจการ</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_corporate_governance","Frontend_IR")">นโยบายการกำกับดูแลกิจการ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_code_conduct","Frontend_IR")">จรรยาบรรณธุรกิจ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1 link_report" target="_blank">รายงานความยั่งยืน</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_csr_policy","Frontend_IR")">นโยบายและความรับผิดชอบต่อสังคมและสิ่งแวดล้อม</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_anti_corruption_policy","Frontend_IR")">นโยบายการต่อต้านการทุจริตและคอร์รัปชั่น</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_gift_and_entertainment_policy","Frontend_IR")">นโยบายการให้หรือรับของขวัญ และการเลี้ยงรับรอง</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_channel_clue","Frontend_IR")">ช่องทางแจ้งเบาะแส</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_chairman_board","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของประธานกรรมการ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_chairman_executive","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของประธานกรรมการบริหาร</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_board_director","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการบริษัท</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_audit_committee","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการตรวจสอบ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_cg","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการกำกับดูแลกิจการ สรรหาและค่าตอบแทน</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_executive_board","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการบริหาร</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_author_secretary","Frontend_IR")">ขอบเขตอำนาจหน้าที่เลขานุการบริษัท</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">ข้อมูลสำคัญทางการเงิน</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            @if (Finance_Statement.Count > 0)
                                            {
                                                foreach (var items in Finance_Statement)
                                                {
                                                    if (language == "EN")
                                                    {
                                                        <li>
                                                            <a class="cd-dropdown-item item-1" href="@items.linkENG">งบการเงิน</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a class="cd-dropdown-item item-1" href="@items.linkTH">งบการเงิน</a>
                                                        </li>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    @*<a class="cd-dropdown-item item-1" href="@Url.Action("IR_finance_statement","Frontend_IR")">งบการเงิน</a>*@
                                                    <a class="cd-dropdown-item item-1" href="https://www.set.or.th/th/market/product/stock/quote/l&e/financial-statement/company-highlights">งบการเงิน</a>
                                                </li>
                                            }

                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_financial_highlight","Frontend_IR")">ข้อมูลสำคัญทางการเงิน</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_mda","Frontend_IR")">คำอธิบาย และการวิเคราะห์</a>
                                            </li>
                                            @if (SH_IR_prospectus.Count > 0)
                                            {
                                                foreach (var items in SH_IR_prospectus)
                                                {
                                                    <li>
                                                        <a class="cd-dropdown-item item-1" href="@items.Link">หนังสือชี้ชวน</a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="cd-dropdown-item item-1" href="http://capital.sec.or.th/webapp/corp_fin2/cgi-bin/result69c.php?comp_id=0764" target="_blank">หนังสือชี้ชวน</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">ข้อมูลสำหรับผู้ถือหุ้น</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_shareholding","Frontend_IR")">ผู้ถือหุ้นรายใหญ่</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_fact_sheet","Frontend_IR")">ข้อมูลที่สำคัญ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_general_meeting","Frontend_IR")">หนังสือเชิญประชุมผู้ถือหุ้น</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_report_general_meeting","Frontend_IR")">รายงานการประชุมผู้ถือหุ้น</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_propose_agenda","Frontend_IR")">เสนอวาระ/กรรมการ/คำถามล่วงหน้า</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_dividend","Frontend_IR")">นโยบายจ่ายเงินปันผล</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_annual_report","Frontend_IR")">รายงานประจำปี / One Report</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_form56","Frontend_IR")">แบบฟอร์ม 56-1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">การนำเสนอข้อมูล</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_presentation_webcast","Frontend_IR")">วิดีโอบริษัท</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_presentation_doc","Frontend_IR")">เอกสารนำเสนอ</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">ข้อมูลนักวิเคราะห์</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="#">รายงานนักวิเคราะห์</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="#">บทวิเคราะห์หลักทรัพย์</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">ข้อมูลราคาหลักทรัพย์</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_stock_quote","Frontend_IR")">ราคาหุ้นล่าสุด</a>
                                            </li>
                                            @*<li>
                                            <a class="cd-dropdown-item item-1" href="#">กราฟราคาย้อนหลัง</a>
                                            </li>*@
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="https://www.set.or.th/th/market/product/stock/quote/l&e/price" target="_blank">ราคาย้อนหลัง</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">ห้องข่าว</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_set_announcement","Frontend_IR")">ข่าวแจ้งตลาดหลักทรัพย์</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_news","Frontend_IR")">ข่าวสารล่าสุด</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_public_relation","Frontend_IR")">ข่าวแจ้งสื่อมวลชน</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_news_clipping","Frontend_IR")">ข่าวจากสื่อสิ่งพิมพ์</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_calendar","Frontend_IR")">ปฎิทินนักลงทุน</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="has-children">
                                        <a href="https://codyhouse.co/?p=748">สอบถามข้อมูลนักลงทุน</a>
                                        <ul class="cd-dropdown-icons is-hidden">
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_contact","Frontend_IR")">ติดต่อนักลงทุนสัมพันธ์</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_email_alerts","Frontend_IR")">อีเมลรับข่าวสาร</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_request_inquiry","Frontend_IR")">ฝากคำถาม</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_faq","Frontend_IR")">ถามตอบ</a>
                                            </li>
                                            <li>
                                                <a class="cd-dropdown-item item-1" href="@Url.Action("IR_complaints","Frontend_IR")">ช่องทางการรับเรื่องร้องเรียน</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- IR MENU :: IPAD & MOBILE -->
                    <div class="d-block d-md-block d-lg-none">
                        <!-- HAMBURGER - MENU -->
                        <button type="button" class="btn nav-menu IR-Mmenu" data-toggle="modal" data-target="#menuIR-mobile">
                            <i class="fas fa-bars"></i>เมนูนักลงทุนสัมพันธ์
                        </button>

                        <!-- Modal -->
                        <div class="modal left fade" id="menuIR-mobile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-header">
                                    <a class="mainlogo" href="index.php"><img src="~/Frontend_assets/images/L&E-logo.svg"></a>
                                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>

                                <div class="modal-content pt-0">
                                    <!-- MAINMENU -->
                                    <div class="modal-body">
                                        <div id="ir-menu">
                                            <div class="menu-box">
                                                <div class="menu-wrapper-inner">
                                                    <div class="menu-wrapper">
                                                        <div class="menu-slider ir-slider">
                                                            <div class="menu">
                                                                <ul class="menu">
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_index","Frontend_IR")">หน้าหลักนักลงทุนสัมพันธ์</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="11">
                                                                                ข้อมูลบริษัท
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="12">
                                                                                นโยบายการกำกับดูแลกิจการ
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="13">
                                                                                ข้อมูลสำคัญทางการเงิน
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="14">
                                                                                ข้อมูลสำหรับผู้ถือหุ้น
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="15">
                                                                                การนำเสนอข้อมูล
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="16">
                                                                                ข้อมูลนักวิเคราะห์
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="17">
                                                                                ข้อมูลราคาหลักทรัพย์
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="18">
                                                                                ห้องข่าว
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item">
                                                                            <a href="#" class="menu-anchor" data-menu="19">
                                                                                สอบถามข้อมูลนักลงทุน
                                                                                <img class="detail" src="~/Frontend_assets/images/icon/icon-chevronR.svg">
                                                                            </a>
                                                                        </div>
                                                                    </li>

                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 01 -->
                                                            <div class="submenu menu" data-menu="11">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_chairman","Frontend_IR")">สารจากประธานกรรมการ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_philosophy","Frontend_IR")">ปรัชญาองค์กร</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_companyprofile","Frontend_IR")">ข้อมูลทั่วไปบริษัท</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_summary","Frontend_IR")">สรุปภาพรวมบริษัท</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_board_directors","Frontend_IR")">คณะกรรมการบริษัท</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_organization","Frontend_IR")">โครงสร้างองค์กร</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 02 -->
                                                            <div class="submenu menu" data-menu="12">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_corporate_governance","Frontend_IR")">นโยบายการกำกับดูแลกิจการ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_code_conduct","Frontend_IR")">จรรยาบรรณธุรกิจ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a class="link_report" target="_blank">รายงานความยั่งยืน</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_csr_policy","Frontend_IR")">นโยบายและความรับผิดชอบต่อสังคมและสิ่งแวดล้อม</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_anti_corruption_policy","Frontend_IR")">นโยบายการต่อต้านการทุจริตและคอร์รัปชั่น</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_gift_and_entertainment_policy","Frontend_IR")">นโยบายการให้หรือรับของขวัญ และการเลี้ยงรับรอง</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_channel_clue","Frontend_IR")">ช่องทางแจ้งเบาะแส</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_chairman_board","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของประธานกรรมการ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_chairman_executive","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของประธานกรรมการบริหาร</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_board_director","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการบริษัท</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_audit_committee","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการตรวจสอบ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_cg","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการกำกับดูแลกิจการ สรรหาและค่าตอบแทน</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_executive_board","Frontend_IR")">ขอบเขตอำนาจหน้าที่ของคณะกรรมการบริหาร</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_author_secretary","Frontend_IR")">ขอบเขตอำนาจหน้าที่เลขานุการบริษัท</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 03 -->
                                                            <div class="submenu menu" data-menu="13">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    @if (Finance_Statement.Count > 0)
                                                                    {
                                                                        foreach (var items in Finance_Statement)
                                                                        {
                                                                            if (language == "EN")
                                                                            {
                                                                                <li>
                                                                                    <a class="cd-dropdown-item item-1" href="@items.linkENG">งบการเงิน</a>
                                                                                </li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li>
                                                                                    <a class="cd-dropdown-item item-1" href="@items.linkTH">งบการเงิน</a>
                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <a class="cd-dropdown-item item-1" href="https://www.set.or.th/th/market/product/stock/quote/l&e/financial-statement/company-highlights">งบการเงิน</a>
                                                                        </li>
                                                                    }
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_financial_highlight","Frontend_IR")">ข้อมูลสำคัญทางการเงิน</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_mda","Frontend_IR")">คำอธิบาย และการวิเคราะห์</a></div>
                                                                    </li>
                                                                    @if (SH_IR_prospectus.Count > 0)
                                                                    {
                                                                        foreach (var items in SH_IR_prospectus)
                                                                        {
                                                                            <li>
                                                                                <a class="cd-dropdown-item item-1" href="@items.Link">หนังสือชี้ชวน</a>
                                                                            </li>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <li>
                                                                            <div class="menu-item"><a href="http://capital.sec.or.th/webapp/corp_fin2/cgi-bin/result69c.php?comp_id=0764" target="_blank">หนังสือชี้ชวน</a></div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 04 -->
                                                            <div class="submenu menu" data-menu="14">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_shareholding","Frontend_IR")">ผู้ถือหุ้นรายใหญ่</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_fact_sheet","Frontend_IR")">ข้อมูลที่สำคัญ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_general_meeting","Frontend_IR")">หนังสือเชิญประชุมผู้ถือหุ้น</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_report_general_meeting","Frontend_IR")">รายงานการประชุมผู้ถือหุ้น</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_propose_agenda","Frontend_IR")">เสนอวาระ/กรรมการ/คำถามล่วงหน้า</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_dividend","Frontend_IR")">นโยบายจ่ายเงินปันผล</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_annual_report","Frontend_IR")">รายงานประจำปี / One Report</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_form56","Frontend_IR")">แบบฟอร์ม 56-1</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 05 -->
                                                            <div class="submenu menu" data-menu="15">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_presentation_webcast","Frontend_IR")">วิดีโอบริษัท</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_presentation_doc","Frontend_IR")">เอกสารนำเสนอ</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 06 -->
                                                            <div class="submenu menu" data-menu="16">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="#">รายงานนักวิเคราะห์</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="#">บทวิเคราะห์หลักทรัพย์</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 07 -->
                                                            <div class="submenu menu" data-menu="17">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_stock_quote","Frontend_IR")">ราคาหุ้นล่าสุด</a></div>
                                                                    </li>
                                                                    @* <li>
                                                                    <div class="menu-item"><a href="#">กราฟราคาย้อนหลัง</a></div>
                                                                    </li>*@
                                                                    <li>
                                                                        <div class="menu-item"><a href="https://www.set.or.th/th/market/product/stock/quote/l&e/price" target="_blank">ราคาย้อนหลัง</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 08 -->
                                                            <div class="submenu menu" data-menu="18">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_set_announcement","Frontend_IR")">ข่าวแจ้งตลาดหลักทรัพย์</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_news","Frontend_IR")">ข่าวสารล่าสุด</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_public_relation","Frontend_IR")">ข่าวแจ้งสื่อมวลชน</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_news_clipping","Frontend_IR")">ข่าวจากสื่อสิ่งพิมพ์</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_calendar","Frontend_IR")">ปฎิทินนักลงทุน</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- IR :: 09 -->
                                                            <div class="submenu menu" data-menu="19">
                                                                <div class="submenu-back">
                                                                    <div class="menu-item">
                                                                        <a href="#" class="menu-back">
                                                                            ย้อนกลับ
                                                                            <img class="detail back" src="~/Frontend_assets/images/icon/icon-chevronL.svg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_contact","Frontend_IR")">ติดต่อนักลงทุนสัมพันธ์</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_email_alerts","Frontend_IR")">อีเมลรับข่าวสาร</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_request_inquiry","Frontend_IR")">ฝากคำถาม</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_faq","Frontend_IR")">ถามตอบ</a></div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="menu-item"><a href="@Url.Action("IR_complaints","Frontend_IR")">ช่องทางการรับเรื่องร้องเรียน</a></div>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-7 col-md-7 d-none d-md-block">
                    <ul class="IR-header-submenu">
                        <li>
                            <a href="@Url.Action("IR_calendar","Frontend_IR")"><i class="fas fa-calendar-alt"></i>ปฏิทินนักลงทุน</a>
                        </li>
                        <li>
                            <a href="@Url.Action("IR_contact","Frontend_IR")"><i class="fas fa-phone-alt"></i>ติดต่อนักลงทุนสัมพันธ์</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var menu_width;
    jQuery(document).ready(
        function () {
            initMenuIR();
        });


    function initMenuIR() {
        menu_width = $("#ir-menu .menu").width();
        $("#ir-menu .menu-back").click(function () {
            var _pos = $("#ir-menu .ir-slider").position().left + menu_width;
            var _obj = $("#ir-menu .submenu");
            $("#ir-menu .ir-slider").stop().animate({
                left: _pos
            }, 300, function () {
                _obj.hide();
            });
            return false;
        });

        $("#ir-menu .menu-anchor").click(function () {
            var _d = $(this).data('menu');
            $("#ir-menu .submenu").each(function () {
                var _d_check = $(this).data('menu');
                if (_d_check == _d) {
                    $(this).show();
                    var _pos = $("#ir-menu .ir-slider").position().left - menu_width;
                    $("#ir-menu .ir-slider").stop(true, true).animate({
                        left: _pos
                    }, 300);
                    return false;
                }
            });
            return false;
        });

        $.ajax({
            type: "POST",
            cache: false,
            url: "/Frontend_IR/get_Sustainability_Report",
            success: function (data) {
                if (data.status == "success") {
                    if (data.data != null) {
                        if ("@language" == "TH") {
                            $(".link_report").attr("href", "/upload_file/SustainabilityReport/" + data.data.file_name);
                        } else {
                            $(".link_report").attr("href", "/upload_file/SustainabilityReport/" + data.data.file_name_ENG);
                        }
                    } else {
                        $(".link_report").attr("href", "javascript:void(0);");
                    }
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        text: data.message,
                    });
                }
            }, error: function (e) {
                Swal.fire({
                    icon: 'error',
                    text: e.message,
                });
                console.log(e.message);
                console.log(e.inner);
            }
        });
    }


    const button = document.querySelector('.navbar-toggler');
    button.addEventListener('click', () => {
        button.classList.toggle('collapsed');
    })

</script>