@model Lighting.Models.model_input

@{
    ViewData["Title"] = "Import_Info_ShareHolder";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";

}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">ข้อมูลที่สำคัญ</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="@Url.Action("Banner","IR_Index")" class="text-muted text-hover-primary">นักลงทุนสัมพันธ์</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">นโยบายการกำกับดูแลกิจการ</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">นโยบายการกำกับดูแลกิจการ</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            @*start*@
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body pt-0">

                    <div class="mb-10">
                    </div>
                    <form id="form_create" enctype="multipart/form-data">
                        @{
                            if (Model.count_row_Import_InfoShareHolder == 0)
                            {
                                <div class="row mb-3">
                                    <div class="col-2">
                                        <span>
                                            หัวข้อ TH
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="titleTH" autocomplete="off" />
                                    </div>
                                    <div class="col-2">
                                        <span>
                                            หัวข้อ ENG
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="titleENG" autocomplete="off" />
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-2">
                                        <span>
                                            หัวข้อ รายละเอียด TH
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="detailsTitleTH" autocomplete="off" />
                                    </div>
                                    <div class="col-2">
                                        <span>
                                            หัวข้อ รายละเอียดENG
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="detailsTitleENG" autocomplete="off" />
                                    </div>
                                </div>

                            }
                            else
                            {

                                <div class="row mb-3">
                                    <div class="col-2">
                                        <span>
                                            หัวข้อ TH
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="titleTH" value="@Model.fod_Import_InfoShareHolder.titleTH" />
                                    </div>
                                    <div class="col-2">
                                        <span>
                                            หัวข้อ ENG
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="titleENG" value="@Model.fod_Import_InfoShareHolder.titleENG" />
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-2">
                                        <span>
                                            รายละเอียด หัวข้อ TH
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="detailsTitleTH" value="@Model.fod_Import_InfoShareHolder.detailsTitleTH" />
                                    </div>
                                    <div class="col-2">
                                        <span>
                                            รายละเอียด หัวข้อ ENG
                                        </span>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" class="form-control" name="detailsTitleENG" value="@Model.fod_Import_InfoShareHolder.detailsTitleENG" />
                                    </div>
                                </div>

                            }
                        }

                    </form>

                    <div class="row mb-3" style="justify-content: right;">
                        <div class="col-1">
                            <a class="btn btn-success" onclick="submit_form()">บันทึก</a>
                        </div>
                    </div>

                </div>

            </div>
            <!--end::Card body-->
            @*end*@

            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            @*<span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                            <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                            </span>
                            <input type="text" data-kt-customer-table-filter="search" id="search_table_1" class="form-control form-control-solid w-250px ps-15" placeholder="ค้นหา" />*@
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal_create">
                                เพิ่ม
                            </button>
                        </div>
                        <!--end::Toolbar-->
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th>#</th>
                                <th class="min-w-125px">รูป TH</th>
                                <th class="min-w-125px">รูป ENG</th>
                                <th class="min-w-125px">สถานะการใช้งาน</th>
                                <th class="text-end min-w-70px">รายละเอียด</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-semibold text-gray-600">
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                    <div class="mb-10">
                    </div>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">เพิ่มรายการ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="form_create_modal" enctype="multipart/form-data">

                                        <div class="row">
                                            @*<input type="file" class="form-control" name="uploaded_image" accept="image/*" />*@
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-4">
                                                <span>
                                                    รูปภาพ TH
                                                </span>
                                                <br />
                                                <span style="color:red;">
                                                    ขนาดรูปภาพ : 1150 * 2200 px
                                                </span>
                                            </div>
                                            <div class="col-6">
                                                <input type="file" class="form-control" name="uploaded_image" accept="image/*" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-4">
                                                <span>
                                                    รูปภาพ ENG
                                                </span>
                                                <br />
                                                <span style="color:red;">
                                                    ขนาดรูปภาพ : 1150 * 2200 px
                                                </span>
                                            </div>
                                            <div class="col-6">
                                                <input type="file" class="form-control" name="uploaded_image_ENG" accept="image/*" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-4">
                                                <span>
                                                    สถานะการใช้งาน
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" checked type="checkbox" name="use_status" value="1" id="use_status_create">
                                                    <label class="form-check-label" for="use_status_create">ใช้งาน</label>
                                                </div>
                                            </div> 
                                        </div>

                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-primary" onclick="submit_form_create()" href="javascript:void(0)">บันทึก</a>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end Modal-->
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">แก้ไขรายการ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="form_edit" enctype="multipart/form-data">
                                        <input name="id" hidden id="edit_id" />
                                        <div class="mb-10" style="text-align:center;">
                                            <img id="edit_image" src="" style="height: 250px;width: 250px;" alt="image">
                                        </div>

                                        <div class="row">
                                            @*<input type="file" class="form-control" name="uploaded_image" accept="image/*" />*@
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-2">
                                                <span>
                                                    รูปภาพ TH
                                                </span>
                                                <br />
                                                <span style="color:red;">
                                                    ขนาดรูปภาพ : 1150 * 2200 px
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <input type="file" class="form-control" name="uploaded_image" accept="image/*" />
                                            </div>
                                        </div>

                                        <div class="mb-10" style="text-align:center;">
                                            <img id="edit_image_ENG" src="" style="height: 250px;width: 250px;" alt="image">
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-2">
                                                <span>
                                                    รูปภาพ ENG
                                                </span>
                                                <br />
                                                <span style="color:red;">
                                                    ขนาดรูปภาพ : 1150 * 2200 px
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <input type="file" class="form-control" name="uploaded_image_ENG" accept="image/*" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-2">
                                                <span>
                                                    สถานะการใช้งาน
                                                </span>
                                            </div>
                                            <div class="col-4">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="use_status" value="1" id="use_status_edit">
                                                    <label class="form-check-label" for="use_status_edit">ใช้งาน</label>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <a type="button" class="btn btn-primary" onclick="submit_form_edit()" href="javascript:void(0)">บันทึก</a>

                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end Modal-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Card-->

    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
<!--end::Content-->
@section Scripts{
    <script>

        function submit_form_create() {
            var raw_form = document.getElementById('form_create_modal');
            var formData = new FormData(raw_form);

            $.ajax({
                type: 'POST',
                url: '/Information_ShareHolder/ImportInfo_ShareHolder_addData_Submit',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            $("#exampleModal_create").modal('toggle');
                            var oTable = $('#kt_customers_table').DataTable();
                            oTable.ajax.reload(null, false);
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        function submit_form_edit() {
            var raw_form = document.getElementById('form_edit');
            var formData = new FormData(raw_form);

            $.ajax({
                type: 'POST',
                url: '/Information_ShareHolder/ImportInfo_ShareHolderData_edit_Submit',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            $("#exampleModal_edit").modal('toggle');
                            var oTable = $('#kt_customers_table').DataTable();
                            oTable.ajax.reload(null, false);
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        function changeStatus(id, checked_obj) {
            console.log("checked_obj=>", checked_obj.value);
            console.log("id=>", id);
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Information_ShareHolder/ImportInfo_ShareHolderData_changeStatus",
                data: {
                    id: id,
                    status: checked_obj.checked
                },    // multiple data sent using ajax
                success: function (data) {
                    if (data.status == "success") {
                        window.location.href = "@Url.Action("Import_Info_ShareHolder","Information_ShareHolder")";
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        function edit_item(id) {
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Information_ShareHolder/ImportInfo_ShareHolderData_getEditData",
                data: {
                    id: id,
                },    // multiple data sent using ajax
                success: function (data) {
                    if (data.status == "success") {
                        console.log("data=>", data.data);
                        $("#exampleModal_edit").modal('toggle');
                        $("#edit_id").val(data.data.id);
                        if (data.data.use_status == 1) {
                            $("#use_status_edit").prop("checked", true);
                        } else {
                            $("#use_status_edit").prop("checked", false);
                        }
                        $("#edit_image").removeAttr("src");
                        $("#edit_image").attr("src", "/upload_image/ImportInfo_Shareholder/" + data.data.image_name);

                        $("#edit_image_ENG").removeAttr("src");
                        $("#edit_image_ENG").attr("src", "/upload_image/ImportInfo_Shareholder/" + data.data.image_name_ENG);

                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });

        }

        function delete_item(id) {
            Swal.fire({
                title: 'คุณต้องการจะลบหรือไม่?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'ใช่',
                denyButtonText: `ไม่ใช่`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: "/Information_ShareHolder/ImportInfo_ShareHolderData_delete",
                        data: {
                            id: id
                        },    // multiple data sent using ajax
                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then((result) => {
                                    var oTable = $('#kt_customers_table').DataTable();
                                    oTable.ajax.reload(null, false);
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: data.message,
                                });
                            }
                        }, error: function (e) {
                            Swal.fire({
                                icon: 'error',
                                text: e.message,
                            });
                            console.log(e.message);
                            console.log(e.inner);
                        }
                    });
                } else if (result.isDenied) {

                }
            })
        }

        ///////

        function submit_form() {
            var raw_form = document.getElementById('form_create');
            var formData = new FormData(raw_form);

            $.ajax({
                type: 'POST',
                url: '/Information_ShareHolder/Import_Info_ShareHolder_addData',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                        window.location.href = "@Url.Action("Import_Info_ShareHolder","Information_ShareHolder")";
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        //load data details to table
        $(document).ready(function () {
            var table_1 = $("#kt_customers_table").DataTable({
                responsive: true,
                order: [[0, "asc"]],
                "ajax": {
                    "url": "/Information_ShareHolder/ImportInfo_ShareHolderData_getTable",
                    "type": "POST",
                    "datatype": "json",

                },
                "columns": [
                    {
                        "name": "count_row", "data": "count_row"
                    },
                    {
                        "name": "image_name", "data": "image_name", "class": "text-center", "render": function (data, type, row) {
                            var text = '<div class="mb-10" style="text-align:center;">' +
                                '<img src="/upload_image/ImportInfo_Shareholder/' + row.image_name + '" style="height: 250px;width: 250px;" alt="image">' +
                                '</div>';
                            return text;

                        }
                    },
                    {
                        "name": "image_name_ENG", "data": "image_name_ENG", "class": "text-center", "render": function (data, type, row) {
                            var text = '<div class="mb-10" style="text-align:center;">' +
                                '<img src="/upload_image/ImportInfo_Shareholder/' + row.image_name_ENG + '" style="height: 250px;width: 250px;" alt="image">' +
                                '</div>';
                            return text;

                        }
                    },
                    {
                        "name": "use_status", "data": "use_status", "render": function (data, type, row) {
                            if (row.use_status == 1) {
                                var text = '<div class="form-check form-switch">' +
                                    '<input class="form-check-input" checked type="checkbox" name="use_status" value="1" id="use_status" onchange="changeStatus(' + row.id + ',this)"> ' +
                                    '<label class="form-check-label" for="use_status">ใช้งาน</label>' +
                                    '</div>';
                                return text;
                            } else {
                                var text = '<div class="form-check form-switch">' +
                                    '<input class="form-check-input" type="checkbox" name="use_status" value="1" id="use_status" onchange="changeStatus(' + row.id + ',this)"> ' +
                                    '<label class="form-check-label" for="use_status">ใช้งาน</label>' +
                                    '</div>';
                                return text;
                            }
                        }
                    },
                    {
                        "name": "id", "data": "id", "class": "text-center", "render": function (data, type, row) {
                            var text = '<button type="button" class="btn btn-warning" onclick="edit_item(' + row.id + ')"><i class="bi bi-pencil-square"></i>แก้ไข</button>';
                            text += '<button type="button" class="btn btn-danger"style="margin-left: 15px;" onclick="delete_item(' + row.id + ')"><i class="bi bi-trash-fill"></i>ลบ</button>';
                            return text;

                        }
                    }
                ],
            });


            var table_2 = $("#kt_customers_table_2").DataTable({
                responsive: true,
                order: [[0, "asc"]],
                "ajax": {
                    "url": "/Information_ShareHolder/Major_ShareHolder_getTable",
                    "type": "POST",
                    "datatype": "json",

                },
                "columns": [
                    {
                        "name": "count_row", "data": "count_row"
                    },
                    {
                        "name": "nameTH", "data": "nameTH"
                    },
                    {
                        "name": "amount", "data": "amount"
                    },
                    {
                        "name": "percentPerAmount", "data": "percentPerAmount"
                    },
                    {
                        "name": "id", "data": "id", "class": "text-center", "render": function (data, type, row) {
                            var text = '<button type="button" class="btn btn-warning" onclick="edit_details(' + row.id + ')"><i class="bi bi-pencil-square"></i>แก้ไข</button>';
                            text += '<button type="button" class="btn btn-danger"style="margin-left: 15px;" onclick="delete_details(' + row.id + ')"><i class="bi bi-trash-fill"></i>ลบ</button>';
                            return text;

                        }
                    }
                ],
            });


            $('#search_table_2').keyup(function () {
                table_2.search($(this).val()).draw();
            })
        });

    </script>
}
