@model Lighting.Models.model_input

@{
    ViewData["Title"] = "SH_IR_propose_agenda";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3">รายงานประจำปี / ONE REPORT</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="@Url.Action("InvestorRelations_index","Corporate_Governance")" class="text-muted text-hover-primary">นักลงทุนสัมพันธ์</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">นโยบายการกำกับดูแลกิจการ</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">นโยบายการกำกับดูแลกิจการ</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            @*start*@
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    
                    <div class="mb-10">
                    </div>
                    
                <form id="form_create" enctype="multipart/form-data">
                    @{
                        if (Model.count_row_SH_IR_propose_agenda == 0)
                        {
                            <div class="row mb-3">
                                <div class="col-2">
                                    <span>
                                        หัวข้อ TH
                                    </span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="TitleTH" autocomplete="off" required />
                                </div>
                                <div class="col-2">
                                    <span>
                                        หัวข้อ ENG
                                    </span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="TitleENG" autocomplete="off" required />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-2">
                                    <span>
                                        หัวข้อ รายละเอียด TH
                                    </span>
                                </div>
                                <div class="col-4">
                                    <textarea type="text" class="form-control" name="detailsTitleTH" autocomplete="off" required ></textarea>
                                </div>
                                <div class="col-2">
                                    <span>
                                        หัวข้อ รายละเอียด ENG
                                    </span>
                                </div>
                                <div class="col-4">
                                    <textarea type="text" class="form-control" name="detailsTitleENG" autocomplete="off" required ></textarea>
                                </div>
                            </div>
                             
                        }
                        else
                        {

                            <div class="row mb-3">
                                <div class="col-2">
                                    <span>
                                        หัวข้อ TH
                                    </span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="TitleTH" value="@Model.fod_SH_IR_propose_agenda.titleTH" />
                                </div>
                                <div class="col-2">
                                    <span>
                                        หัวข้อ ENG
                                    </span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="TitleENG" value="@Model.fod_SH_IR_propose_agenda.titleENG" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-2">
                                    <span>
                                        รายละเอียด หัวข้อ TH
                                    </span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="detailsTitleTH" value="@Model.fod_SH_IR_propose_agenda.detailsTitleTH" required />
                                </div>
                                <div class="col-2">
                                    <span>
                                        รายละเอียด หัวข้อ ENG
                                    </span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="detailsTitleENG" value="@Model.fod_SH_IR_propose_agenda.detailsTitleENG" required />
                                </div>
                            </div>
                             
                        }
                    }

                </form>

                <div class="row mb-3" style="justify-content: right;">
                    <div class="col-1">
                        <a class="btn btn-success" onclick="submit_form()">บันทึก</a>
                    </div>
                </div>

                </div>

            </div>
            <!--end::Card body-->
            @*end*@

            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <!--begin::Search-->
                    <div class="d-flex align-items-center position-relative my-1">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-customer-table-filter="search" id="search_table_2" class="form-control form-control-solid w-250px ps-15" placeholder="ค้นหา" />
                    </div>
                    <!--end::Search-->
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                        <!--begin::Add customer-->
                        <a type="button" class="btn btn-primary" href="@Url.Action("SH_IR_propose_agenda_DataDetails","Information_ShareHolder")">เพิ่ม</a>
                        <!--end::Add customer-->
                    </div>
                    <!--end::Toolbar-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <h3>รายชื่อ</h3>
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table_2">
                    <!--begin::Table head-->
                    <thead>
                        <!--begin::Table row-->
                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                            <th>#</th> 
                            <th class="min-w-125px">หัวข้อ TH</th>
                            <th class="min-w-125px">หัวข้อ ENG</th>
                            <th class="min-w-125px">สถานะการใช้งาน</th>
                            <th class="text-end min-w-70px">รายละเอียด</th>
                        </tr>
                        <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="fw-semibold text-gray-600">
                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
                <div class="mb-10">
                </div>

            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->

    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
<!--end::Content-->
@section Scripts{

    <script>

        function submit_form() {
            var raw_form = document.getElementById('form_create');
            var formData = new FormData(raw_form);

            $.ajax({
                type: 'POST',
                url: '/Information_ShareHolder/SH_IR_propose_agenda_addData',
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        })
                        window.location.href = "@Url.Action("SH_IR_propose_agenda","Information_ShareHolder")";
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        function edit_details(id) {
            window.location.href = "@Url.Action("SH_IR_propose_agenda_DataDetails_edit","Information_ShareHolder")/" + id;
        }

        function changeStatus_cate(id, checked_obj) {
            $.ajax({
                type: "POST",
                cache: false,
                url: "/Information_ShareHolder/SH_IR_propose_agenda_DataDetails_changeStatus",
                data: {
                    id: id,
                    status: checked_obj.checked
                },    // multiple data sent using ajax
                success: function (data) {
                    if (data.status == "success") {
                        window.load
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }


        function delete_details(id) {
            Swal.fire({
                title: 'คุณต้องการจะลบหรือไม่?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'ใช่',
                denyButtonText: `ไม่ใช่`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: "/Information_ShareHolder/SH_IR_propose_agenda_DataDetails_delete",
                        data: {
                            Id: id
                        },    // multiple data sent using ajax
                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then((result) => {
                                    var oTable = $('#kt_customers_table_2').DataTable();
                                    oTable.ajax.reload(null, false);
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: data.message,
                                });
                            }
                        }, error: function (e) {
                            Swal.fire({
                                icon: 'error',
                                text: e.message,
                            });
                            console.log(e.message);
                            console.log(e.inner);
                        }
                    });
                } else if (result.isDenied) {

                }
            })
        }

        //load data details to table
        $(document).ready(function () {

            var table_2 = $("#kt_customers_table_2").DataTable({
                responsive: true,
                order: [[0, "asc"]],
                "ajax": {
                    "url": "/Information_ShareHolder/SH_IR_propose_agenda_DataDetails_getTable",
                    "type": "POST",
                    "datatype": "json",

                },
                "columns": [
                    {
                        "name": "count_row", "data": "count_row"
                    }, 
                    {
                        "name": "titleTH", "data": "titleTH"
                    },
                    {
                        "name": "titleENG", "data": "titleENG"
                    },
                    {
                        "name": "active_status", "data": "active_status", "render": function (data, type, row) {
                            if (row.active_status == 1) {
                                var text = '<div class="form-check form-switch">' +
                                    '<input class="form-check-input" checked type="checkbox" name="active_status" value="1" id="active_status" onchange="changeStatus_cate(' + row.id + ',this)"> ' +
                                    '<label class="form-check-label" for="active_status">ใช้งาน</label>' +
                                    '</div>';
                                return text;
                            } else {
                                var text = '<div class="form-check form-switch">' +
                                    '<input class="form-check-input" type="checkbox" name="active_status" value="1" id="active_status" onchange="changeStatus_cate(' + row.id + ',this)"> ' +
                                    '<label class="form-check-label" for="active_status">ใช้งาน</label>' +
                                    '</div>';
                                return text;
                            }


                        }
                    },
                    {
                        "name": "id", "data": "id", "class": "text-center", "render": function (data, type, row) {
                            var text = '<button type="button" class="btn btn-warning" onclick="edit_details(' + row.id + ')"><i class="bi bi-pencil-square"></i>แก้ไข</button>';
                            text += '<button type="button" class="btn btn-danger"style="margin-left: 15px;" onclick="delete_details(' + row.id + ')"><i class="bi bi-trash-fill"></i>ลบ</button>';
                            return text;

                        }
                    }
                ],
            });


            $('#search_table_2').keyup(function () {
                table_2.search($(this).val()).draw();
            })
        });

    </script>
}
