@{
    ViewData["Title"] = "Manage_Product_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@using Lighting.Areas.Identity.Data

<style>
    .add-product-container {
        width: 100%;
        height: auto;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .add-product {
        width: 80%;
        height: auto;
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto;
        gap: 2rem;
    }

    .add-product-grid-item {
        display: grid;
        grid-template-rows: auto auto;
        & > input[type="text"]

    {
        height: 4rem;
    }

    }

    .add-product-grid-link {
        height: 8rem;
        margin: 10px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        & > *

    {
        height: 4rem;
    }

    }

    .add-product-grid-spec {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-rows: 2rem auto auto auto auto;
        gap: 2rem;
        background-color: rgba(0,0,0,0.2);
        padding: 2rem;
        border-radius: 10px;
        & > h2{
            margin: -2rem;
            background-color: gray;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            border-radius: 10px;
        }
    }

    .add-spect-container {
        position: fixed;
        top: 0;
        left: auto;
        inset: 0;
        z-index: 10000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.2);
    }

    .spect-grid-container {
        display: grid;
        grid-auto-rows: auto;
    }

    .spect-grid-item {
        display: grid;
        grid-template-columns: auto auto 5rem;
        border-bottom:1px solid black;
        & > div
        {
            max-width: 100%;
            word-wrap: break-word;
            font-size: 1.7rem;
        }
    }

    .add-spect-box {
        width: 80%;
        min-width: 20vh;
        height: auto;
        border-radius: 10px;
        padding: 1rem;
        display: grid;
        grid-template-rows: 2rem auto 3rem 3rem auto 3rem;
        gap: 2rem;
        background-color: white;
        & > input[type="text"]

    {
        font-size: 2rem;
    }

    & > h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    }
</style>
<div style="display:flex;justify-content:space-between;margin:1rem 10%;">
    <div></div>
    <a href="@Url.Action("Manage_Product_Page","ManageProduct")" class="btn btn-primary">กลับ/back</a>
</div>
<div class="add-product-container">

    <div class="add-product">

        <div >
            <img src="" style="width:100%;display:none;" id="img_preview" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">
                รูปโชว์/Preview Image   <br />
                <span style="color:red;">
                    ขนาดรูปภาพ : 500 * 500 px
                </span>
            </label>
            <input class="form-control" type="file" id="file_img_preview" accept="image/*" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">
                รูปสเปค/Spact Image  <br />
                <span style="color:red;">
                    ขนาดรูปภาพ : 260 * 40 px
                </span>
            </label>
            <input class="form-control" type="file" id="spact_img_file" accept="image/*" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">เลือกหมวดหมู่/category</label>
            <select class="form-control" id="product_category_id">
                <option class="h5" selected>กรุณาเลือก</option>
                @foreach (var cat in (IEnumerable<Product_Category>)ViewData["category"])
                {
                    <option class="h5" value="@cat.Id">@cat.Name_TH/@cat.Name_EN</option>
                }
            </select>
        </div>

        <div class="add-product-grid-item">
            <label class="h4">เลือกชื่อรุ่น/model series</label>
            <select class="form-control" id="product_model_id">
                <option class="h5" selected>กรุณาเลือก</option>
                @foreach (var model_data in (IEnumerable<Product_Model>)ViewData["model"])
                {
                    <option class="h5" value="@model_data.Id">@model_data.Name_TH/@model_data.Name_EN</option>
                }
            </select>
        </div>

        <div class="add-product-grid-item">
            <label class="h4">ชื่อรุ่น/model name</label>
            <input type="text" placeholder="ชื่อรุ่น" id="model_name" />
        </div>

        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" i>ชื่อประเภท/Category Name</span>
                </div>
                <input type="text" class="form-control" id="category_name_th" placeholder="ภาษาไทย">
                <input type="text" class="form-control" id="category_name_en" placeholder="English">
            </div>
        </div>

        <div class="add-product-grid-item">
            <label class="h4">CUTSHEET</label>
            <input class="form-control" type="file" id="cut_sheet_file" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">IES FILE</label>
            <input class="form-control" type="file" id="ies_file" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">CATALOGUE</label>
            <input class="form-control" type="file" id="catalogue_file" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">RFA FILE</label>
            <input class="form-control" type="file" id="rfa_file" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">More Information</label>
            <input type="text" placeholder="https://More.Information" id="more_info" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">การใช้งาน/Application</label>
            <textarea id="application"></textarea>
        </div>

        <div class="add-product-grid-item">
            <label class="h4">
                Photometric Data Image<br />
                <span style="color:red;">
                    ขนาดรูปภาพ : 500 * 500 px
                </span>
            </label>
            <input class="form-control" type="file" multiple id="light_distribute_file" accept="image/*" />
        </div>

        <div class="add-product-grid-item">
            <label class="h4">
                Dimension Image<br />
                <span style="color:red;">
                    ขนาดรูปภาพ : 500 * 500 px
                </span>
            </label>
            <input class="form-control" type="file" multiple id="technical_img_file" accept="image/*" />
        </div>

        <div class="add-product-grid-spec">
            <h2>สเปค / Spacification </h2>

            <div class="add-product-grid-item">
                <label class="h4">Dimension</label>
                <input type="text" placeholder="Dimension" id="Dimension" />
            </div>

            <div class="add-product-grid-item">
                <label class="h4">Power</label>
                <input type="text" placeholder="Power" id="Power" />
            </div>

            <div class="add-product-grid-item">
                <label class="h4">IP Rating</label>
                <input type="text" placeholder="IP Rating" id="IP_Rating" />
            </div>
            @*
            <div class="add-product-grid-item">
            <label class="h4">Housing</label>
            <input type="text" placeholder="Housing" id="Housing" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Finishing</label>
            <input type="text" placeholder="Finishing" id="Finishing" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Lens</label>
            <input type="text" placeholder="Lens" id="Lens" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Gasket</label>
            <input type="text" placeholder="Gasket" id="Gasket" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Mounting</label>
            <input type="text" placeholder="Mounting" id="Mounting" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Source</label>
            <input type="text" placeholder="Source" id="Source" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Lamp Colour</label>
            <input type="text" placeholder="Lamp Colour" id="Lamp_Colour" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Luminaire Output</label>
            <input type="text" placeholder="Luminaire Output" id="Luminaire_Output" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Beam Angle</label>
            <input type="text" placeholder="Beam Angle" id="Beam_Angle" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Control Gear</label>
            <input type="text" placeholder="Control Gear" id="Control_Gear" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Power Supply</label>
            <input type="text" placeholder="Power Supply" id="Power_Supply" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Luminaire Lifetime</label>
            <input type="text" placeholder="Luminaire Lifetime" id="Luminaire_Lifetime" />
            </div>

            <div class="add-product-grid-item">
            <label class="h4">Equivalent</label>
            <input type="text" placeholder="Equivalent" id="Equivalent" />
            </div>
            *@
            <div id="spect_container" class="spect-grid-container">
            </div>
            <center><button onclick="showHideSpect()" class="btn btn-success">เพิ่มสเปค/add space</button> </center>
        </div>
       

    </div>
    <br />
    <br />
    <centter style="margin-bottom:3rem;"><button onclick="addProduct()" class="btn btn-success">บันทึก/save</button></centter>
</div>

<div class="add-spect-container" style="display:none;" id="add_spect">
    <div class="add-spect-box">
        <h3>เพิ่มสเปค</h3>
        <div></div>
        <input type="text" placeholder="ชื่อสเปค" id="txt_spect_name" />
        <input type="text" placeholder="ค่าของสเปค" id="txt_spect_value" />
        <div></div>
        <div style="display:flex;justify-content:space-between">
            <button class="btn btn-success" onclick="addSpect()">เพิ่ม/add</button>
            <button class="btn btn-warning" onclick="showHideSpect()">ยกเลิก/cancle</button>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var specification = [], spect_num = 0;
        var preview_img, spact_img_file, CutSheet_file, IesFile_file, Catalogue_file, rfa_file, technical_file, light_distribute_file;

        $(document).ready(function () {
            $('#file_img_preview').change(async function (e) {
                if (e.target.files.length === 1) {
                    preview_img = e.target.files[0];
                    $('#img_preview').attr('src', await blobToBase64DataURL(preview_img)).css("display", "block");
                }
            });
            $('#spact_img_file').change(function (e) {
                if (e.target.files.length === 1) {
                    spact_img_file = e.target.files[0];
                }
            });
            $('#cut_sheet_file').change(function (e) {
                if (e.target.files.length === 1) {
                    CutSheet_file = e.target.files[0];
                }
            });
            $('#ies_file').change(function (e) {
                if (e.target.files.length === 1) {
                    IesFile_file = e.target.files[0];
                }
            });
            $('#catalogue_file').change(function (e) {
                if (e.target.files.length === 1) {
                    Catalogue_file = e.target.files[0];
                }
            });

            $('#rfa_file').change(function (e) {
                if (e.target.files.length === 1) {
                    rfa_file = e.target.files[0];
                }
            });

            $('#technical_img_file').change(function (e) {
                if (e.target.files.length >= 1) {
                    technical_file = e.target.files;
                }
            });
            $('#light_distribute_file').change(function (e) {
                if (e.target.files.length >= 1) {
                    light_distribute_file = e.target.files;
                }
            });
        });

        function showHideSpect() {
            if ($("#add_spect").css("display") === "none") {
                $("#add_spect").css("display", "flex");
            } else {
                $("#add_spect").css("display", "none");
            }
        }

        function addSpect() {
            let name = $("#txt_spect_name").val();
            let value = $("#txt_spect_value").val();
            if (name !== "" && value !== "") {
                specification.push({ id: spect_num, name: name, value: value });
                let html_spect = specification.reduce((prev, curr) =>
                    prev += `<div class="spect-grid-item" id="spect${curr.id}">
                                    <div> ${curr.name}</div>
                                    <div> ${curr.value}</div>
                                            <button class= "btn btn-danger" onclick = "deleteSpect(${curr.id})" > ลบ </button>
                            </div>`, "");
                $("#spect_container").html(html_spect);
                spect_num++;
                showHideSpect();
                $("#txt_spect_name").val('');
                $("#txt_spect_value").val('');
            }
        }
        function deleteSpect(id) {
            specification = specification.filter(x => x.id != id);
            let html_spect = specification.reduce((prev, curr) =>
                prev += `<div class="spect-grid-item" id="spect${curr.id}">
                           <div> ${curr.name}</div>
                           <div> ${curr.value}</div>
                           <button class= "btn btn-danger" onclick = "deleteSpect(${curr.id})" > ลบ </button>
                         </div>`, "");

            $("#spect_container").html(html_spect);
        }
        function addProduct() {

            let form = new FormData();

            form.append("Product_CategoryId", $("#product_category_id").val());
            form.append("Product_ModelId", $("#product_model_id").val());
            form.append("Model", $("#model_name").val());
            form.append("Type_TH", $("#category_name_th").val());
            form.append("Type_EN", $("#category_name_en").val());
            form.append("Preview_Image", preview_img);

            form.append("CUTSHEET", CutSheet_file);
            form.append("IESFILE", IesFile_file);
            form.append("CATALOGUE", Catalogue_file);
            form.append("SUB_IMG", spact_img_file);
            form.append("RFA", rfa_file);
            form.append("MORE_INFORMATION", $("#more_info").val());

            form.append("Application", $("#application").val());
            //form.append("Technical_Drawing", $("#").val());
            //spect
            form.append("IP_Rating", $("#IP_Rating").val());
            form.append("Power", $("#Power").val());
            form.append("Dimension", $("#Dimension").val());
            if (specification.length > 0){
                for (const spect of specification) {
                    form.append("Spect_Name", spect.name);
                    form.append("Spect_Value", spect.value);
                }
            }
            //form.append("Housing", $("#Housing").val());
            //form.append("Finishing", $("#Finishing").val());
            //form.append("Lens", $("#Lens").val());
            //form.append("Gasket", $("#Gasket").val());      
            //form.append("Mounting", $("#Mounting").val());
            //form.append("Source", $("#Source").val());
            //form.append("Lamp_Colour", $("#Lamp_Colour").val());
            //form.append("Luminaire_Output", $("#Luminaire_Output").val());
            //form.append("Beam_Angle", $("#Beam_Angle").val());
            //form.append("Control_Gear", $("#Control_Gear").val());
            //form.append("Power_Supply", $("#Power_Supply").val());
            
            form.append("Luminaire_Lifetime", $("#Luminaire_Lifetime").val());
            form.append("Equivalent", $("#Equivalent").val());

            if (light_distribute_file != undefined) {
                for (const file of light_distribute_file) {
                    form.append("LIGHT_DISTRIBUTION", file);
                }
            }

            if (technical_file != undefined) {
                for (const file of technical_file) {
                    form.append("Technical_Drawing_Img", file);
                }
            }



            $.ajax({
                type: 'POST',
                url: '/ManageProduct/Add_Product',
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            window.location.href = "/ManageProduct/Manage_Product_Page";
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });

                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );
    </script>
}