@{
    ViewData["Title"] = "Manage_Product_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@using Lighting.Areas.Identity.Data
@model IEnumerable<Lighting.Models.InputFilterModels.Product.Output_ProductVM>

<style>
    .product-menu {
        display: flex;
        justify-content: space-between;
        height: auto;
        background-color: rgba(0,0,0,0.5);
        padding: 2rem;
        margin-bottom: 2rem;
        gap:1rem;
    }
    #search-bar{
        display:grid;
        grid-template-columns:1fr 1fr 10rem;
        margin-top:2rem;
    }
</style>

<div class="container">
    <div class="product-menu">
        <a href="@Url.Action("Manage_Category_Page","ManageProduct")" class="btn btn-primary">เพิ่มหมวดหมู่/Add Category</a>
        <a href="@Url.Action("Manage_Model_Page","ManageProduct")" class="btn btn-primary">เพิ่มโมเดล/Add Model</a>
        <a href="@Url.Action("Add_Product_Page","ManageProduct")" class="btn btn-primary">เพิ่มโปรดัก/Add Product </a>
        <button class="btn btn-primary" onclick="opendSearch()" id="btn_search">ค้นหา/search </button>
    </div>

    <div id="search-bar" style="display:none;">
        <input type="text" placeholder="ค้นหารุ่น/model name" id="txt_search_input"/>
        <select class="form-control" id="search_product_category_id">
            <option class="h5" value="-1" selected>กรุณาเลือกหมวดหมู๋/select category</option>
            @foreach (var cat in (IEnumerable<Product_Category>)ViewData["category"])
            {
                <option class="h5" value="@cat.Id">@cat.Name_TH/@cat.Name_EN</option>
            }
        </select>
        <button class="btn bg-success" onclick="search()">ค้นหา/search</button>
    </div>

    <div class="row mt-5" id="search_table" style="display:none;">

        <table class="table mt-3" id="show_search_table">
            <thead>
                <tr style="border-top:1px solid black;border-bottom:1px solid black;">
                    <th scope="col">#</th>
                    <th scope="col">รูปปก/Image Preview</th>
                    <th scope="col">ชื่อรุ่น/Model Name</th>
                    <th scope="col">ชื่อประเภท/Type Name</th>
                    <th scope="col">กำลัง/power</th>
                    <th scope="col" class="text-center">จัดการ/Manage</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

    <div class="row mt-5" id="table">

        <table class="table mt-3">
            <thead>
                <tr style="border-top:1px solid black;border-bottom:1px solid black;">
                    <th scope="col">#</th>
                    <th scope="col">รูปปก/Image Preview</th>
                    <th scope="col">ชื่อรุ่น/Model Name</th>
                    <th scope="col">ชื่อประเภท/Type Name</th>
                    <th scope="col">กำลัง/power</th>
                    <th scope="col" class="text-center">จัดการ/Manage</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var product in Model)
                {
                    <tr id="@product.Id">
                        <th scope="row">@i</th>
                        <td><img src="@product.Preview_Imamge" style="width:100px;height:100px;" /> </td>
                        <td>@product.Model</td>
                        <td>@product.Type_TH / @product.Type_TH</td>
                        <td>@product.Power</td>
                        <td class="text-center">
                            <a href="@Url.Action("Edit_Product_Page","ManageProduct",new {id= product.Id})" type="button" class="btn btn-warning">
                                <i class="bi bi-pencil-square"></i>แก้ไข/edit
                            </a>
                            <button type="button" class="btn btn-danger" onclick="deleteRowById(@product.Id)">
                                <i class="bi bi-trash-fill"></i>ลบ/delete
                            </button>
                        </td>
                        @{
                            i = i + 1;
                        }
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script>

        var jsonAllSearch;

        $(document).ready(function () {
            $.ajax({
                type: 'POST',
                url: '/ManageProduct/Search',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {

                    console.log(data);
                    jsonAllSearch = data;

                }, error: function (e) {
                    console.log(e);
                }
            });
        });

        function opendSearch(){
           let search = $("#search_table").css("display");
           if(search == "none"){
                $("#search_table").css("display", "block");
                $("#table").css("display", "none");
                $("#search-bar").css("display", "grid");
                $("#btn_search").html("ซ่อน/hide");
           }else
           {
                $("#search_table").css("display", "none");
                $("#table").css("display", "block");
                $("#search-bar").css("display", "none");
                $("#btn_search").html("ค้นหา/search");
           }
        }

        function search(){
            let category = $("#search_product_category_id").val();
            let modelName = $("#txt_search_input").val();

            if (jsonAllSearch !== undefined){
                let search = jsonAllSearch;
                if(category != -1){
                    search = search.filter(x => x.product_CategoryId == category);
                }
                if (modelName != "") {
                    search = search.filter(x => x.model.toLocaleLowerCase().startsWith(modelName.toLocaleLowerCase()));
                }

                let concat_str = search.reduce((prev, curr) =>
                    prev += `<tr id="${curr.id}">
                                <th scope="row"></th>
                                        <td><img src="${curr.preview_Imamge}" style="width:100px;height:100px;" /> </td>
                                        <td>${curr.model}</td>
                                        <td>${ curr.type_EN} /${curr.type_TH}</td>
                                        <td>${curr.power}</td>
                                        <td class="text-center">
                                        <a href="/ManageProduct/Edit_Product_Page?id=${curr.id}" type="button" class="btn btn-warning">
                                            <i class="bi bi-pencil-square"></i>แก้ไข/edit
                                         </a>
                                        <button type="button" class="btn btn-danger" onclick="deleteRowById(${curr.id})">
                                            <i class="bi bi-trash-fill"></i>ลบ/delete
                                        </button>
                                         </td>
                                </tr>`,"");

                tableBody = $("#show_search_table tbody");
                tableBody.html(concat_str);
            }
        }

        function deleteRowById(id) 
        {

            Swal.fire({
                icon: 'warning',
                title: "คุณแน่ใจว่าต้องการลบ?",
                text: "",
                showConfirmButton: true,
            }).then((confirm) => {
                if (confirm.isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/ManageProduct/Delete_ProductById?id=' + id,
                        processData: false,
                        contentType: false,
                        cache: false,
                        beforeSend: function () {
                            Swal.fire('Please wait')
                            Swal.showLoading()
                        },
                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {

                                    $("#" + id).remove();//remove search
                                    $("#" + id).remove();//remove real table
                                    jsonAllSearch = jsonAllSearch.filter(x => x.id !== id);
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: data.message,
                                });
                            }
                        }, error: function (e) {
                            Swal.fire({
                                icon: 'error',
                                text: e.message,
                            });
                            console.log(e.message);
                            console.log(e.inner);
                        }
                    });

                } else {

                }
            });
        }
    </script>
}