@{
    ViewData["Title"] = "Manage_Product_Page";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@model IEnumerable<Lighting.Models.InputFilterModels.Product.Output_ProductCategoryVM>

<div class="container" style="width:100%;">

    <div class="row d-flex justify-content-between mb-3">
        <div class="col d-flex justify-content-between">
            <div>
                <button class="btn btn-primary" id="btn_add_category">เพิ่มหมวดหมู่/add category</button>
            </div>
            <a href="@Url.Action("Manage_Product_Page","ManageProduct")" class="btn btn-primary rounded-2">
                กลับ/back
            </a>
        </div>
    </div>


    <div class="row mt-3" style="display:none;" id="add_category">
        <div class="col-12 text-center">
            <img style="width:100%;height:50vh;display:none;" id="img_preview" />
        </div>
        <div class="col-12 " style="margin-top:3rem;">
            @*<img style="width:20vh;height:20vh;display:none;" id="image_preview" />*@
            <label for="formFile" class="form-label">เลือกไฟล์รูปหมวดหมู่</label>
            <input class="form-control" type="file" accept="image/*" id="img_file" />
            <div class="input-group" style="margin-top:2rem;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">ชื่อหมวดหมู่/Category Name</span>
                </div>
                <input type="text" class="form-control" id="category_name_th" placeholder="ภาษาไทย">
                <input type="text" class="form-control" id="category_name_en" placeholder="English">
            </div>
        </div>
        <center><button class="btn btn-success" style="margin-top:3rem;" onclick="addCategory()">บันทึก/save</button></center>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <table class="table mt-3">
            <thead>
                <tr style="border-top:1px solid black;border-bottom:1px solid black;">
                    <th scope="col">#</th>
                    <th scope="col">รูป/image</th>
                    <th scope="col">หมวดหมู่/Category</th>
                    <th scope="col" class="text-center">จัดการ/Manage</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var cat in Model)
                {
                    <tr id="@cat.Id">
                        <th scope="row">@i</th>
                        <td><img src="@cat.Image" style="width:100px;height:100px;" /></td>
                            <td style="word-wrap:break-word;max-width:500px;">@cat.Name_TH / @cat.Name_EN</td>
                        <td class="text-center">
                            <button type="button" class="btn btn-warning" onclick="edit(@cat.Id,'@cat.Name_TH','@cat.Name_EN','@cat.Image.Replace("\\","//")')">
                                <i class="bi bi-pencil-square"></i>แก้ไข/edit
                            </button>
                            <button type="button" class="btn btn-danger" onclick="deleteRowById(@cat.Id)">
                                <i class="bi bi-trash-fill"></i>ลบ/delete
                            </button>
                        </td>
                        @{
                            i++;
                        }
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>

<div style="position:fixed;inset:0;background-color:rgba(0,0,0,0.5);display:none;justify-content:center;flex-direction:column;align-items:center;z-index:10" id="edit_page">
    <div style="width:50%;height:auto;background-color:white;display:grid;grid-template-rows:auto 3rem 3rem 3rem auto;gap:3rem;border-radius:10px;padding:3rem;">
        <div>
            <img style="width:100%;height:100%;" id="edit_img"/>
        </div>
        <div>
            <input class="form-control" type="file" accept="image/*" id="change_img" />
        </div>
        <div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">ชื่อหมวดหมู่/Category Name</span>
                </div>
                <input type="text" class="form-control" id="edit_category_name_th" placeholder="ภาษาไทย">
                <input type="text" class="form-control" id="edit_category_name_en" placeholder="English">
            </div>
        </div>
        <center>
            <button class="btn btn-success" style="margin:3rem;" onclick="saveEdit()">บันทึก/save</button>
            <button class="btn btn-primary btn-danger" style="margin:3rem;" onclick="closeEdit()">ปิด/close</button>
        </center>
        <div></div>
    </div>
</div>

@section Scripts{
    <script>

        var edit_id = null;
        var img_preview;
        var edit_img;
        $(document).ready(function () {

            $("#btn_add_category").on("click", function () {
                let display = $("#add_category").css("display");
                if (display == "none") {
                    $("#add_category").css("display", "block");
                } else {
                    $("#add_category").css("display", "none");
                }
            });

            $('#img_file').change(async function (e) {
                if (e.target.files.length === 1) {
                    img_preview = e.target.files[0];
                    $('#img_preview').attr('src', await blobToBase64DataURL(img_preview)).css("display", "block");
                }
            });

            $('#change_img').change(async function (e) {
                if (e.target.files.length === 1) {
                    edit_img = e.target.files[0];
                    $('#edit_img').attr('src', await blobToBase64DataURL(edit_img)).css("display", "block");
                }
            });

        });

        function addCategory() {
            let category_name_th = $("#category_name_th").val();
            let category_name_en = $("#category_name_en").val();

            let form = new FormData();
            form.append("Name_TH", category_name_th);
            form.append("Name_EN", category_name_en);
            if (img_preview != undefined) {
                form.append("Image", img_preview);
            }

            //ajax
            $.ajax({
                type: 'POST',
                url: '/ManageProduct/Add_Category',
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            window.location.href = "/ManageProduct/Manage_Category_Page";
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }

        function edit(id, name_th, name_en, img) {
            edit_id = id;
            $("#edit_page").css("display", "flex");
            $("#edit_category_name_th").val(name_th);
            $("#edit_category_name_en").val(name_en);
            $("#edit_img").attr("src",img);
        }

        function closeEdit() {
            $("#edit_page").css("display", "none");
        }

        function saveEdit() {

            if (!edit_id) {
                Swal.fire({
                    icon: 'error',
                    text: "กรุณาเลือกค้าที่ต้องการแก้ไข",
                });
            }

            let category_name_th = $("#edit_category_name_th").val();
            let category_name_en = $("#edit_category_name_en").val();


            let form = new FormData();
            form.append("Name_TH", category_name_th);
            form.append("Name_EN", category_name_en);

            if (edit_img != undefined) {
                form.append("Image", edit_img);
            }

            //ajax
            $.ajax({
                type: 'POST',
                url: '/ManageProduct/Edit_CategoryById?id=' + edit_id,
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            //append file
                            edit_id = null;
                            window.location.href = "/ManageProduct/Manage_Category_Page";
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
        }


        function deleteRowById(id) {

            Swal.fire({
                icon: 'warning',
                title: "คุณแน่ใจว่าต้องการลบ?",
                text: "",
                showConfirmButton: true,
            }).then((confirm) => {
                if (confirm.isConfirmed) {

                    $.ajax({
                        type: 'POST',
                        url: '/ManageProduct/Delete_CategoryById?id=' + id,
                        processData: false,
                        contentType: false,
                        cache: false,
                        beforeSend: function () {
                            Swal.fire('Please wait')
                            Swal.showLoading()
                        },
                        success: function (data) {
                            if (data.status == "success") {
                                Swal.fire({
                                    icon: 'success',
                                    title: data.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {

                                    $("#" + id).remove();
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'warning',
                                    text: data.message,
                                });
                            }
                        }, error: function (e) {
                            Swal.fire({
                                icon: 'error',
                                text: e.message,
                            });
                            console.log(e.message);
                            console.log(e.inner);
                        }
                    });

                } else {

                }
            });
        }

        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );
    </script>
}
