@{
    ViewData["Title"] = "ApplyJob";
    Layout = "~/Views/Shared/Layout/Frontend_Layout.cshtml";
    var lang = Context.Request.Cookies["lang"];
}
@model IEnumerable<Lighting.Models.InputFilterModels.ApplyJob.Output_ApplyJobVM>

<div class="top-page">
    <div class="container">
        <div class="row">
            <div class="col">APPLY JOB</div>
        </div>
    </div>
</div>
<!---------- APPLY JOB ---------->
<div class="content-padding foot-pad">
    <div class="container-fluid">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <a class="img-width imgBD hover-img mb-3" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><img src="~/Frontend_assets/images/job/job01.jpg"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <a class="img-width imgBD hover-img" href="~/Frontend_assets/images/testPDF.pdf" target="_blank"><img src="~/Frontend_assets/images/job/job02.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="job-acc">
                        <div class="panel-group" id="j-accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <!-- POSITION :: 01 -->
                                @if (lang == "EN")
                                {

                                    @foreach (var job in Model)
                                    {

                                        <div class="panel-heading" role="tab">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>@job.PositionName_EN</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="job-position">
                                                        <li><i class="fas fa-calendar-alt"></i>@job.Date_EN</li>
                                                        <li><i class="fas fa-user"></i>@job.Quantity position</li>
                                                        <li><i class="fas fa-building"></i>@job.WorkPlace_EN</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a data-toggle="collapse" data-parent="#j-accordion" href="#@job.Id" aria-expanded="true">
                                                        <ul>
                                                            <li>View More</li>
                                                            <li>View Less</li>
                                                        </ul>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="@job.Id" class="panel-collapse collapse" role="tabpanel" data-parent="#j-accordion">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Responsibilities</h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        @if (job.Respondsibility_EN != null){
                                                            Html.Raw(job.Respondsibility_EN.Replace("<ul>", "<ul class='list-decor'>"));
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>Qualification</h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        @if (job.Qualification_EN != null){
                                                            Html.Raw(job.Qualification_EN.Replace("<ul>", "<ul class='list-decor'>"));
                                                        }
                                                    </div>
                                                </div>
                                                <div class="job-contact">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="doubleBD"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                            <div class="row">
                                                                <div class="f-17">To apply, please send full resumes with your lastand expected salary to</div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="icon-circle"><i class="fas fa-envelope"></i></div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <ul class="contact-list">
                                                                        <li><a href="mailto:@job.Email1">@job.Email1</a></li>
                                                                        <li><a href="mailto:@job.Email2">@job.Email2</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                            <div class="row">
                                                                <div class="f-17">For any questions please contact to</div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="icon-circle"><i class="fas fa-phone-alt"></i></div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <ul class="contact-list">
                                                                        <li>@job.PhoneNumber</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    @foreach (var job in Model)
                                    {
                                        <div class="panel-heading" role="tab">
                                            <div class="row">
                                                <div class="col">
                                                    <h5>@job.PositionName_TH</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <ul class="job-position">
                                                        <li><i class="fas fa-calendar-alt"></i>@job.Date_TH</li>
                                                        <li><i class="fas fa-user"></i>@job.Quantity อัตรา</li>
                                                        <li><i class="fas fa-building"></i>@job.WorkPlace_TH</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <a data-toggle="collapse" data-parent="#j-accordion" href="#@job.Id" aria-expanded="true">
                                                        <ul>
                                                            <li>แสดงเพิ่มเติม</li>
                                                            <li>แสดงน้อยลง</li>
                                                        </ul>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="@job.Id" class="panel-collapse collapse" role="tabpanel" data-parent="#j-accordion">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>ความรับผิดชอบ</h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        @if (job.Respondsibility_TH != null)
                                                        {
                                                            Html.Raw(job.Respondsibility_TH.Replace("<ul>", "<ul class='list-decor'>"));
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <h6>คุณสมบัติ</h6>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        @if (job.Qualification_TH != null)
                                                        {
                                                            Html.Raw(job.Qualification_TH.Replace("<ul>", "<ul class='list-decor'>"));
                                                        }
                                                    </div>
                                                </div>
                                                <div class="job-contact">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="doubleBD"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                            <div class="row">
                                                                <div class="f-17">กรุณาส่งเรซูเม่และระบุเงินเดือนที่ต้องการ</div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="icon-circle"><i class="fas fa-envelope"></i></div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <ul class="contact-list">
                                                                        <li><a href="mailto:@job.Email1">@job.Email1</a></li>
                                                                        <li><a href="mailto:@job.Email2">@job.Email2</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                                                            <div class="row">
                                                                <div class="f-17">หากมีคำถามกรุณาติดต่อ</div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="icon-circle"><i class="fas fa-phone-alt"></i></div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <ul class="contact-list">
                                                                        <li>@job.PhoneNumber</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>