@{
    ViewData["Title"] = "Edite News";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@model Lighting.Models.InputFilterModels.News.Output_NewsVm
<div class="container">
    <div class="row p-1">
        <div class="col-12">

            <!--title-->
            <div class="form-group mt-2 p-1">
                <label class="h4">หัวข้อ (ภาษาไทย)</label>
                <input type="text" class="form-control" id="title_th" value="@Model.Title_TH" placeholder="กรอกหัวข้อ">
            </div>
            <div class="form-group mt-3 p-1">
                <label class="h4">Title (English)</label>
                <input type="text" class="form-control" id="title_en" value="@Model.Title_EN" placeholder="Enter Title Englist">
            </div>
            <!--end title-->
            <!--create date-->
            <div class="form-group mt-2 p-1">
                <label class="h4">วันที่</label>
                <input type="text" class="form-control" id="date_th" value="@Model.CreateDate_TH" placeholder="01 ม.ค. 2566">
            </div>
            <div class="form-group mt-3 p-1">
                <label class="h4">Date</label>
                <input type="text" class="form-control" id="date_en" value="@Model.CreateDate_EN" placeholder="01 JAN 2023">
            </div>
            <!--create date-->
            <!--content-->
            <div class="form-group mt-3 p-1">
                <label class="h4">คอนเทนต์ (ภาษาไทย)</label>
                <textarea id="Content_TH">@Model.Content_TH</textarea>
            </div>
            <div class="form-group mt-3 p-1">
                <label class="h4">Content (English)</label>
                <textarea id="Content_EN">@Model.Content_EN</textarea>
            </div>
            <!--end content-->
            <!--file-->
            <img id="preview_show_img" class="mt-3" style="width:200px;height:200px;" src="@Model.TitleImage" /> <!--img preview-->
            <div class="custom-file mt-3 p-1">
                <input type="file" class="custom-file-input" id="file_title" accept="image/png, image/gif, image/jpeg">
                <label class="custom-file-label h4">เปลี่ยนรูป หัวข้อ</label>
            </div>
            <div class="d-flex justify-content-start flex-wrap mt-3" id="preview_sub_img">
                @for (var index=0; index <  Model.ImgList.Count; index++)
                {
                    <div class="position-relative m-3" style="width:200px;height:200px;" id='@index' >
                    <img class=" postion-absolute" style="width:100%;height:100%;" src="@Model.ImgList[index]" />
                        <div class="position-absolute bg-dark text-danger d-flex justify-content-center" style="top:0;right:0;width:3rem;height:3rem;font-size:2rem;text-align: center;" onClick="delete_img_show_sub(@index,'@Model.ImgList[index]')">&times;</div>
                    </div>
                }
            </div> 
            <!--img preview-->
            <div class="custom-file mt-3 p-1">
                <input type="file" class="custom-file-input" id="file_sub_img" accept="image/png, image/gif, image/jpeg" multiple>
                <label class="custom-file-label h4">เพิ่มรูป รูปประกอบ</label>
            </div>
            <!--end file-->

            <button onclick="submit_form()" class="btn btn-primary mt-3 mb-5">submit</button>

        </div>
    </div>
</div>

@section Scripts{
    <script>

        var editorTH;
        var editorEN;
        ClassicEditor
            .create(document.querySelector('#Content_TH'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                editorTH = editor;
            })
            .catch(error => {
                console.error(error);
            });
        ClassicEditor
            .create(document.querySelector('#Content_EN'))
            .then(editor => {
                console.log('Editor was initialized', editor);
                editorEN = editor;
            })
            .catch(error => {
                console.error(error);
            });

        var file_title;
        var files_sub_img;

        $(document).ready(function () {
            $('#file_title').change(async function (e) {
                if (e.target.files.length === 1) {
                    file_title = e.target.files[0];
                    $('#preview_show_img').attr('src', await blobToBase64DataURL(file_title)).css("display", "block");
                }
            });
            $('#file_sub_img').change(async function (e) {
                files_sub_img = null;
                files_sub_img = e.target.files;
                if (files_sub_img.length > 0) {
                    let inner_html_img = "";
                    let id_img = 0;
                    for (file of files_sub_img) {
                        inner_html_img += '<div class="position-relative m-3" style="width:200px;height:200px;" id="preview_img_id' + id_img + '" >';
                        inner_html_img += '<img class=" postion-absolute" style="width:100%;height:100%;" src="' + await blobToBase64DataURL(file) + '" />';
                        inner_html_img += '<div class="position-absolute bg-dark text-danger d-flex justify-content-center" style="top:0;right:0;width:3rem;height:3rem;font-size:2rem;text-align: center;" onClick="delete_sub_img(' + id_img + ')">&times;</div>';
                        inner_html_img += '</div>';
                        id_img++;
                    }
                    $('#preview_sub_img').append(inner_html_img);
                }
            });
        });

        function delete_img_show_sub(id,path) {
            var form = new FormData();
            form.append("path", path);

            $.ajax({
                type: 'POST',
                url: '/News/Delete_Img',
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            $('#preview_sub_img').parent().find('#' + id).remove();
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });
            
        }

        function delete_sub_img(id) {
            let new_img = [];
            let index = 0;
            for (const file of files_sub_img) {
                if (index !== id) {
                    new_img.push(file);
                }
                index++;
            }
            files_sub_img = new_img;
            console.log(files_sub_img);
            $('#preview_sub_img').parent().find('#preview_img_id' + id).remove();
        }

        const blobToBase64DataURL = blob => new Promise(
            resolvePromise => {
                const reader = new FileReader();
                reader.onload = () => resolvePromise(reader.result);
                reader.readAsDataURL(blob);
            }
        );

        function submit_form() {

            const title_th = $("#title_th").val();
            const title_en = $("#title_en").val();

            const content_th = editorTH.getData();
            const content_en = editorEN.getData();

            const date_th = $("#date_th").val();
            const date_en = $("#date_en").val();

            var formData = new FormData();
            formData.append("Title_TH", title_th);
            formData.append("Title_EN", title_en);
            formData.append("Content_TH", content_th);
            formData.append("Content_EN", content_en);
            formData.append("TitleImage", file_title);

            formData.append("CreateDate_TH", date_th);
            formData.append("CreateDate_EN", date_en);

            console.log(files_sub_img);
            if (files_sub_img != undefined) {
                for (const file of files_sub_img) {
                    formData.append("ImgList", file);
                }
            }
            //use param
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            $.ajax({
                type: 'POST',
                url: '/News/Edit?id=' + urlParams.get('id'),
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function () {
                    Swal.fire('Please wait')
                    Swal.showLoading()
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 2000
                        }).then(() => {
                            window.location.href = "/news/manage_news_page"
                        });
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            text: data.message,
                        });
                    }
                }, error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        text: e.message,
                    });
                    console.log(e.message);
                    console.log(e.inner);
                }
            });


        }
    </script>
}